
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.quilljs.com/1.2.3/quill.snow.css" rel="stylesheet">
@section Scripts{
    @*<script src="~/Areas/Admin/JS/EditDeletePage.js"></script>*@

}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.PageName</h2>
    </div>
</div>
<br />
<div class="row dropdown col-md-12">
    <select id="country"></select>
</div>
<br />
<br />
<br />
<div class="row dropdown col-md-12">
    <select id="county">
        <option value=0>Select County</option>
    </select>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Page URL</h2>
        <input type="text" class="clear" id="PageUrl" size="50px" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2> Background Image</h2>
        <input type="file" accept="image/*" class="clear" id="ImgUpload" />
        <input type="hidden" id="headerFileName" value="" /><br />
    </div>
    <div class="col-md-12">
        <a href="#" id="headerImage" class="pop" style="text-decoration:underline;display:none">
            Click here to see the image
        </a>
        <img id="imageresource" src="~/landingpageImages/" style="width: 400px; height: 264px; display:none">
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="top: 13%;left: 10%;width: 455px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                    </div>
                    <div class="modal-body">
                        <img src="" id="imagepreview" style="width: 400px; height: 264px;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2> Header Text</h2>

        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="headerText" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2> First Col Header</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="firstColHeader" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>First Col Text</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="firstColText" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="text-align:left;">
        <h2> First Col Image</h2>
        <input type="file" accept="image/*" class="clear" id="firstColImgUpload" />
        <input type="hidden" id="headerFirstColFileName" value="" />
    </div>
    <br />
    <div class="col-md-12" style="margin-top:20px">
        <a href="#" id="firstColHeader" class="pop" style="text-decoration:underline;display:none">
            Click here to see the image
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2> Second Col Header</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="secondColHeader" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Second Col Text</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="secondColText" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="text-align:left;">
        <h2> Second Col Image</h2>
        <input type="file" accept="image/*" class="clear" id="secondColImgUpload" />
        <input type="hidden" id="headerSecondColFileName" value="" />
    </div>
    <br />
    <div class="col-md-12" style="margin-top:20px">
        <a href="#" id="secondColHeader" class="pop" style="text-decoration:underline;display:none">
            Click here to see the image
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2> Third Col Header</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="thirdColHeader" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Third Col Text</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="thirdColText" style="height:200px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="text-align:left;">
        <h2>Third Col Image</h2>
        <input type="file" accept="image/*" class="clear" id="thirdColImgUpload" />
        <input type="hidden" id="headerThirdColFileName" value="" />
    </div>
    <br />
    <div class="col-md-12" style="margin-top:20px">
        <a href="#" id="thirdColHeader" class="pop" style="text-decoration:underline;display:none">
            Click here to see the image
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Step1 Header Text</h2>
        <input type="text" class="clear" id="step1HeaderText" size="50px" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Step1 Message</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="step1Message" style="height:110px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Step2 Header Text</h2>
        <input type="text" class="clear" id="step2HeaderText" size="50px" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Step2 Message</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="step2Message" style="height:110px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Step3 Header Text</h2>
        <input type="text" class="clear" id="step3HeaderText" size="50px" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Step3 Message</h2>
        <div class="tab-content">
            <div id="divEnglish" class="tab-pane fade in active">
                <div id="step3Message" style="height:110px;">
                    @Html.Raw(ViewBag.body)
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">

        <input type="submit" id="btnAdd" value="Add" style="margin-top:20px;" />
    </div>
</div>
<script>
    $(document).ready(function () {
        if (@ViewBag.IsEditMode=="1") {
            $("#btnAdd").val("Edit");
        }

        $("#country").change(function () {
            var id = $("#country").find("option:selected").val();

            $.ajax({
                url: "GetCountyByCountry/" + id,
                type: "GET",
                contentType: "application/json",
                success: function (result) {
                    $("#county").html('');
                    $("#county").html("<option value=0>Select County</option>");
                    $.each(result, function () {
                        $("#county").append("<option value='" + this.CountyId + "'>" + this.CountyName + "</option>");
                    });
                }
            });
        });

        $("#county").change(function () {
            var selectedId = $("#county").find("option:selected").val();

            $.ajax({
                url: "GetLocationName?locationId=" + selectedId,
                type: "GET",
                contentType: "application/json",
                success: function (result) {
                    $("#PageUrl").val(result);
                }
            });

            $.ajax({
                url: "GetLocationContent?locationId=" + selectedId,
                type: "GET",
                contentType: "application/json",
                success: function (result) {
                    $("#headerFileName").val(result.HeaderImage);
                    headerText.container.firstChild.innerHTML = result.HeaderText;
                    firstColHeader.container.firstChild.innerHTML = result.FirstColHeader;
                    firstColText.container.firstChild.innerHTML = result.FirstColText;
                    $("#headerFirstColFileName").val(result.FirstColImage);
                    secondColHeader.container.firstChild.innerHTML = result.SecondColHeader;
                    secondColText.container.firstChild.innerHTML = result.SecondColText;
                    $("#headerSecondColFileName").val(result.SecondColImage);
                    thirdColHeader.container.firstChild.innerHTML = result.ThirdColHeader;
                    thirdColText.container.firstChild.innerHTML = result.ThirdColText;
                    $("#headerThirdColFileName").val(result.ThirdColImage);
                    $("#step1HeaderText").val(result.Step1Header);
                    step1Message.container.firstChild.innerHTML = result.Step1Message;
                    $("#step2HeaderText").val(result.Step2Header);
                    step2Message.container.firstChild.innerHTML = result.Step2Message;
                    $("#step3HeaderText").val(result.Step3Header);
                    step3Message.container.firstChild.innerHTML = result.Step3Message;
                    if (result.PopularLocationName != null)
                        $(".pop").show();
                },
                error: function () {
                    $("#headerFileName").val('');
                    headerText.container.firstChild.innerHTML = '';
                    firstColHeader.container.firstChild.innerHTML = '';
                    firstColText.container.firstChild.innerHTML = '';
                    $("#headerFirstColFileName").val('');
                    secondColHeader.container.firstChild.innerHTML = '';
                    secondColText.container.firstChild.innerHTML = '';
                    $("#headerSecondColFileName").val('');
                    thirdColHeader.container.firstChild.innerHTML = '';
                    thirdColText.container.firstChild.innerHTML = '';
                    $("#headerThirdColFileName").val('');
                    $("#step1HeaderText").val('');
                    step1Message.container.firstChild.innerHTML = '';
                    $("#step2HeaderText").val('');
                    step2Message.container.firstChild.innerHTML = '';
                    $("#step3HeaderText").val('');
                    step3Message.container.firstChild.innerHTML = '';
                    $(".pop").hide();
                }
            });
        });


        loadHeaderTextEditor();
        loadFirstColHeaderEditor();
        loadFirstColTextEditor();
        loadSecondColHeaderEditor();
        loadSecondColTextEditor();
        loadThirdColHeaderEditor();
        loadThirdColTextEditor();
        loadStep1MessageEditor();
        loadStep2MessageEditor();
        loadStep3MessageEditor();
        loadCountries();

        $("#btnAdd").click(function () {
            var countyId = $("#county option:selected").val();
            if (countyId == 0) {
                alert("Please select County");
                return false;
            }

            //Code to add Location for SEO Friendly URL
            var data = {
                "PopularLocationName": countyId,
                "HeaderImage": $("#headerFileName").val(),
                "HeaderText": headerText.container.firstChild.innerHTML,
                "FirstColHeader": firstColHeader.container.firstChild.innerHTML,
                "FirstColText": firstColText.container.firstChild.innerHTML,
                "FirstColImage": $("#headerFirstColFileName").val(),
                "SecondColHeader":secondColHeader.container.firstChild.innerHTML,
                "SecondColText": secondColText.container.firstChild.innerHTML,
                "SecondColImage": $("#headerSecondColFileName").val(),
                "ThirdColHeader": thirdColHeader.container.firstChild.innerHTML,
                "ThirdColText": thirdColText.container.firstChild.innerHTML,
                "ThirdColImage": $("#headerThirdColFileName").val(),
                "Step1Header": $("#step1HeaderText").val(),
                "Step1Message": step1Message.container.firstChild.innerHTML,
                "Step2Header": $("#step2HeaderText").val(),
                "Step2Message": step2Message.container.firstChild.innerHTML,
                "Step3Header": $("#step3HeaderText").val(),
                "Step3Message": step3Message.container.firstChild.innerHTML
            };

            if (@ViewBag.IsEditMode=="0") {
                $.ajax({
                    url: "AddLocation",
                    type: "POST",
                    aysnc:false,
                    contentType: "application/json",
                    dataType: "application/json",
                    data: JSON.stringify(data),
                    success: function (result) {
                        alert(result);
                    }
                });
            } else {
                $.ajax({
                    url: "EditLocation",
                    type: "POST",
                    async:false,
                    contentType: "application/json",
                    dataType: "application/json",
                    data: JSON.stringify(data),
                    success: function (result) {
                        alert(result);
                    }
                });
            }

            alert("Successfully Updated.");
        });

        $('#ImgUpload').change(function () {
            uploadImages($("#ImgUpload").get(0), "headerFileName");
        });
        $(".pop").on("click", function () {
            if ($("#county option:selected").val() == 0) {
                alert("Please select a county");
                return false;
            }
            var classId = $(this).attr("id");
            if (classId == "headerImage") {
                var img = $('#imageresource').attr('src') + $("#headerFileName").val();
            }
            else if (classId == "firstColHeader") {
                var img = $("#imageresource").attr("src") + $("#headerFirstColFileName").val();
            }
            else if (classId == "secondColHeader") {
                var img = $("#imageresource").attr("src") + $("#headerSecondColFileName").val();
            }
            else if (classId == "thirdColHeader") {
                var img = $("#imageresource").attr("src") + $("#headerThirdColFileName").val();
            }

            $('#imagepreview').attr('src', img); // here asign the image to the modal when the user click the enlarge link
            $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
        });

        $("#showImg").click(function () {
            $("#headerFileName").show();
        })

        $("#firstColImgUpload").change(function () {
            uploadImages($("#firstColImgUpload").get(0), "headerFirstColFileName");
        });
        $("#secondColImgUpload").change(function () {
            uploadImages($("#secondColImgUpload").get(0), "headerSecondColFileName");
        });
        $("#thirdColImgUpload").change(function () {
            uploadImages($("#thirdColImgUpload").get(0), "headerThirdColFileName");
        });

    });


    var loadCountries = function () {
        $.ajax({
            url: "GetCountries",
            type: "GET",
            contentType: "application/json",
            success: function (result) {
                $("#country").html("<option value=0>Select Country</option>");
                $.each(result, function () {
                    $("#country").append("<option value='" + this.CountryId + "'>" + this.CountryName + "</option>");
                });
            }
        });
    }

    var headerText;
    var firstColHeader;
    var firstColText;
    var secondColHeader;
    var secondColText;
    var thirdColHeader;
    var thirdColText;
    var step1Message;
    var step2Message;
    var step3Message;
    var loadHeaderTextEditor = function () {
        headerText = new Quill('#headerText', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        headerText.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadFirstColHeaderEditor = function () {
        firstColHeader = new Quill('#firstColHeader', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        firstColHeader.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadFirstColTextEditor = function () {
        firstColText = new Quill('#firstColText', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        firstColText.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadSecondColHeaderEditor = function () {
        secondColHeader = new Quill('#secondColHeader', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        secondColHeader.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadSecondColTextEditor = function () {
        secondColText = new Quill('#secondColText', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        secondColText.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadThirdColHeaderEditor = function () {
        thirdColHeader = new Quill('#thirdColHeader', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        thirdColHeader.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadThirdColTextEditor = function () {
        thirdColText = new Quill('#thirdColText', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        thirdColText.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadStep1MessageEditor = function () {
        step1Message = new Quill('#step1Message', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        step1Message.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadStep2MessageEditor = function () {
        step2Message = new Quill('#step2Message', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        step2Message.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }
    var loadStep3MessageEditor = function () {
        step3Message = new Quill('#step3Message', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block'],

                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    // custom button values
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction

                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],

                    ['clean']
                ]
            },
            placeholder: 'Description...',
            theme: 'snow'  // or 'bubble'
        });
        step3Message.on('text-change', function () {

            var html = quill.container.firstChild.innerHTML;
            //show.value = html; // make this a <textarea>
        });
    }

    function uploadImages(uploadFile, hiddenField) {
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = uploadFile;
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            var data = { "HeaderText": "Header Value" };
            fileData.append("data", data);
            // Adding one more key to FormData object
            fileData.append('username', "Manas");

            $.ajax({
                url: 'UploadFile',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    $("#" + hiddenField).val(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }
</script>
<script src="https://cdn.quilljs.com/1.2.3/quill.js"></script>
