@model IEnumerable<BurialPlots.DAL.Page>


<table id="tblMember" class="table table-responsive table-bordered table-hover">
    <thead>
        <tr>
            <th class="hide"></th>
            <th>
               Page Title
            </th>
            <th>
                <div class="pull-right">
                    Action
                    </div>
</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="hide">@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageTittle)
                </td>
                <td>
                <div class="pull-right">
                    <a><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Click here to delete the page" id="Delete" onclick="Delete(@item.Id)"></i></a>
                    <a href="@Url.Action("Edit","Page",new { id=item.Id})"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip modal" title="Click here To edit the page" id="edit"></i></a>
                    <a href="@Url.Action("PageView","Page",new { id=item.Pageurl})"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </div>    
                                </td>
                    </tr>
        }
    </tbody>
</table>
<input type="hidden" id="HiddenDelete" value="@Url.Action("DeletePage","Page")" />
<input type="hidden" id="hidenedit" value="@Url.Action("EditPage","Page")" />