@using BurialPlots.DAL
@{
    var news = new BlogListRepository().GetAll(x => x.IsApproved == true && x.IsFeatured == true).OrderByDescending(x => x.PublishedDate).Take(2).ToList();

}
<div class="section text-center-align">
    <div class="container">
        @if (news != null)
        {
            for (int i = 0; i < news.Count; i++)
            {
                DateTime Date = (DateTime)(news[i].PublishedDate);
                DateTime publishDate = Date.Date;
            int c = 0;
                <div class="blog-block" style="height:570px">
                    <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[i].Id, Area="" })">
                        <h2>@news[i].Title</h2>
                    </a>
                    <p class="date">@publishDate.ToString("dd-MMM-yyyy")</p>
                    <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[i].Id, Area="" })">
                        <img src="~/images/Blog/@news[i].FeaturedImage" style="width:474px;height:232px;">
                    </a>
                        <p>
                            @if (news[i].Description.Length > 200)
                    {
                                <span>@Html.Raw(news[i].Description.Substring(0, 200))</span>

                            }
                            else
                            {
                                <span>@Html.Raw(news[i].Description)</span>
                            }
                        </p>
                        <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[i].Id, Area="" })" class="readmore-btn">READ MORE</a>
</div>
                c++;
                if (c == 2)
                {
                    break;
                }
            }
        }
    </div>
</div>


