@model BurialPlots.DAL.Blog

@{
    ViewBag.Title = "Blog Details";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<link href="~/css/NewsArticles.css" rel="stylesheet" />
<div id="content" class="site-content topMargin bottomMar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("Index", "NewsArticals",new {Area=""})" class="colBack"><i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Back </a>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 border1">
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-md-12 customMarginTop">
                            <h3>@Model.Title</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <strong>Category:</strong>  &nbsp; @Model.BlogCategory.Name &nbsp; <span class="Pipeline">||</span>
                        </div>
                        <div class="col-md-6">
                            @if (Model.PublishedDate != null)
                            {
                                DateTime Date = (DateTime)(Model.PublishedDate);
                                DateTime publishedDate = Date.Date;
                                <strong>Published Date: &nbsp; </strong><span>@publishedDate.ToShortDateString()</span>
                            }

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-10">
                            <p class="alignment">@Model.Description </p>
                        </div>
                        <div class="col-md-2">
                            <img src="~/images/Blog/@Model.FeaturedImage" class="img-responsive img-thumbnail" style="float:right; margin-top:7px;" width="185" height="80" alt="Dimesnsions (220 X 220) pixels" />
                        </div>
                    </div>
                    <br />

                }

            </div>
        </div>
        @*<p>
                <a href="/NewsArticals/Index">Back to List</a>
            </p>*@
    </div>

</div>

