@using BurialPlots.DAL
@{
    string TITLEPAGE;
}
@if (ViewBag.tittle.ToLower() == "index")
{
    TITLEPAGE = "Burial Plots";
}
else
{
    TITLEPAGE = ViewBag.tittle;
}
@{
    ViewBag.Title = TITLEPAGE;
    Layout = "~/Views/Shared/_Header.cshtml";
    var Language = ViewBag.Language;
}
@if (ViewBag.tittle.ToLower() == "index")
{
    var date = DateTime.Now.Date;
    var newsList1 = ViewBag.NewsFeeds;
    //var newsList1 = new NewsManagementRepository().GetAll().ToList();
    //var religious = new RelgionRepostiory().GetAll();
    var religious = ViewBag.ReligionList;
    //var slides = new AddSlidesRepository().GetAll();
    var slides = ViewBag.Slides;
}

@section Scripts{
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/Areas/Admin/JS/Page/SearchForServices.js"></script>
    <script src="~/Areas/Admin/JS/Page/LoadBlogSection.js"></script>
    <script src="~/js/Home/PreNeed.js"></script>
    <script src="~/js/Home/index.js"></script>
    @if (ViewBag.tittle.ToLower() == "faqs")
    {
        <script src="~/js/jquery-ui.min.js"></script>
        <script>
            jQuery(function ($) {
                $("#accordion").accordion({
                    collapsible: true
                });

            });
        </script>
    }
}
@if (Language == "ur")
{
    <style>
        .owl-carousel.owl-theme.latest-news.owl-loaded.owl-drag {
            direction: ltr !important;
        }
    </style>

}

<style>
    .shortTexts {
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@if (ViewBag.tittle.ToLower() == "team")
{
    <style>
        .customStyle li p {
            font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 23px;
            line-height: 24px;
            color: #585858;
        }

        .customStyle li p {
            font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 24px;
            color: #585858;
        }

        .text-center-align {
            text-align: left;
        }

        .customMargin {
            margin: 0 0 10px;
        }
    </style>
}
@if (ViewBag.tittle.ToLower() == "index")
{
    <style>
        /*.owl-carousel .owl-stage {
            transform: translate3d(-1800px, 0px, 0px)!important;
            transition: 0.25s!important;
            width: 6300px!important;
            /*transform: translate3d(0px, 0px, 0px)!important;*/
        }

        */ .banner1 {
            top: 40%;
        }

        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
  

        .banner1 h2 {
            font-size: 40px;
            line-height: 42px;
            color: #fff;
            background-color: #6e7787;
            display: inline-block;
            padding: 5px 26px;
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        .capInner h2 {
            font-size: 40px;
            line-height: 42px;
            color: #fff;
            background-color: #6e7787;
            display: inline-block;
            padding: 5px 26px;
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        .capInner {
            position: relative;
            left: 50%;
            /*top: 50%;*/
            width: 100%;
            text-align: center;
        }

        .SliderTop {
            top: 40%;
        }

        .carousel-caption {
            right: 10%;
            left: 10%;
        }

        .banner2 {
            top: 55%;
        }
    </style>
}
@{
    var HomeValue = "";
}
@if (ViewBag.tittle.ToLower() == "index")
{
    HomeValue = "";
}
else
{
    HomeValue = "home";
}
@{
    var sliderId1 = new AddSliderRepository().FirstOrDefault();
    var slides1 = new AddSlidesRepository().GetAll();
    //bool IsImageSlide = Convert.ToBoolean(sliderId1.SlideImages);
    var fisrtImage = sliderId1.SlideImages;
}
@if (ViewBag.tittle.ToLower() == "index")
{
    <body id="top" class="home">
        <div id="page" class="site">
            <div class="site-inner">
                <header id="masthead" class="site-header" role="banner">
                    <div class="site-header-main">
                        <div class="banner SetcustomBanner" style="background-image: url('/images/Slider/@fisrtImage'); height:637px;">

                            <div class="container">
                                <div class="banner-outer">
                                    <div class="banner-video">
                                        <iframe src="https://player.vimeo.com/video/236112343?color=e5a900&amp;title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="600" height="300" frameborder="0"></iframe>
                                    </div><!--banner video-->
                                    <div class="banner-enquriy-form">
                                        <h2>enquire now</h2>
                                        <form>
                                            <ul class="enquiry-form-header">
                                                <li>
                                                    <input type="text" placeholder="Name" id="enName">
                                                    <i class="glyphicon glyphicon-info-sign white" data-toggle="tooltip" data-placement="left" title="We may from time to time contact you using the information supplied to keep you informed about our business and latest offers via newsletters or phone call, further information can be found in our Terms & Conditions and Privacy Policy."></i>
                                                </li>
                                                <li>
                                                    <input type="text" placeholder="Email" id="enEmail">
                                                    <i class="glyphicon glyphicon-info-sign white" data-toggle="tooltip" data-placement="left" title="We may from time to time contact you using the information supplied to keep you informed about our business and latest offers via newsletters or phone call, further information can be found in our Terms & Conditions and Privacy Policy."></i>
                                                </li>
                                                <li>
                                                    <input type="text" placeholder="Telephone" id="enPhone">
                                                    <i class="glyphicon glyphicon-info-sign white" data-toggle="tooltip" data-placement="left" title="We may from time to time contact you using the information supplied to keep you informed about our business and latest offers via newsletters or phone call, further information can be found in our Terms & Conditions and Privacy Policy."></i>
                                                </li>
                                                <li>
                                                    <textarea name="" placeholder="Message" id="enMessage"></textarea>
                                                </li>
                                                <li>
                                                    <input type="button" value="SUBMIT" id="btnEnquiry">
                                                    <span style="color:white; width:100%;font-size: xx-small;letter-spacing: 1px;">By clicking "Submit" you confirm that you have read and agreed to our Terms & Conditions and Privacy Policy.</span>
                                                </li>
                                            </ul>

                                        </form>
                                    </div><!--banner enquiry form-->
                                </div>
                            </div>


                        </div><!--banner-->

                    </div> 

                </header>
            </div>
        </div>
    </body>

}




<body id="top" class="@HomeValue">


@{
    var cssValue = "";
    if (ViewBag.title.ToLower() == "team")
    {
        cssValue = "height:120px";
        ViewBag.image = "";
    }
    else
    {
        if(ViewBag.image == null)
        {
            cssValue = "height:120px";
        }
        else
        {
            cssValue = "height:573px";
        }

    }

    }

    @if (ViewBag.tittle.ToLower() != "index")
    {
        <div class="banner" style="background-image: url('/Areas/Admin/Image/@ViewBag.image');@cssValue">
            <div class="caption-inner">
                <div class="container">
                    @if (ViewBag.tittle == "Search for Services")
                    {
                    <h2 style="margin-bottom:39px;background-color:#f2b62a;">
                        @if (ViewBag.FeatureText == "")
                        {
                            @ViewBag.tittle;
                        }
                        else
                        {
                            @ViewBag.FeatureText;
                        }

                    </h2>
                    }
                    else
                    {
                    <h2 style="background-color:#f2b62a;">
                        @if (ViewBag.title.ToLower() == "team")
    {
        //@ViewBag.tittle;
    }
    else
    {
                    if (ViewBag.FeatureText == "")
{
                    @ViewBag.tittle;
}
else
{
                    @ViewBag.FeatureText;
}
}
                    </h2>
                    }
                </div>
               
            </div>

        </div>
    }
    @if (ViewBag.tittle.ToLower() == "index")
    {
        if (((IEnumerable<Cemetery>)ViewBag.FeaturedCemetries).Count() > 0)
        {
            <h2 style="padding-top:45px;">
                <!--Need to pull it from resource-->
                <span>Featured Cemeteries</span>
            </h2>
            <div class="container">
                <div class="row">
                    @foreach (var item in ViewBag.FeaturedCemetries as IEnumerable<Cemetery>)
                    {
                        <div class="col-md-3 margin-top-20">
                            <div class="thumbnail" style="padding-bottom:16px;">
                                <div class="row" style="height:255px">
                                    <div class="col-md-12">
                                        <a style="color:rgb(110,122,146);font-weight:bold" href="@Url.Action("CemeteryDetails", "Market" , new { id=item.Id, Area="" })">
                                            <img src="~/images/CemeteryPlots/@item.Image" class="img-responsive" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a style="color:rgb(110,122,146);font-weight:bold" href="@Url.Action("CemeteryDetails", "Market" , new { id=item.Id, Area="" })">
                                            @item.Name
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
            <div class="container" style="text-align:center">
                @Html.Raw(ViewBag.Body)
            </div>

        <div class="section text-center-align purple-bg" style="margin-top:-32px;">
            <div class="container">
                <h2 class="underline">@BurialPlots.Resources.HomeTexts.LATESTNEWS</h2>
                <div class="owl-carousel owl-theme latest-news">
                    @{
                        var newsList = new NewsManagementRepository().GetAll().ToList();
                    }
                    @foreach (var item in newsList)
                    {
                        <div class="item">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                            <a href="@Url.Action("NewsDetails", "NewsManagement" ,new {id=@item.Id })">[Read More]</a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="enquiry-block" style="margin-top:45px;">
            <div class="block" style="background-image: url('/images/block-pic1.jpg');">
                <a href="@Url.Action("PageView","Page",new {id=("Future-Burial-Plot-Purchase").ToLower() })">
                    <div class="title-text">@BurialPlots.Resources.HomeTexts.Preneed</div>
                </a>
            </div>
            <div class="block" style="background-image: url('/images/block-pic2.jpg');">
                <a href="@Url.Action("PageView","Page",new {id=("Purchase-a-Burial-Plot-Now").ToLower() })">
                    <div class="title-text">@BurialPlots.Resources.HomeTexts.Atneed</div>
                </a>
            </div>
            <div class="block" style="background-image: url('/images/block-pic3.jpg');">
                <a href="@Url.Action("PageView","Page",new {id=("Cremation-and-Cremated-Remains").ToLower() })">
                    <div class="title-text">@BurialPlots.Resources.HomeTexts.Cremationandcrematedremains</div>
                </a>
            </div>
            <div class="block" style="background-image: url('/images/block-pic4.jpg');">
                <a href="@Url.Action("PageView","Page",new {id=("A-Checklist").ToLower() })">
                    <div class="title-text">@BurialPlots.Resources.HomeTexts.Endofifechecklist</div>
                </a>
            </div>
            <div class="block" style="background-image: url('/images/block-pic5.jpg');">
                <a href="@Url.Action("PageView","Page",new {id=("Planning-a-Head").ToLower() })">
                    <div class="title-text">@BurialPlots.Resources.HomeTexts.Planningahead</div>
                </a>
            </div>
            <div class="block" style="background-image: url('/images/block-pic6.jpg');">
                <a href="@Url.Action("PageView","Page",new { id= ("HELPFUL-ADVICE").ToLower() ,Area="Admin" })">
                    <div class="title-text">@BurialPlots.Resources.HomeTexts.HELPFULADVICE</div>
                </a>
            </div>
        </div>
    }



    @if (ViewBag.tittle.ToLower() != "index")
    {
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div class="section">
                        <div class="container">

                            <!-- Services Page banners  -->
                            @if (ViewBag.tittle.ToLower() == "funeral directors")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Funeral Directors".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/burial-banner-funeral-director.jpg" />
                                    </a>
                                </p>
                                <br />

                            }

                            @if (ViewBag.tittle.ToLower() == "coffins")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Coffins".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/casketcoffin.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "florists")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Florists".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/florist.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "cars")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Funeral Cars".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/funeralcars.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "funeral plans")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Funeral Plans".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/burial-banner-funeral-plan.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "memorials")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Memorials".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/burial-banner1.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "stonemasons")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "StoneMasons".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/stonemason.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "life insurance")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Insurance".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/lifeinsurance.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "will writers")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Will Writers".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopUp">
                                        <img src="~/images/Banners/willWriters.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "wills")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Will Writers".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/willWriters.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "probate")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Probate".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/burial-banners- probatechange.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @if (ViewBag.tittle.ToLower() == "headstones")
                            {

                                var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Headstones".ToLower()).Id;

                                <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                    <a @*href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })"*@ id="enquiryPopup">
                                        <img src="~/images/Banners/burial-banner-Headstones.jpg" />
                                    </a>
                                </p>
                                <br />

                            }
                            @*@if (ViewBag.tittle.ToLower() == "solicitors")
                                {

                                    var FId = new FuneralServicesRepository().FirstOrDefault(x => x.Name.ToLower() == "Solicitors".ToLower()).Id;

                                    <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                                        <a href="@Url.Action("Index", "Search" , new { id=FId,Area ="" })">
                                            <img src="~/images/Banners/solicitors.jpg" />
                                        </a>
                                    </p>
                                    <br />

                                }*@

                            @if (ViewBag.tittle.ToLower() == "newsfeed")
                            {
                                <div class="container content">
                                    @foreach (var item in ViewBag.NewsFeeds as List<NewsManagement>)
                                    {
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1" style="background:#EFEFEF; border-radius:20px">
                                                <div style="padding:20px">
                                                    <h3>@item.Title</h3>
                                                    <span style="font-size:11px">Publish Date: @item.PubDate.Value.ToString("dd-MMM-yyyy")</span>
                                                    <p>@item.Description</p>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    }
                                </div>
                            }
                            else
                            {
                                <div>@Html.Raw(ViewBag.Body)</div>
                                if (ViewBag.tittle.ToLower() == "team")
                                {
                                    <div class="section grey-bg" style="margin-top: 68px;width:1257px;margin-left:-41px;">
                                        <div class="container">
                                            <div class="row">
                                                <ul class="team-member customStyle">
                                                    @foreach (var item in ViewBag.Teams)
                                                    {
                                                        <li class="col-xs-12 col-sm-4 col-md-4">
                                                            <div class="team-member-pic">
                                                                <img src="/images/Users/@item.Image" alt="">
                                                                <div class="desgination">@item.Post</div>
                                                            </div>
                                                            <h4>@item.Name</h4>
                                                            <p>@item.Description</p>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if (ViewBag.tittle.ToLower() == "faqs")
                                {
                                    <div class="container" style="text-align:left">
                                        <div id="accordion">
                                            @foreach (var item in ViewBag.FAQs as List<FAQ>)
                                            {
                                                <h3>@item.Question</h3>
                                                <div>
                                                    <p>@item.Answer</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                            <!-- End Services Page banners-->

                            @if (ViewBag.ServiceBoxesCount > 0)
                            {
                                <ul class="burial-blocks">
                                    @if (ViewBag.box != null)
                                    {
                                        foreach (var item in ViewBag.box)
                                        {
                                            if (item.ServiceBox.BoxStatus == true)
                                            {
                                                <li style="background-image: url('/Areas/Admin/Image/@item.ServiceBox.BoxPic');">
                                                    @if (item.ServiceBox.ServiceUrl == "BURIALPLOTS ")
                                                    {<a href="@Url.Action("PageView","Page",new {id="Burial-Plots" ,Area="Admin" })">
                                                            <div class="overlay"></div>
                                                            <div class="work-block-grid-content">
                                                                <h4 class="work-block-grid-name">@item.ServiceBox.BoxName</h4>
                                                                <h4 class="work-block-grid-description">
                                                                    <br /> <br />
                                                                    [Click for more]
                                                                </h4>
                                                            </div>
                                                        </a>

                                                    }
                                                    else
                                                    {
                                                        <a href="@item.ServiceBox.ServiceUrl">
                                                            <div class="overlay"></div>
                                                            <div class="work-block-grid-content">
                                                                <h4 class="work-block-grid-name">@item.ServiceBox.BoxName</h4>
                                                                <h4 class="work-block-grid-description">
                                                                    <br /> <br />
                                                                    [Click for more]
                                                                </h4>
                                                            </div>
                                                        </a>
                                                    }

                                                </li>
                                            }

                                        }
                                    }

                                </ul>
                            }
                        </div>
                    </div><!-- section -->
                    @if (ViewBag.tittle.ToLower() != "team")
                    {
                        if (ViewBag.tittle.ToLower() != "testimonials")
                        {
                            if (ViewBag.tittle.ToLower() != "index")
                            {

                                if (ViewBag.tittle.ToLower() != "future burial plot purchase")
                                {
                                    if (ViewBag.tittle.ToLower() != "purchase a burial plot now")
                                    {
                                        if (ViewBag.tittle.ToLower() != "burial plots")
                                        {
                                            if (ViewBag.tittle.ToLower() != "after funeral")
                                            {
                                                if (ViewBag.ServiceBoxesCount > 0)
                                                {
                                                    <div class="section text-center-align purple-bg" style="margin-bottom: 48px;">
                                                        <div class="container">
                                                            <ul class="serivce-blocks">
                                                                @if (ViewBag.box != null)
                                                                {
                                                                    foreach (var item in ViewBag.box)
                                                                    {
                                                                        if (item.ServiceBox.BoxStatus == false)
                                                                        {
                                                                            <li style="background-image: url('/Areas/Admin/Image/@item.ServiceBox.BoxPic');">

                                                                                <a href="@item.ServiceBox.ServiceUrl">
                                                                                    <div class="overlay"></div>
                                                                                    <div class="work-block-grid-content">
                                                                                        <h4 class="work-block-grid-name">@item.ServiceBox.BoxName</h4>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                        }

                                                                    }
                                                                }

                                                            </ul>
                                                        </div>

                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                }
                                <!-- section -->
                                <div class="text-center-align">
                                    <h2 class="underline">LATEST BLOGS</h2>
                                </div>
                                <!--  Blogs-->
                                <div id="loadBlogSection">

                                </div>
                                <!-- enquiry-block -->
                                <!-- enquiry-block -->
                            }
                        }


                    }


                </main>
                <!-- .site-main -->
            </div>
            <!-- .content-area -->
        </div>
    }




    <div id="mask"></div>
    


    <input type="hidden" id="hIdLoadBlogSection" value="@Url.Action("LoadBlogSection","Page")" />
</body>