@model IEnumerable<BurialPlots.DAL.FAQ>

<table class="table table-responsive table-bordered table-hover table-striped" id="tblLoadFaqs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @item.AddedDate.Value.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    <span class="fa fa-edit" onclick="editFaqs('@item.Id')" style="cursor: pointer"></span>
                   <span class="fa fa-trash-o" onclick="deleteFaqs('@item.Id')" style="color:red; cursor: pointer"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
