@using BurialPlots.DAL

@{
    int  BlogCounts = Convert.ToInt32(ViewBag.BlogCount);
    var TotalBlogCounts = Convert.ToInt32(ViewBag.totalBlogCount);
    var TotalBlogCount = new BlogListRepository().GetAll(x => x.IsApproved == true && x.IsFeatured == true).OrderByDescending(x => x.PublishedDate).Count();
    var news = new BlogListRepository().GetAll(x => x.IsApproved == true && x.IsFeatured == true).OrderByDescending(x => x.PublishedDate).Skip(13).Take(BlogCounts).ToList();
    var BlogCount = news.Count;
}
@{ 

    BlogCount = BlogCounts + 13;
}
<style>
    #Bloglist .blocks .block-article{
    width: 259px;
    display: inline-block;
    margin-right: 44px;
    margin-bottom: 44px;
    text-align: center;
    list-style-type: none;
    padding-bottom: 48px;
    border-bottom: 1px solid #e2dee0;
    vertical-align: top;
}
    #Bloglist .blocks {
     font-size: 0;
    list-style-type: none !important;
    }
    #Bloglist > li {
        display:inline-block ;
        /*list-style-type: none;*/
    }
    #Bloglist .blocks .block-article.column-50 .image-block {
        height: 148px;
        margin-bottom: 58px;
    }
    #Bloglist .blocks .block-article.column-50 {
        width: 562px;
        text-align: left;
        padding-bottom: 12px;
    }
 #Bloglist .blocks .block-article:hover .image-block:before {
    height: 100%;
}
</style>
<ul id="Bloglist">
    @{
        var i = 0;
    }
    <li style="display: list-item;">
        <div class="blocks" style="font-size: 0;
    list-style-type: none !important;">
            @if (news != null)
            {

                foreach (var item in news)
                {
                    <div class="block-article">
                        <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = item.Id })">
                            <div class="image-block">
                                <img src="~/images/Blog/@item.FeaturedImage" style="width:259px;height:173px;">

                            </div>
                            <h4>@item.Title</h4>
                            @if (item.BlogCategory != null)
                            {
                                <p class="sub-title">@item.BlogCategory.Name</p>
                            }

                        </a>
                    </div><!-- block -->

                    i++;

                    if (i == 4)
                    {
                        break;
                    }

                }
            }
        </div><!-- blocks -->
        <div class="blocks">
            @if (news != null)
            {
                for (int j = i; j < news.Count; j++)
                {

                    <div class="block-article column-50">
                        <div class="image-block">
                            <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[j].Id })">
                                <p class="blog-title">@news[j].Title</p>
                                <img src="~/images/Blog/@news[j].FeaturedImage" style="width:562px;height:148px;">
                            </a>
                        </div>
                        <div class="round-block"></div>
                        @*<p class="author-name">Joe</p>
                        <p class="shortTexts">@news[j].Description</p>*@
                        <p><a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[j].Id })" style="float:right;">Read More</a></p>
                    </div><!-- block -->

                    if (j == 5)
                    {
                        i = j + 1;
                        break;
                    }
                }
            }
        </div><!-- blocks -->
        <div class="blocks">
            @if (news != null)
            {
                int k = 0;

                for (k = k + i; k < news.Count; k++)
                {
                    <div class="block-article">
                        <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[k].Id })">
                            <div class="image-block">
                                <img src="~/images/Blog/@news[k].FeaturedImage" style="width:259px;height:173px;">

                            </div>
                            <h4>@news[k].Title</h4>
                            @if (news[k].BlogCategory != null)
                            {
                                <p class="sub-title">@news[k].BlogCategory.Name</p>
                            }

                        </a>
                    </div><!-- block -->



                    if (k == 9)
                    {
                        i = k + 1;
                        break;
                    }

                }
            }
        </div><!-- blocks -->

        <div class="blocks">
            @if (news != null)
            {
                for (int k = i; k < news.Count; k++)
                {

                    <div class="block-article column-50">
                        <div class="image-block">
                            <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[k].Id })">
                                <p class="blog-title">@news[k].Title</p>
                                <img src="~/images/Blog/@news[k].FeaturedImage" style="width:562px;height:148px;">
                            </a>
                        </div>
                        <div class="round-block"></div>
                        @*<p class="author-name">Joe Bloggs</p>
                        <p class="shortTexts">@news[k].Description</p>*@
                        <p><a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[k].Id })" style="float:right;">Read More</a></p>
                    </div><!-- block -->
                    if (k == 10)
                    {
                        i = k + 1;
                        break;
                    }
                }
                for (int y = i; y < news.Count(); y++)
                {
                                           <!-- 2 column-->
                    <div class="block-article">
                        <a href="@Url.Action("BlogDetail", "NewsArticals", new { id = news[y].Id })">
                            <div class="image-block">
                                <img src="~/images/Blog/@news[y].FeaturedImage" alt="">

                            </div>
                            <h4>@news[y].Title</h4>
                            @if (news[y].BlogCategory != null)
                            {
                                <p class="sub-title">@news[y].BlogCategory.Name</p>
                            }

                        </a>
                    </div><!-- block -->

                    if (y == 12)
                    {
                        i = y + 1;
                        break;
                    }
                }
            }
        </div><!-- blocks -->

    </li>
</ul>

<input type="hidden" id="hIdMoreTotalBlogCount" value="@TotalBlogCount" />
<input type="hidden" id="hIdMoreBlogCount" value="@BlogCount" />