@model BurialPlots.DAL.SeviceListing
@{
    ViewBag.Title = "Service List Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#li-Dashboard").removeClass("start active");
            $("#li-mynewlist").addClass("start active");
            $('img').click(function (e) {

                var offset = $(this).offset();

                var X = (e.pageX - offset.left);
                var Y = (e.pageY - offset.top);

                $('#coord').text('X: ' + X + ', Y: ' + Y);
            });
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Service List Detail</h3> </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td width="40%"><h4>Business Name:</h4></td>
                        <td><h4>@Model.BusinessName</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Post Code:</h4></td>
                        <td><h4>@Model.PostCode</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Address:</h4></td>
                        <td><h4>@Model.Address1 @Model.Address2</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Website:</h4></td>
                        <td><h4>@Model.Website</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Phone Number:</h4></td>
                        <td><h4>@Model.PhoneNo</h4></td>
                    </tr>

                    <tr>

                        <td><h4>Payment Gateways:</h4></td>
                        @if (Model.PaymentGateways != null)
                        {
                            <td>
                                @for (int i = 0; i < Model.PaymentGateways.Split(',').Length; i++)
                                {
                                    if (Model.PaymentGateways.Split(',')[i].Trim() != "")
                                    {
                                        <ul><h4>@Model.PaymentGateways.Split(',')[i]</h4></ul>
                                    }
                                }
                            </td>
                        }
                    </tr>
                    <tr>

                        <td><h4>Facebook Social Link:</h4></td>
                        @if (Model.FacebookLink != null)
                        {
                            <td><h4>@Model.FacebookLink</h4></td>
                        }
                    </tr>
                    <tr>

                        <td><h4>Twitter Social Link:</h4></td>
                        @if (Model.TwitterLink != null)
                        {
                            <td><h4>@Model.TwitterLink</h4></td>
                        }
                    </tr>
                    <tr>

                        <td><h4>Google Plus Link:</h4></td>
                        @if (Model.GooglePlusLink != null)
                        {
                            <td><h4>@Model.GooglePlusLink</h4></td>
                        }

                    </tr>
                    <tr>
                        @if (Model.ServicesAndProducts != null)
                        {
                            <td><h4>Services and Products</h4></td>
                                <td><h4>@Model.ServicesAndProducts</h4></td>
                        }

                    </tr>
                    <tr>
                        @if (Model.BusinessDescription != null)
                        {
                            <td><h4>Business Description</h4></td>
                                <td><h4>@Model.BusinessDescription</h4></td>
                        }
                    </tr>
                    <tr>
                        <td><h4>Services Pictures:</h4></td>
                        <td>
                            <div style="width:80px; height:80px">
                                @if (!string.IsNullOrEmpty(Model.Picture))
                                {
                                    <h4><img src="~/images/Users/@Model.Picture" class="img-responsive" /></h4>
                                }

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4>Payment Plans:</h4>
                            <table class="table table-bordered table-responsive table-striped table-hover">
                                <tr>
                                    <th>County</th>
                                    <th>Business Class</th>
                                    <th>Plan</th>
                                </tr>
                                @foreach (var item in Model.ServiceListingPlans)
                                {
                                    <tr>
                                        <td>@item.County.Name</td>
                                        <td>@item.FuneralService.Name</td>
                                        <td>@item.PartnerPlan.Title</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4>Reviews:</h4>
                            <table class="table table-bordered table-responsive table-striped table-hover">
                                <tr>
                                    <th>Review</th>
                                    <th>Posted By</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                                @foreach (var item in Model.Reviews)
                                {
                                    <tr>
                                        <td>@item.Description</td>
                                        <td>@item.Member.Fname @item.Member.Lname</td>
                                        <td>@item.Date.Value.ToString("dd-MMM-yyyy")</td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <span>Active</span>
                                            }
                                            else
                                            {
                                                <span>Not Active</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("MyListings","Users",new {Area="Admin" })">Back to List</a>
            </div>
        </div>
    </div>
</div>

