
@{
    ViewBag.Title = "EditServiceList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@model BurialPlots.DAL.SeviceListing


@section Scripts{

    <script src="~/Areas/Admin/JS/Users/ViewListing.js"></script>
    <script src="~/Areas/Admin/JS/Users/EditServiceListing.js"></script>

}
<h2>Edit Service Listing</h2>

@using (Html.BeginForm("EditServiceListing", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="col-md-3 control-label">Business Name</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control", id = "BName" } })
                @Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Post Code</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", id = "PCode" } })
                @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", id = "SAddress" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Phone Number</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", id = "PNumber" } })
                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", id = "WSite" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Business Classification</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.FuneralService.Name, new { htmlAttributes = new { @class = "form-control", id = "BClass" } })
                @Html.ValidationMessageFor(model => model.BusinessClassification, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6">
                        <textarea class="form-control" placeholder="Write Services and products." rows="7" id="productsAndServices"></textarea>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" placeholder="Write Business Description." rows="7" id="BusinessDescription"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Payment Methods </label>
            <div class="col-md-9">
                <select class="activePaymentMethods form-control" multiple="multiple">
                    <option value="AL">Visa</option>
                    <option value="WY">Maestro</option>
                    <option value="WY">Solo</option>
                    <option value="WY">Visa Electron</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Select Image</label>
            <div class="col-md-9">
                <input type="file" accept="image/*" class="clear" onchange="showMyImage(this)" id="ImgUpload" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Preview Image</label>
            <div class="col-md-9">
                @if (Model.Picture != null)
                {
                    <img id="thumbnil" class="img-thumbnail clear form-control" style="width:220px; height:220px; margin-top:10px;" src="~/images/Users/@Model.Picture" alt="Dimesnsions (220 X 220) pixels" />
<pre style="width:220px;">220 X 220 Pixels</pre>
                }
                else
                {
                    <img id="thumbnil" class="img-thumbnail clear form-control" style="width:220px; height:220px; margin-top:10px;" src="" alt="Dimesnsions (220 X 220) pixels" />
<pre style="width:220px;">220 X 220 Pixels</pre>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
<input type="hidden" id="hidUpdateServiceListingUrl" value="@Url.Action("EditServiceListing", "ServiceListing")" />
<input type="hidden" id="Imghiden" value="@Url.Action("Upload","ServiceListing")" />
<input type="hidden" id="hId" value="@Model.Id" />
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Back to List", "Mylisting")
      
    </div>
</div>
