@using BurialPlots.DAL
@{
    ViewBag.Title = "Services Listing";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var classifications = new FuneralServicesRepository().GetAll();
    var servicesCount = new ServiceListingRepository().GetAll().Count();
}

@section Scripts{
<script src="~/Areas/Admin/JS/ServiceListing/newserviclixt.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Services Listing(@servicesCount)</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-5">
        <label>Filter by</label>
        <select class="form-control" id="drpBusiness" onchange="loadServiceListing()">
            <option value="">-- Business Classifications --</option>
            @foreach (var item in classifications)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadServiceListingbne">

    </div>
</div>
@if (!string.IsNullOrEmpty(ViewBag.PartnerId))
{
    <input type="hidden" id="hidPartnerId" value="@ViewBag.PartnerId" />
}
else
{
    <input type="hidden" id="hidPartnerId" />
}
<input type="hidden" id="hidLoadServiceListingUrl" value="@Url.Action("LoadNewServiceListing", "ServiceListing")" />
<input type="hidden" id="hidDeleteServiceListingUrl" value="@Url.Action("DeleteServiceListing", "ServiceListing")" />
<input type="hidden" id="hidApprovedService" value="@Url.Action("ApprovedServiceListing", "ServiceListing")" />
<input type="hidden" id="hidDisApprovedService" value="@Url.Action("DisApprovedServiceListing", "ServiceListing")" />
