@model BurialPlots.DAL.SeviceListing

@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#li-Dashboard").removeClass("start active");
            $("#li-ServiceListing").addClass("start active");
            $("#li-member").addClass("start active open");
        });
    </script>
    }
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "ServiceListing")"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Services Members</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Details</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label><b>Business Name:</b></label>
            </div>
            <div class="col-md-8">
                @Model.BusinessName
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label><b>Post Code:</b></label>
            </div>
            <div class="col-md-8">
                @Model.PostCode
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label><b>Address:</b></label>
            </div>
            <div class="col-md-3">
                @Model.Address
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label><b>Phone No.:</b></label>
            </div>
            <div class="col-md-8">
                @Model.PhoneNo
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label><b>Website</b></label>
            </div>
            <div class="col-md-3">
                @Model.Website
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label><b>Business Classification</b></label>
            </div>
            <div class="col-md-8">
                @Model.BusinessClassification
            </div>
        </div>
    </div>
</div>