@model IEnumerable<BurialPlots.DAL.MainSection>

<table class="table table-bordered table-hover table-responsive table-responsive table-striped" id="tblLoadSections">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Cemetery Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cemetery.Name)
                </td>
                <td>
                    <a href="@Url.Action("EditSection", "EditCemetery", new { id=item.Id })"><i class="fa fa-edit"></i></a>
                    <span class="fa fa-trash-o" onclick="deleteSection('@item.Id')" style="color:red; cursor:pointer"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
