@model IEnumerable<BurialPlots.DAL.Cemetery>

<table class="table table-bordered table-hover table-responsive table-striped" id="tblLoadCemteries">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>Total Plots</th>
            <th>Total Sections</th>
            <th>
                Added Date
            </th>
            <th>
                Region
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="~/images/CemeteryPlots/@item.Image" style="width:100px" class="img-responsive" />
        </td>
       <td>@item.MainSections.SelectMany(x=>x.Graves).Count()</td>
        <td>@item.MainSections.Count()</td>
        <td>
            @if (item.AddedDate != null)
            {
                <span>@item.AddedDate.Value.ToString("dd-MMM-yyyy")</span>
            }
        </td>
        <td>
            @if (item.RegionId != null)
            {
                <span>@item.Origin.Name</span>
            }
        </td>
        <td>
            <a href="@Url.Action("Index", "EditCemetery", new { id=item.Id })"><i title="Edit" class="fa fa-edit"></i></a>
            <span class="fa fa-trash-o" style="color:red; cursor:pointer" onclick="deleteCemetery('@item.Id')"></span>
        </td>
    </tr>
}

</table>
