
@{
    ViewBag.Title = "View Sections";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/jsMap/image-map-pro.min.js"></script>
    <script src="~/Areas/Admin/JS/Plot/drawSection.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h3>Sections</h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <label>Cemetery</label>
    </div>
    <div class="col-md-4">
        <select id="drpCemetery" onchange="loadSections()" class="form-control">
            <option value="">--Select Cemetery--</option>
            @foreach (var item in ViewBag.Cemeteries)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span style="font-size:10px">You can add section details here. To add a new section <a href="@Url.Action("AddCemetery", "Cemeteries")">Click Here</a>. </span>
    </div>
    <div class="col-md-3">
        <input type="button" onclick="loadCemetery()" class="btn btn-primary" value="Add Section Details" />
    </div>
</div>
<br />
<div style="display:none" id="divCemeteryMap">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="pull-right" onclick="hideCemeteryMap()">Cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="image-map-pro-container"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadSectionsPartial"></div>
</div>

<input type="hidden" id="hidLoadCemeteryUrl" value="@Url.Action("LoadCemetery", "Cemeteries")" />
<input type="hidden" id="hidReturnLink" value="@Url.Action("AddSection", "Cemeteries")" />
<input type="hidden" id="hidCheckSectionMappingUrl" value="@Url.Action("CheckSectionMapping", "Cemeteries")" />
<input type="hidden" id="hidLoadSectionsUrl" value="@Url.Action("LoadSectionsPartial", "Cemeteries")" />
<input type="hidden" id="hidDeleteSectionsUrl" value="@Url.Action("DeleteSection", "Cemeteries")" />