@model IEnumerable<BurialPlots.DAL.Review>

@{
    ViewBag.Title = "Pending Reviews";
    Layout = "~/Areas/Admin/Views/Shared/_UsersLayout.cshtml";
}


@section Scripts{
    <script src="~/Areas/Admin/JS/Reviews/ViewReviews.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Pending Reviews</h2>
    </div>
</div>
<br />
<table class="table table-bordered table-hover table-responsive table-striped" id="tblLoadReviewsListing">
    <thead>
        <tr>
            <th>
                Posted by
            </th>
            <th>
                Description
            </th>

            <th>
                Posted Date
            </th>
            <th>
                Actions
            </th>
            <th>
                Status
            </th>
        </tr>

    </thead>
    <tbody>
        @if (Model != null)
        {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Member.Fname
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Date.Value.ToShortDateString()
                </td>
                <td class="text-center">
                    <a href="@Url.Action("ShowDetails", "Reviews", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                    @if (item.Status == true)
                    {
                        <button onclick="DeltedReview('@item.Id')" class="btn btn-primary" style="width:110px;">Delete</button>
                    }
                    else
                    {
                        <button onclick="Approved('@item.Id')" class="btn btn-danger" style="width:110px;">Approved</button>
                    }

                    @*<span class="fa fa-trash-o" style="color:red; cursor: pointer" onclick="deleteServiceListing('@item.Id')"></span>*@
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <sapn style="color:red;">Approve</sapn>

                    }

                    else if (item.Status == false)
                    {
                        <sapn>Delete</sapn>

                    }
                    else
                    {
                        <span></span>
                    }

                </td>

            </tr>

            }
        }
    </tbody>
</table>
@*<div class="row">
    <div class="col-md-8">
        <p>
            <a href="@Url.Action("Index","Users")" class="backClr">Back to List</a>
        </p>

    </div>
</div>*@

<input type="hidden" id="hidLoadReviewsListingUrl" value="@Url.Action("LoadReviewsListing", "Reviews")" />
<input type="hidden" id="hidDeleteReview" value="@Url.Action("DeleteReview", "Reviews")" />
<input type="hidden" id="hidApprovedReview" value="@Url.Action("ApprovedReview", "Reviews")" />
<input type="hidden" id="hidDisApprovedService" value="@Url.Action("DisApprovedServiceListing", "ServiceListing")" />
<input type="hidden" id="hIdServiceListlnk" value="@ViewBag.id" />
