@model BurialPlots.DAL.Review

@{
    ViewBag.Title = "Review Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/NewsArticles.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Reviews",new {id=Model.ServiceListingId, ServiceName=Model.SeviceListing.BusinessName })" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back </a>
    </div>
</div>
<br />
<div class="row" style="margin-top:15px;">
    <div class="col-md-12  border">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>@Model.SeviceListing.BusinessName Review Details</h3>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Posted By:</strong>  &nbsp; @Model.Member.Fname
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Posted Date:&nbsp;</strong><span class="clr"> @Model.Date.Value.ToShortDateString()</span>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><strong>Description:</strong></h4>
                            <p class="alignment">@Model.Description </p>
                        </div>
                    </div>

        }

    </div>
</div>

