@model BurialPlots.DAL.Blog

@{
    ViewBag.Title = "Blog Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/NewsArticles.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Blog")" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 border">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>@Model.Title</h3>
                </div>

            </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Category:</strong>  &nbsp;
                            @if (Model.BlogCategory != null)
                            {
                                @Model.BlogCategory.Name
                            }

                        </div>
                        <div class="col-md-6 col-md-offset-1">

                            @if (Model.PublishedDate != null)
                            {
                                DateTime date = (DateTime)(Model.PublishedDate);
                                DateTime publishedDate = date.Date;

                                <strong>Published Date:&nbsp;</strong><span> @publishedDate.ToShortDateString()</span>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <p class="alignment">@Model.Description </p>
                        </div>
                        <div class="col-md-2">
                            <img src="~/images/Blog/@Model.FeaturedImage" class="img-responsive img-thumbnail" style="float:right; margin-top:23px;" width="190" height="80" alt="Dimesnsions (220 X 220) pixels" />
                        </div>
                    </div>


        }

    </div>
</div>
