
@model IEnumerable<BurialPlots.DAL.Menu>

<table id="tblmenu" class="table table-hover table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th class="hide"></th>
            <th>
                Menu
            </th>
           <th>
               Sub Menu
           </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="hide">@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
               <td>
                   @if (item.submenus.Count() > 0)
                   {
                       <a href="@Url.Action("LoadSubMenus", "Menu", new { id=item.Id })">View (@item.submenus.ToList().Count)</a>
                   }
               </td>
                <td>
                    <a><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Click here to delete menu" id="Delete" onclick="Delete(@item.Id)"></i></a>
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true" title="Click here to edit" id="edit" onclick="edit('@item.Id','@item.Pageurl','@item.Category')"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
