
@{
    ViewBag.Title = "Create Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    
<script src="~/Areas/Admin/JS/Menu/menu.js"></script>


}
<h2>Create Menu</h2>
<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                <label>
                    <input type="radio" name="menu" checked="checked" onclick="showmain()" id="main" />  Main Menu (Level 1)
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" onclick="showsub()" name="menu" id="main" /> Sub Menu (Level 2)
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="radio" onclick="showsubchild()" name="menu" id="main" /> Child Menu (Level 3)
                </label>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div id="supermenu" style="display:none">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-2">
                    <label>Menu Name</label>
                </div>
                <div class="col-md-10">
                    <input id="txt_menu" placeholder="Enter Menu Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Select Page</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="pagurl">
                        <option value="#">-- None --</option>
                        @foreach (var url in ViewBag.pageurl)
                        {
                            <option>
                                @url.Pageurl
                            </option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9 col-md-offset-3 text-center">
                    <input type="button" id="menuadd" value="Add Menu" onclick="AddedMenu()" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="childmenu" style="display:none">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-2">
                    <label>Parent Menu</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="mainmenulink">
                        <option value="#">-- None --</option>
                        @foreach (var url in ViewBag.mainmenu)
                        {
                            <option value="@url.Id">
                                @url.Category
                            </option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Menu Name</label>
                </div>
                <div class="col-md-10">
                    <input id="txt_menum" placeholder="Enter Menu Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Select Page</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="pagurls">
                        <option value="">-- None --</option>
                        @foreach (var url in ViewBag.pageurl)
                        {
                            <option>
                                @url.Pageurl
                            </option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-10 col-md-offset-2 text-center">
                    <input type="button" id="menuadd" value="Add Menu" onclick="AddedSubmenu()" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="childsubmenu" style="display:none">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-2">
                    <label>Parent Menu</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="sabmenulinkch">
                        @foreach (var url in ViewBag.submenu)
                        {
                            <option value="@url.Id">
                                @url.pagetitle
                            </option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Menu Name</label>
                </div>
                <div class="col-md-10">
                    <input id="txt_submenuchild" placeholder="Enter Child Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Select Page</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="pagurlsch">
                        @foreach (var url in ViewBag.pageurl)
                        {
                            <option>
                                @url.Pageurl
                            </option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-10 col-md-offset-2 text-center">
                    <input type="button" id="menuadd" value="Add Menu" onclick="AddedSubChildmenu()" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
