
@{
    ViewBag.Title = "View Sub Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Submenu/EditDelsubmenu.js"></script>
</script>
    }

<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("LoadMenus", "Menu")" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back to Parent Menu </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Menus @ViewBag.name</h2>
    </div>
</div>
<div id="modaldata" style="display:none;">
    <div id="Edit1">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <label style="font-size:20px;border-color:#8090ab;">Page Title</label>
                <input type="text" id="pagetitle"   class="form-control" />
            </div>
            <div class="col-md-5">
                <label style="font-size:20px;border-color:#8090ab;">Page Url</label>
                <select class="form-control" id="pageurl">
                    @foreach (var url in ViewBag.pageurl)
                    {
                        <option>
                            @url.Pageurl
                        </option>
                    }
                </select>

            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row" style="padding-top:50px;">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <input type="button" value="Submit" onclick="update()" class="form-control btn-primary" />
            </div>
            <div class="col-md-4">

                <input type="button" value="Hide" onclick="hide()" class="btn-danger form-control" id="hide" />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<input type="hidden" id="memid" />


<div id="Load">

</div>
<input type="hidden" id="hidId" value="@ViewBag.id" />
<input type="hidden" id="LoadSubMenu" value="@Url.Action("LoadSubMenu","Menu")" />
<input type="hidden" id="updateee" value="@Url.Action("EditSubMenu","Menu")" />
<input type="hidden" id="HiddenDelete" value="@Url.Action("DeleteSubMenu","Menu")" />
<input type="hidden" id="hidenedit" value="@Url.Action("","Menu")" />