@using BurialPlots.DAL
@{
    var title = ViewBag.Title;
    ViewBag.Title = title + ' ' + "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var userName = ViewBag.userName;
    var cemeteries = new CemeteryRepository().GetAll().ToList().Count();
    var sections = new MainSectionRepository().GetAll().ToList().Count();
    var graves = new GravesRepository().GetAll().ToList().Count();
}

@section Scripts{
<script src="~/Content/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    }
<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Cemeteries </span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("ViewCemeteries","Cemeteries")">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@cemeteries">@cemeteries</span>
                                </div>
                                <div class="desc"> Cemeteries </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 red" href="@Url.Action("ViewSection", "Cemeteries",new {id="0" })">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@sections">@sections</span>@*M$*@
                                </div>
                                <div class="desc">Sections </div>
                            </div>
                        </a>
                    </div>
                    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="@Url.Action("SubSectionView", "Cemeteries")">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="@subsection">@subsection</span>
                                </div>
                                <div class="desc">Sub Sections</div>
                            </div>
                        </a>
                    </div>*@
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="@Url.Action("ViewPlots","Plots",new {id="0" })">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    @*+*@
                                    <span data-counter="counterup" data-value="@graves">@graves</span>@*%*@
                                </div>
                                <div class="desc">Graves</div>
                            </div>
                        </a>
                    </div>
                </div>
                <br />

                <br />
          
            </div>
        </div>
    </div>
</div>
@if (userName != null && Session["adminRole"].ToString().ToLower() == "superadmin")
{
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Orders </span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("Index", "Order")">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="0">@ViewBag.neworder</span>
                                </div>
                                <div class="desc"> New Orders </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 red" href="@Url.Action("Index", "Order")">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="25">@ViewBag.totla</span>@*M$*@
                                </div>
                                <div class="desc">Order This Week </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="@Url.Action("Index", "Order")">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="15">@ViewBag.totla </span>
                                </div>
                                <div class="desc">Order This Month</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="@Url.Action("Index", "Order")">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    @*+*@
                                    <span data-counter="counterup" data-value="200">@ViewBag.confirmed</span>@*%*@
                                </div>
                                <div class="desc">Confirmed Order</div>
                            </div>
                        </a>
                    </div>
                </div>
                <br />

                <br />

            </div>
        </div>
    </div>
</div>
}

@if (Session["adminRole"] != null && Session["adminRole"].ToString() == "SuperAdmin")
{
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">Service Listing </span>
                    </div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 blue" href="@Url.Action("Mylisting", "ServiceListing")">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="0">@ViewBag.totalservic</span>
                                    </div>
                                    <div class="desc"> Services </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 red" href="@Url.Action("Mylisting", "ServiceListing")">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="25">@ViewBag.servicelistp</span>@*M$*@
                                    </div>
                                    <div class="desc">Pending</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dashboard-stat-v2 green" href="@Url.Action("Mylisting", "ServiceListing")">
                                <div class="visual">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-counter="counterup" data-value="15">@ViewBag.confrim </span>
                                    </div>
                                    <div class="desc">Approved</div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <br />

                    <br />

                </div>
            </div>
        </div>
    </div>
}



