@model IEnumerable<BurialPlots.DAL.Relgion>

<table class="table table-bordered table-hover table-responsive table-striped" id="tblLoadReligions">
    <thead>
        <tr>
            <th>
                Relgion Name
            </th>
            <th>
                Pin
            </th>
            <th>
                No. of Sects
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RelgionName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Picture))
                    {
                        <img src="~/images/Pins/@item.Picture" style="width:80px;height:80px" />
                    }
                </td>
                <td>
                    @item.SubRelgions.Count()
                </td>
                <td>
                    <span class="fa fa-edit" onclick="editReligion('@item.Id', '@item.RelgionName')" style="cursor:pointer"></span>
                    <span class="fa fa-trash-o" onclick="deleteReligion('@item.Id')" style="cursor:pointer;color:red"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
