@model IEnumerable<BurialPlots.DAL.Team>

<table class="table table-bordered table-responsive table-hover table-striped" id="tblLoadTeam">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    <span class="fa fa-edit" style="cursor:pointer" onclick="editTeam('@item.Id')"></span>
                    <span class="fa fa-trash-o" style="cursor:pointer;color:red" onclick="deleteTeam('@item.Id')"></span>
                </td>
            </tr>
        }
    </tbody>

</table>
