@model BurialPlots.DAL.Slider
@{
    ViewBag.Title = "Sliders";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<script src="~/Areas/Admin/JS/Setting/SliderList.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Sliders</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <div class="row">
            <div class="col-md-12">
                <label>Slider Name</label>
                @if (!string.IsNullOrEmpty(Model.Name))
                {
                    <input type="text" value="@Model.Name" class="form-control" id="txtName" />
                }
                else
                {
                    <input type="text" class="form-control" id="txtName" />
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label>Slider Image</label>
                @if (!string.IsNullOrEmpty(Model.SlideImages))
                {
                    <img src="~/images/Slider/@Model.SlideImages" class="img-responsive" />
                }
                <input type="file" class="btn btn-primary" style="width:100%" id="file" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="btn btn-success" value="Save/Update" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadSliderList">

    </div>
</div>
<input type="hidden" id="hidDeleteSliderUrl" value="@Url.Action("DeleteSlider", "Settings")" />
<input type="hidden" id="hidLoadSliderListUrl" value="@Url.Action("LoadSliderList", "Settings")" />
<input type="hidden" id="hidBlogListingDeleteLnk" value="@Url.Action("DeleteBlog", "Blog")" />
<input type="hidden" id="hidPublishBloglnk" value="@Url.Action("PublishBlogApproval", "Blog")" />
<input type="hidden" id="hidUnPublishBloglnk" value="@Url.Action("UnPublishBlogApproval", "Blog")" />

