@model BurialPlots.DAL.MainSection

@{
    ViewBag.Title = "Mapping Plots | "+Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/submodulesMap/squares/js/squares-renderer.js"></script>
    <script src="~/submodulesMap/squares/js/squares.js"></script>
    <script src="~/submodulesMap/squares/js/squares-elements-jquery.js"></script>
    <script src="~/submodulesMap/squares/js/squares-controls.js"></script>
    <script src="~/submodulesMap/wcp-editor/js/wcp-editor.js"></script>
    <script src="~/submodulesMap/wcp-editor/js/wcp-editor-controls.js"></script>
    <script src="~/submodulesMap/wcp-tour/js/wcp-tour.js"></script>
    <script src="~/submodulesMap/wcp-compress/js/wcp-compress.js"></script>
    <script src="~/submodulesMap/wcp-icons/js/wcp-icons.js"></script>
    <!-- Image Map Pro Editor -->
    <script src="~/jsMap/image-map-pro-defaults.js"></script>
    <script src="~/jsMap/image-map-pro-editor.js"></script>
    <script src="~/jsMap/image-map-pro-editor-content.js"></script>
    <script src="~/jsMap/image-map-pro-editor-local-storage.js"></script>
    <script src="~/jsMap/image-map-pro-editor-init-jquery.js"></script>
    <!-- Image Map Pro Plugin -->
    <script src="~/jsMap/image-map-pro.js"></script>
    <script src="~/Areas/Admin/JS/EditCemetery/editSectionMap.js"></script>
}


<div class="row">
    <div class="col-md-12">
        <h3>
            Mapping Plots
            @if (!string.IsNullOrEmpty(Model.Name))
            {
                <span>(@Model.Name)</span>
            }
        </h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <label>Section Name</label>
        <input type="text" id="txtName" class="form-control" value="@Model.Name" placeholder="Section Name" />
    </div>
</div>
<br />
@*<div class="row">
    <div class="col-md-6">
        <input type="button" class="btn btn-warning" onclick="getIDD()" value="Change Pin" />
    </div>
</div>*@
<hr />
<br />
<div class="row">
    <div class="col-md-12" id="wcp-editor" style="height:700px">

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <input type="button" class="btn btn-success" style="width:100%" onclick="EditSection()" value="Update" />
    </div>
</div>





<input type="hidden" id="hidId" value="@Model.Id" />
<input type="hidden" id="hidGraveId" value="@ViewBag.GraveId" />
<input type="hidden" value="@Url.Action("UploadCemeteryImage", "Cemeteries")" id="hidUploadCemeteryImageUrl" />
<input type="hidden" id="hidSaveSectionUrl" value="@Url.Action("EditMappingSectionReturn", "EditCemetery")" />
<input type="hidden" id="hidLoadSectUrl" value="@Url.Action("LoadSect", "Cemeteries")" />
<input type="hidden" id="hidLoadSectionDetailsUrl" value="@Url.Action("LoadSectionDetails", "EditCemetery")" />
<input type="hidden" id="hidReturnUrl" value="@Url.Action("ViewSection", "Cemeteries")" />
<input type="hidden" id="hidRequestUrl" value="@ViewBag.RequestUrl" />
<input type="hidden" id="hidReligionImage" value="@ViewBag.ReligionPin" />