<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/submodulesMap/squares/css/squares.css" />
    <link rel="stylesheet" href="~/submodulesMap/squares/css/squares-editor.css" />
    <link rel="stylesheet" href="~/submodulesMap/squares/css/squares-controls.css" />
    <link rel="stylesheet" href="~/submodulesMap/wcp-editor/css/wcp-editor.css" />
    <link rel="stylesheet" href="~/submodulesMap/wcp-editor/css/wcp-editor-controls.css" />
    <link rel="stylesheet" href="~/submodulesMap/wcp-tour/css/wcp-tour.css" />
    <!-- Image Map Pro Editor -->
    <link rel="stylesheet" href="~/cssMap/image-map-pro-editor.css" />
    <!-- Image Map Pro Plugin -->
    <link href="~/cssMap/image-map-pro.min.css" rel="stylesheet" />


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Styles.Render("~/Content/PageLevel")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/Content/Global")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    @Styles.Render("~/Content/Layout")
    <!-- END THEME LAYOUT STYLES -->

    @section Scripts{

        <script type="text/javascript">
            $(function () {
                alert();
                $('li a').click(function (e) {
                    e.preventDefault();
                    $(this).closest('ul').find('.active').removeClass('active');
                    $(this).parent().addClass('active');
                });
            });
        </script>


    }

    @RenderSection("styles", required: false)
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div id="static-loader" class="static-loader">
        Loding...
    </div>
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="@Url.Action("PageView","Page",new {id="Index",Area="Admin" })">
                        <img src="~/images/logo.png" style="height:20px" alt="logo" class="logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        @if (Session["adminUser"] != null)
                        {
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    @*<img alt="" class="img-circle" src="~/Content/assets/layouts/layout/img/avatar3_small.jpg" />*@
                                    <span class="username username-hide-on-">@Session["adminUser"]</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="@Url.Action("AdminLogout", "Login")">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <!-- END SIDEBAR TOGGLER BUTTON -->

                        <li id="li-Dashboard" class="nav-item start active">
                            <a href="@Url.Action("Index","Dashboard")" class="nav-link nav-toggle">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="title">Dashboard</span>
                                <span class="selected"></span>

                            </a>

                        </li>
                        @if (Session["adminRole"] != null)
                        {
                            if (Session["adminRole"].ToString() == "SuperAdmin")
                            {
                                <li id="li-mynewlist" class="nav-item start">
                                    <a href="@Url.Action("Mylisting", "ServiceListing")" class="nav-link nav-toggle">
                                        @*<i class="fa fa-industry"></i>*@
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                        <span class="title">Services Listing</span>
                                        <span class="selected"></span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                            }
                        }
                        <li id="li-CemeteryManagement" class="nav-item start">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fa fa-map-marker"></i>
                                <span class="title">Cemetery Management</span>
                                <span class="selected"></span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li id="li-cemetery" class="nav-item start">
                                    <a href="@Url.Action("ViewCemeteries", "Cemeteries")" class="nav-link nav-toggle">
                                        <i class="fa fa-cog"></i>
                                        <span class="title">Cemeteries</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li id="li-section" class="nav-item start">
                                    <a href="@Url.Action("ViewSection", "Cemeteries",new { id="0"})" class="nav-link nav-toggle">
                                        <i class="fa fa-cog"></i>
                                        <span class="title">Sections/Plots</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li id="li-grave" class="nav-item start">
                                    <a href="@Url.Action("ViewPlots","Plots",new { id="0"})" class="nav-link nav-toggle">
                                        <i class="fa fa-cog"></i>
                                        <span class="title">Plot Details</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li id="li-import" class="nav-item start">
                                    <a href="@Url.Action("ImportPlots","Plots")" class="nav-link nav-toggle">
                                        <i class="fa fa-cog"></i>
                                        <span class="title">Import Plots</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if (Session["adminRole"] != null)
                        {
                            if (Session["adminRole"].ToString() == "Admin")
                            {
                                <li id="li-profile" class="nav-item start">
                                    <a href="@Url.Action("AdminProfile","Admin",new { area = "Admin" })" class="nav-link ">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="title">My Profile</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item start">
                                    <a href="@Url.Action("Index", "Login", new { area = "Admin" })" class="nav-link nav-toggle">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        <span class="title">Logout</span>
                                        <span class=""></span>
                                    </a>
                                </li>
                            }
                        }

                        @if (Session["adminRole"] != null)
                        {
                            if (Session["adminRole"].ToString() == "SuperAdmin")
                            {
                                <li id="li-contentManage" class="nav-item start">
                                    <a href="@Url.Action("Index", "Page")" class="nav-link nav-toggle">
                                        <i class="fa fa-desktop"></i>
                                        <span class="title">Content Management</span>
                                        <span class="selected"></span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="li-MenuManage" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Popular Location</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-createMenu" class="nav-item start">
                                                    <a href="@Url.Action("AddLocation", "Page")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Location</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-viewMenu" class="nav-item start">
                                                    <a href="@Url.Action("EditLocation", "Page")" class="nav-link ">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="title">View/Edit Location</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="li-NewsManage" class="nav-item">
                                            <a href="@Url.Action("Index", "NewsManagement")" class="nav-link nav-toggle">
                                                <i class="fa fa-map-marker"></i>
                                                <span class="title">News</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-MenuManage" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Menus</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-createMenu" class="nav-item start">
                                                    <a href="@Url.Action("Index", "Menu")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Menu</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-viewMenu" class="nav-item start">
                                                    <a href="@Url.Action("LoadMenus", "Menu")" class="nav-link ">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="title">View Menus</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li id="li-page" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Pages</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-createPage" class="nav-item start">
                                                    <a href="@Url.Action("Index", "Page")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Page</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-viewPage" class="nav-item start">
                                                    <a href="@Url.Action("LoadPages", "Page")" class="nav-link ">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="title">View Pages</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-serviceBox" class="nav-item start">
                                                    <a href="@Url.Action("ServiceBox", "Page")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Service Box</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li id="li-ServiceBox" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Service Box</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-CreateServiceBox" class="nav-item start">
                                                    <a href="@Url.Action("ServiceBox", "Page")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Service Box</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-ViewServiceBox" class="nav-item start">
                                                    <a href="@Url.Action("ViewServiceBox", "Page")" class="nav-link ">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="title">View Service Box</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li id="li-FuneralService" class="nav-item start">
                                            <a href="@Url.Action("Index", "FuneralServices")" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Funeral Services</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        @*<li id="lis-footer" class="nav-item start">
                                            <a href="@Url.Action("FooterPage", "HeaderFooter")" class="nav-link ">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="title">Footer</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>*@

                                        <!-- Blog-->

                                        <li id="li-Blogs" class="nav-item start">
                                            <a href="@Url.Action("Index", "Blog")" class="nav-link nav-toggle">
                                                <i class="fa fa-rss" aria-hidden="true"></i>
                                                <span class="title">Blogs</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>

                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-BlogList" class="nav-item start ">
                                                    <a href="@Url.Action("Index", "Blog")" class="nav-link ">
                                                        <i class="fa fa-wrench"></i>
                                                        <span class="title">Blog List</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-blogcat" class="nav-item start ">
                                                    <a href="@Url.Action("AddBlogCategory", "Blog")" class="nav-link ">
                                                        <i class="fa fa-wrench"></i>
                                                        <span class="title">Blog Category</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li id="lis-slider" class="nav-item start ">
                                            <a href="@Url.Action("Index", "Slider")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Slider</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-Team" class="nav-item start ">
                                            <a href="@Url.Action("Team", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Team</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-Faqs" class="nav-item">
                                            <a href="@Url.Action("Index", "Faqs")" class="nav-link nav-toggle">
                                                <i class="fa fa-map-marker"></i>
                                                <span class="title">FAQs</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li id="li-sale" class="nav-item start">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="title">Sales</span>
                                        <span class="selected"></span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="li-orders" class="nav-item start">
                                            <a href="@Url.Action("Index", "Order")" class="nav-link nav-toggle">
                                                <i class="fa fa-google-wallet"></i>
                                                <span class="title">Cemetery Orders</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-planOrders" class="nav-item start">
                                            <a href="@Url.Action("PlanOrder", "Order")" class="nav-link nav-toggle">
                                                <i class="fa fa-google-wallet"></i>
                                                <span class="title">Plan Orders</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-inventory" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-google-wallet"></i>
                                                <span class="title">Inventory</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="li-graveInventory" class="nav-item start">
                                                    <a href="@Url.Action("GravesInventory", "Order")" class="nav-link nav-toggle">
                                                        <i class="fa fa-google-wallet"></i>
                                                        <span class="title">Plots Inventory</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="li-planInventory" class="nav-item start">
                                                    <a href="@Url.Action("PlansInventory", "Order")" class="nav-link nav-toggle">
                                                        <i class="fa fa-google-wallet"></i>
                                                        <span class="title">Plans Inventory</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="li-reports" class="nav-item start">
                                            <a href="@Url.Action("Reports", "Order")" class="nav-link nav-toggle">
                                                <i class="fa fa-asterisk"></i>
                                                <span class="title">Reports</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                
                            }
                        }

                        @if (Session["adminRole"] != null)
                        {
                            if (Session["adminRole"].ToString() == "SuperAdmin")
                            {
                                <li id="li-user" class="nav-item start">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        @*<i class="fa fa-industry"></i>*@
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="title">Users</span>
                                        <span class="selected"></span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="lis-viewUser" class="nav-item start">
                                            <a href="@Url.Action("ViewMember", "Admin")" class="nav-link ">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <span class="title">Customers</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-ServiceListing" class="nav-item">
                                            <a href="@Url.Action("Index", "ServiceListing")" class="nav-link nav-toggle">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <span class="title">Partners</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-cemterymanager" class="nav-item start">
                                            <a href="@Url.Action("ViewSystemUser", "Admin", new { type="cemetery" })" class="nav-link ">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <span class="title">Cemetery Managers</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-superUsers" class="nav-item start">
                                            <a href="@Url.Action("ViewSystemUser", "Admin", new { type="SuperAdmin" })" class="nav-link ">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <span class="title">Super Users</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="li-setting" class="nav-item start">
                                    <a href="@Url.Action("Index", "Settings")" class="nav-link nav-toggle">
                                        <i class="fa fa-wrench"></i>
                                        <span class="title">Settings</span>
                                        <span class=""></span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="lis-Religions" class="nav-item start ">
                                            <a href="@Url.Action("Religions", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Religions</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-towns" class="nav-item start ">
                                            <a href="@Url.Action("Towns", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Towns</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-postcode" class="nav-item start ">
                                            <a href="@Url.Action("PostCodes", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Post Codes</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-country" class="nav-item start ">
                                            <a href="@Url.Action("Countries", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Countries</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-county" class="nav-item start ">
                                            <a href="@Url.Action("Counties", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Counties</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-origin" class="nav-item start ">
                                            <a href="@Url.Action("Regions", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Regions</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-plan" class="nav-item start ">
                                            <a href="@Url.Action("plan", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Plans</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-listingApproval" class="nav-item start ">
                                            <a href="@Url.Action("ApproveListServices", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Listing Approval Settings</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-Emails" class="nav-item start ">
                                            <a href="@Url.Action("Emails", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Notifications Emails</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-paymentMethods" class="nav-item start ">
                                            <a href="@Url.Action("Index", "PaymentMethods")" class="nav-link ">
                                                <i class="fa fa-wifi"></i>
                                                <span class="title">Payment Methods</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-PurchaseBox" class="nav-item start ">
                                            <a href="@Url.Action("PurchaseBox", "Settings")" class="nav-link ">
                                                <i class="fa fa-wrench"></i>
                                                <span class="title">Purchase Box</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            }
                        }

                    </ul>

                </div>
                <!-- END SIDEBAR -->
                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR MENU -->
            </div>

            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
                <div class="page-quick-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                                Users
                                <span class="badge badge-danger">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab">
                                Alerts
                                <span class="badge badge-success">7</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                More
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-bell"></i> Alerts
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-info"></i> Notifications
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-speech"></i> Activities
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-settings"></i> Settings
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                @DateTime.Now.Year &copy; BURIAL PLOTS
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
    <div class="quick-nav-overlay"></div>
    <!-- END QUICK NAV -->
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CorePlugins")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/JS/common.js"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    @Scripts.Render("~/bundles/LayoutScript")
    <!-- END THEME LAYOUT SCRIPTS -->
    @Scripts.Render("~/bundles/PageLevel");
    @RenderSection("scripts", required: false)
</body>
</html>
