@using BurialPlots.DAL
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>  @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    @Styles.Render("~/Content/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Styles.Render("~/Content/PageLevel")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/Content/Global")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    @Styles.Render("~/Content/Layout")
    <!-- END THEME LAYOUT STYLES -->

    @section Scripts{

        <script type="text/javascript">
            $(function () {
                alert();
                $('li a').click(function (e) {
                    e.preventDefault();
                    $(this).closest('ul').find('.active').removeClass('active');
                    $(this).parent().addClass('active');
                });
            });
        </script>


    }


    @RenderSection("styles", required: false)
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div id="static-loader" class="static-loader">
        Loding...
    </div>
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="@Url.Action("PageView","Page",new {id="Index",Area="Admin" })">
                        <img src="~/images/logo.png" style="height:20px" alt="logo" class="logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
           
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">

                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                @{
                                    var picture = "";
                                    var id = Convert.ToDecimal(Session["memId"]);
                                    if (id != 0)
                                    {
                                        picture = new PartnerRepository().GetById(id).Picture;
                                    }

                                }
                                @if (picture != null)
                                {
                                    <img src="~/images/Users/@picture" class="img-circle" width="30" />
                                }
                                <span class="username username-hide-on-">@Session["memFirstName"]</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="@Url.Action("Index","Login",new {area="Admin" })">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <!-- END SIDEBAR TOGGLER BUTTON -->

                            <li id="li-Dashboard" class="nav-item start active">
                                <a href="@Url.Action("Dashboard","Users")" class="nav-link nav-toggle">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span class="title">My Dashboard</span>
                                    <span class="selected"></span>

                                </a>

                            </li>
                            <li id="li-profile" class="nav-item start">
                                <a href="@Url.Action("UserProfile","Users")" class="nav-link ">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="title">My Profile</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*<ul class="sub-menu">
                                        <li id="lis-seeProfile" class="nav-item start">
                                            <a href="@Url.Action("UserProfile","Users")" class="nav-link ">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="title">See Profile</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-viewUser" class="nav-item start">
                                            <a href="@Url.Action("UserProfile","Users")" class="nav-link ">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="title">Edit Profile</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>*@
                            <li id="li-listing" class="nav-item start">
                                <a href="@Url.Action("MyListings", "Users")" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <span class="title">My Listings</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*<li id="li-Extend" class="nav-item start">
                                <a href="@Url.Action("ExtendListings", "Users")" class="nav-link">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    <span class="title">Extend Plan Expiry</span>
                                    <span class="selected"></span>
                                </a>
                            </li>*@
                            <li id="li-Order" class="nav-item start">
                                <a href="@Url.Action("MyOrders", "Users")" class="nav-link">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="title">My Orders</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            @*<ul class="sub-menu">
                                <li id="li-listingServices" class="nav-item">
                                    <a href="@Url.Action("Index", "Users")" class="nav-link ">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span class="title">Service Listing</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                @*<li id="li-ServiceListing" class="nav-item">
                                    <a href="@Url.Action("Users", "LoadPlotListing")" class="nav-link nav-toggle">
                                        <i class="icon-home"></i>
                                        <span class="title">Plot Listing</span>
                                        <span class="selected"></span>

                                    </a>

                                </li>*@
                            <li class="nav-item start">
                                <a href="@Url.Action("Index","Login",new {area="Admin" })" class="nav-link nav-toggle">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <span class="title">Logout</span>
                                    <span class=""></span>
                                </a>
                            </li>
                            @**@*@*<li id="li-Cemetery" class="nav-item start">
                                    <a href="@Url.Action("Index","Cemetery")" class="nav-link nav-toggle">
                                        <i class="fa fa-map-marker"></i>
                                        <span class="title">Cemetery</span>
                                        <span class="selected"></span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="li-category" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-cog"></i>
                                                <span class="title">Categories</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-addCategory" class="nav-item start active open">
                                                    <a href="@Url.Action("Index","Categories")" class="nav-link ">
                                                        <i class="fa fa-plus-square"></i>
                                                        <span class="title">Add Category</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-viewCategory" class="nav-item ">
                                                    <a href="@Url.Action("LoadCategories", "Categories")" class="nav-link ">
                                                        <i class="fa fa-eye"></i>
                                                        <span class="title">View Categories</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li id="lis-addCemetry" class="nav-item start">
                                            <a href="@Url.Action("Index","Cemetery")" class="nav-link ">
                                                <i class="fa fa-plus-square"></i>
                                                <span class="title">Add New Cemetery</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-viewCemetry" class="nav-item start">
                                            <a href="@Url.Action("ViewCemetery","Cemetery")" class="nav-link ">
                                                <i class="fa fa-eye"></i>
                                                <span class="title">View Cemetries</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li id="li-contentManage" class="nav-item start">
                                    <a href="@Url.Action("Index","Page")" class="nav-link nav-toggle">
                                        <i class="fa fa-desktop"></i>
                                        <span class="title">Content Management</span>
                                        <span class="selected"></span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li id="li-NewsManage" class="nav-item">
                                            <a href="@Url.Action("Index", "NewsManagement")" class="nav-link nav-toggle">
                                                <i class="fa fa-map-marker"></i>
                                                <span class="title">News</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="li-MenuManage" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Menus</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-createMenu" class="nav-item start">
                                                    <a href="@Url.Action("Index","Menu")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Menu</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-viewMenu" class="nav-item start">
                                                    <a href="@Url.Action("LoadMenus","Menu")" class="nav-link ">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="title">View Menus</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li id="li-page" class="nav-item start">
                                            <a href="#" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Pages</span>
                                                <span class="selected"></span>
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li id="lis-createPage" class="nav-item start">
                                                    <a href="@Url.Action("Index","Page")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Page</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-viewPage" class="nav-item start">
                                                    <a href="@Url.Action("LoadPages","Page")" class="nav-link ">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="title">View Pages</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                                <li id="lis-serviceBox" class="nav-item start">
                                                    <a href="@Url.Action("ServiceBox","Page")" class="nav-link ">
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <span class="title">Create Service Box</span>
                                                        <span class="selected"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li id="li-FuneralService" class="nav-item start">
                                            <a href="@Url.Action("Index","FuneralServices")" class="nav-link nav-toggle">
                                                <i class="fa fa-desktop"></i>
                                                <span class="title">Funeral Services</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>

                                        <li id="lis-header" class="nav-item start">
                                            <a href="@Url.Action("HeaderPage", "HeaderFooter")" class="nav-link ">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="title">Header</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                        <li id="lis-footer" class="nav-item start">
                                            <a href="@Url.Action("FooterPage", "HeaderFooter")" class="nav-link ">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="title">Footer</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                @*<li id="li-store" class="nav-item start">
                                        <a href="@Url.Action("Index","Cemetery")" class="nav-link nav-toggle">
                                            <i class="icon-briefcase"></i>
                                            <span class="title">Store</span>
                                            <span class="selected"></span>
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="sub-menu">

                                            <li id="li-item" class="nav-item start">
                                                <a href="#" class="nav-link nav-toggle">
                                                    <i class="fa fa-asterisk"></i>
                                                    <span class="title">Items</span>
                                                    <span class="selected"></span>
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li id="lis-jounralentries" class="nav-item start active open">
                                                        <a href="@Url.Action("Index","Item")" class="nav-link ">
                                                            <i class="fa fa-plus-square"></i>
                                                            <span class="title">Add Item</span>
                                                            <span class="selected"></span>
                                                        </a>
                                                    </li>
                                                    <li id="lis-new" class="nav-item ">
                                                        <a href="@Url.Action("LoadItem","Item")" class="nav-link ">
                                                            <i class="fa fa-eye"></i>
                                                            <span class="title">View Item</span>
                                                            <span class="selected"></span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li id="li-order" class="nav-item start">
                                                <a href="#" class="nav-link nav-toggle">
                                                    <i class="fa fa-cog"></i>
                                                    <span class="title">Order</span>
                                                    <span class="selected"></span>
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li id="lis-jounralentries" class="nav-item start active open">
                                                        <a href="@Url.Action("Index","Order")" class="nav-link ">
                                                            <i class="fa fa-plus-square"></i>
                                                            <span class="title">View Order</span>
                                                            <span class="selected"></span>
                                                        </a>
                                                    </li>


                                                </ul>
                                            </li>

                                        </ul>
                                    </li>*@


                            @*<ul class="sub-menu">
                                    <li id="lis-town" class="nav-item start ">
                                        <a href="@Url.Action("Towns","Settings")" class="nav-link ">
                                            <i class="fa fa-wrench"></i>
                                            <span class="title">Towns</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li id="lis-postcode" class="nav-item start ">
                                        <a href="@Url.Action("PostCodes","Settings")" class="nav-link ">
                                            <i class="fa fa-wrench"></i>
                                            <span class="title">Post Codes</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li id="lis-country" class="nav-item start ">
                                        <a href="@Url.Action("Countries","Settings")" class="nav-link ">
                                            <i class="fa fa-wrench"></i>
                                            <span class="title">Countries</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li id="lis-county" class="nav-item start ">
                                        <a href="@Url.Action("Counties","Settings")" class="nav-link ">
                                            <i class="fa fa-wrench"></i>
                                            <span class="title">Counties</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>*@
                        </ul>
                    </div>*@*@*@
                    <!-- END SIDEBAR -->
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>

                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->

                        @RenderBody()
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
                <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
                    <div class="page-quick-sidebar">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                                    Users
                                    <span class="badge badge-danger">2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab">
                                    Alerts
                                    <span class="badge badge-success">7</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    More
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-bell"></i> Alerts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-info"></i> Notifications
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-speech"></i> Activities
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-settings"></i> Settings
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    @DateTime.Now.Year &copy; BURIAL PLOTS
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
        <!-- BEGIN QUICK NAV -->
        @*<nav class="quick-nav">
                <a class="quick-nav-trigger" href="#0">
                    <span aria-hidden="true"></span>
                </a>
                <ul>
                    <li>
                        <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank" class="active">
                            <span>Purchase Metronic</span>
                            <i class="icon-basket"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/reviews/4021469?ref=keenthemes" target="_blank">
                            <span>Customer Reviews</span>
                            <i class="icon-users"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://keenthemes.com/showcast/" target="_blank">
                            <span>Showcase</span>
                            <i class="icon-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://keenthemes.com/metronic-theme/changelog/" target="_blank">
                            <span>Changelog</span>
                            <i class="icon-graph"></i>
                        </a>
                    </li>
                </ul>
                <span aria-hidden="true" class="quick-nav-bg"></span>
            </nav>*@
        <div class="quick-nav-overlay"></div>
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
        <script src="../assets/global/plugins/respond.min.js"></script>
        <script src="../assets/global/plugins/excanvas.min.js"></script>
        <script src="../assets/global/plugins/ie8.fix.min.js"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/CorePlugins")
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="~/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        @Scripts.Render("~/bundles/jqueryval")
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="~/Areas/Admin/JS/common.js"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="~/Content/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        @Scripts.Render("~/bundles/LayoutScript")
        <!-- END THEME LAYOUT SCRIPTS -->
        @Scripts.Render("~/bundles/PageLevel");
        @RenderSection("scripts", required: false)
    </body>
</html>
