
@model IEnumerable<BurialPlots.DAL.Member1>
@using BurialPlots.Models

<table id="tblMember" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="display:none;"></th>
            <th>
                 Name
            </th>
           
            <th>
                Email
            </th>

            <th>Telephone Number</th>
           
            <th>
                Status
            </th>
            <th>View Customer Orders</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none;">@item.Id</td>
                <td>
                   @item.Fname  @item.Lname  
                </td>
               
                <td>
                    @{ 
                        var email = new DataEncryptor().Decrypt(item.Email);
                    }
                    <span>@email</span>
                </td>

               
                <td>
                   @{
                       var cell = new DataEncryptor().Decrypt(item.CellNo);
                }
                <span>@cell</span>
                </td>
               
                <td>

                    @if (item.Active == true)
                    {
                        <label>Active</label>
                    }
                    else
                    {
                        <label>Suspend</label>
                    }
                </td>
                <td class="text-center"><a href="@Url.Action("Index","Order",new {id=item.Id })"><i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="View the customer orders"></i></a></td>
                <td>
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip modal" title="Edit the user" onclick="EditMember('@item.Id','@item.Fname','@item.Lname','@email','@item.Password','@cell','@item.Username','@item.Role')"></i></a>

                    <a><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete the user" id="Delete" onclick="Delete(@item.Id)"></i></a>
                    @if (item.Active == true)
                    {

                        <a>  <i class="fa fa-check" style="color:green" data-toggle="tooltip" title="Suspend the user" aria-hidden="true" id="suspend" onclick="suspend(@item.Id)"></i></a>

                    }
                    else
                    {
                        <a> <i class="fa fa-ban " style="color:red" data-toggle="tooltip" title="Activate the user " aria-hidden="true" id="suspend" onclick="suspend(@item.Id)"></i></a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
