
<script src="~/js/megamenu.js"></script>
@using System.Web.Script.Serialization
@using BurialPlots.Controllers
@using BurialPlots.DAL
@{
    var count = 0;
    if (Session["cartItems"] != null)
    {
        var list = new JavaScriptSerializer().Deserialize<List<tempCartItem>>(Session["cartItems"].ToString());
        count = list.Count();
    }
    var origins = new OriginRepository().GetAll().ToList().Take(15).ToList();
}
<ul id="menu-nav" class="primary-menu">
    <li id="hLanguage">
        <a href="#">Choose Language</a>
        <ul>
            <li class="byDefault"><a href="#" onclick="ChangeLanguage('en')">English</a></li>
            @*<li class="clickChange"><a href="#" onclick="ChangeLanguage('ur')">@BurialPlots.Resources.HomeTexts.Urdu</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('hi')">@BurialPlots.Resources.HomeTexts.Hindi</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('ar')">@BurialPlots.Resources.HomeTexts.Arabic</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('zh')">@BurialPlots.Resources.HomeTexts.Chinese</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('it')">@BurialPlots.Resources.HomeTexts.Italian</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('tr')">@BurialPlots.Resources.HomeTexts.Turkish</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('bn')">@BurialPlots.Resources.HomeTexts.Bengali</a></li>
            <li class="clickChange"><a href="#" onclick="ChangeLanguage('he')">@BurialPlots.Resources.HomeTexts.Hebrew</a></li>*@
        </ul>
    </li>
    @foreach (var menu in ViewBag.menu as List<Menu>)
    {

        <li>
            @if (menu.Category == "BURIAL PLOTS")
            {
                var menuUrl = menu.Pageurl.Split('/');
                <a href="@Url.Action("PageView", "Page",new {id=(menuUrl[menuUrl.Length - 1]).ToLower(), Area="Admin" })">@BurialPlots.Resources.HomeTexts.BURIALPLOTS</a>
            }

            else if (menu.Category == "BEREAVEMENT")
            {

                <a href="#">@BurialPlots.Resources.HomeTexts.BEREAVEMENT</a>

            }

            else if (menu.Category == "HELPFUL ADVICE")
            {

                <a href="#">@BurialPlots.Resources.HomeTexts.HELPFULADVICE</a>

            }

            else if (menu.Category == "LEGAL")
            {
                <a href="#">@BurialPlots.Resources.HomeTexts.LEGAL</a>
            }

            else if (menu.Category == "PRESS & NEWS")
            {
                <a href="#">@BurialPlots.Resources.HomeTexts.PRESSNEWS</a>
            }
            else if (menu.Category == "ABOUTUS ")
            {
                <a href="#">@BurialPlots.Resources.HomeTexts.ABOUTUS</a>
            }
            else
            {
                if (menu.Pageurl == "#")
                {
                    <a href="javascript:void(0)" onclick="event.preventDefault()">@menu.Category</a>
                }
                else
                {
                    <a href="@menu.Pageurl">@menu.Category</a>
                }
            }
            <ul>
                @foreach (var sub in ViewBag.sub as List<submenu>)
                {
                    if (sub.menuId == menu.Id)
                    {
                        if (sub.pagetitle == "BURIAL PLOTS")
                        {
                            <li><a href="@Url.Action("Index", "Market")">@sub.pagetitle</a></li>
                        }
                        
                        else
                        {
                            <li>
                                @if (sub.pagetitle == "PRESS & NEWS")
                                {
                                <a href="@Url.Action("Index", "NewsArticals")">@BurialPlots.Resources.HomeTexts.PRESSNEWS</a>
                                }
                                else
                                {
                                    var subArr = sub.pageurl.Split('/');
                                    var subUrl = subArr[subArr.Length - 1];
                                    <a href="@Url.Action("PageView", "Page",new {id=subUrl.ToLower(),Area="Admin" })">@sub.pagetitle</a>
                                }

                            <ul>
                                @foreach (var subchild in ViewBag.subchild as List<SubChlidMenu>)
                                {
                                    if (subchild.MenuId == sub.Id)
                                    {
                                        
                                        if (subchild.PageTitle.ToLower() == "sell your plots")
                                        {
                                            <li><a href="@Url.Action("sell_your_plot", "Market")">@subchild.PageTitle</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=subchild.PageUrl.ToLower(), Area="Admin"})">@subchild.PageTitle</a></li>
                                        }
                                    }
                                }

                            </ul>
                        </li>
                        }

                    }
                }

            </ul>
        </li>
    }
    <li><a href="@Url.Action("PageView","Page",new {id= "Contact-Us", Area="Admin" })">@BurialPlots.Resources.HomeTexts.CONTACTUS</a></li>

    <li>
        <a data-toggle="tooltip" title="cart" href="@Url.Action("Index", "Checkout")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;(<span id="cartCount">@count</span>)</a>
    </li>
</ul>
@{
    var language = Session["Language"];
    if (language == null)
    {
        language = "en";
    }

}
<input type="hidden" id="hLanguageId" value="@language" />
