@model IEnumerable<BurialPlots.DAL.SeviceListing>
@if (Model.Count() != 0)
{
    
        <!-- SECTION-->

        
            <div class="container">
                <ul id="myList" class="directoryList">

                    @foreach (var list in Model)
                    {
                        <li style="display:block">
                            <div class="plots-block text-left-align">
                                <div class="directory-image">
                                    <a href="@Url.Action("DetailServiceListing", "Home", new { Id =list.Id })" class="directory-mask"> <span>View Company</span> </a>
                                    @if (list.Picture != null)
                                    {
                                        <img src="~/images/Users/@list.Picture" alt="Service Picture" class="img-thumbnail img-responsive" style="height:216px; width:400px;">
                                    }
                                    else
                                    {
                                        <img src="~/images/Users/no-img.png" alt="Service Picture" class="img-thumbnail img-responsive" style="height:216px; width:400px;">
                                    }
                                </div>
                                <div class="plots-description">
                                    <div class="plot-title" style="text-transform: uppercase;">
                                        @if (ViewBag.TownName != null)
                                        {
                                            <h3>@list.BusinessName</h3>
                                        }
                                        else if (ViewBag.PostCode != null)
                                        {
                                            <h3>@list.BusinessName</h3>
                                        }
                                        else if (ViewBag.CountyName != null)
                                        {
                                            <h3>@list.BusinessName</h3>
                                        }
                                        else if (ViewBag.CountryName != null)
                                        {
                                            <h3>@list.BusinessName</h3>
                                        }
                                    </div>
                                    <p class="directory-address">@list.Address1, <br />@list.Town,@list.County, <br />@list.PostCode</p>
                                    <p>
                                        Tel: <strong>@list.PhoneNo</strong> <br />
                                        Website: <a href="http://@list.Website" target="_blank"><strong>@list.Website</strong></a>
                                    </p>
                                    <br />
                                    <div class="short-description">
                                        @if (list.ServicesAndProducts != null)
                                        {
                                            var des = list.ServicesAndProducts;
                                            string[] lines = des.Split(new string[] { "\r\n", "\n" }, StringSplitOptions.None);
                                            <ul>
                                                @foreach (var line in lines)
                                                {
                                                    if (!string.IsNullOrEmpty(line))
                                                    {
                                                        <li>@line</li>
                                                    }

                                                }
                                            </ul>
                                        }
                                    </div>
                                    @*<a href="@Url.Action("DetailServiceListing", "Home", new { Id =list.Id })" class="load-btn pull-left">View Detail</a>*@

                                </div>
                            </div>
                        </li>
                    }

                </ul>
                @*<div id="loadMore" class="load-btn text-center">View More</div>
                <div id="showLess" class="load-less-btn">Show less</div>*@
            </div>
       <!-- section -->
    
}
else
{
    <li style="list-style:none; margin-top:50px;margin-left:33px;">
        <div class="col-md-9">
            <h3>Sorry, No Services Found.</h3>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index","Search",new {id= Model.FirstOrDefault().Id })" class="btn btn-primary" style="padding: 4px 8px;font-size: 11px;font-weight: lighter;"><i class="fa fa-angle-double-left"></i> Search Again </a>
        </div>
    </li>
}
<input type="hidden" id="hIdCheckServiceCount" value="@ViewBag.CheckServiceCount" />