@model IEnumerable<BurialPlots.DAL.NewsManagement>

@{
    ViewBag.Title = "All News Feeds";
    Layout = "~/Views/Shared/_Header.cshtml";
}


<div class="padding-by-header">
    <div style="margin-top:60px">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>News Feed</h3>
            </div>
        </div>
        <br />
        <div class="container content">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" style="background:#f9e9e5; border-radius:20px">
                        <div style="padding:20px">
                            @if (ViewBag.Language == "it")
                            {
                                <h3>@item.TitleItalian</h3>
                                <p>@item.DescriptionItalian</p>
                            }
                            else if (ViewBag.Language == "tr")
                            {
                                <h3>@item.TitleTurkish</h3>
                                <p>@item.DescriptionTurkish</p>
                            }
                            else if (ViewBag.Language == "ur")
                            {
                                <h3>@item.TitleUrdu</h3>
                                <p>@item.DescriptionUrdu</p>
                            }
                            else if (ViewBag.Language == "he")
                            {
                                <h3>@item.TitleHebrew</h3>
                                <p>@item.DescriptionHebrew</p>
                            }
                            else if (ViewBag.Language == "zh")
                            {
                                <h3>@item.TitleChinese</h3>
                                <p>@item.DescriptionChinese</p>
                            }
                            else if (ViewBag.Language == "hi")
                            {
                                <h3>@item.TitleHindi</h3>
                                <p>@item.DescriptionHindi</p>
                            }
                            else if (ViewBag.Language == "bn")
                            {
                                <h3>@item.TitleBengali</h3>
                                <p>@item.DescriptionBengali</p>
                            }
                            else if (ViewBag.Language == "ar")
                            {
                                <h3>@item.TitleArabic</h3>
                                <p>@item.DescriptionArabic</p>
                            }
                            else
                            {
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            }
                            <br />
                        </div>
                    </div>
                </div>
                <br>
                <br>
            }
        </div>
    </div>
</div>