@using BurialPlots.DAL
@{
    ViewBag.Title = "Burial Plots At Need";
    Layout = "~/Views/Shared/_Header.cshtml";
    var date = DateTime.Now.Date;
    var newsList = new NewsManagementRepository().GetAll(c => c.PubDate <= date && c.ExpiryDate >= date).ToList();
    var religious = new RelgionRepostiory().GetAll();
}
<style>
    .shortTexts {
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@section scripts{
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/Home/PreNeed.js"></script>
<script src="~/js/Home/atNeed.js"></script>
    <script>
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 1) {
                jQuery('.header-menu').addClass("sticky");
            }
            else {
                jQuery('.header-menu').removeClass("sticky");
            }

        });
    </script>
}
<body id="top" class="home">
    <div class="banner search-banner" style="background-image: url('/images/banner-search.jpg');">
        <div class="caption-inner">
            <div class="container">
                <div class="search-form">
                    <h2>Search for a plot...</h2>
                    <form onsubmit="return false">
                        <div class="big-block">
                            <ul>
                                <li class="full-width">
                                    <input type="text" placeholder="Enter postcode" class="full-length" id="txtPostCode">
                                </li>
                                <li>
                                    <label class="radio-inline"><input type="radio" name="need" checked>At need</label>
                                    <label class="radio-inline"><input type="radio" name="need">Pre need</label>
                                </li>
                                <li>
                                    <select name="">
                                        <option value="">Within 5 miles</option>
                                        <option value="">Within 10 miles</option>
                                        <option value="">Within 15 miles</option>
                                    </select>
                                </li>
                                <li>
                                    <select id="drpReligion">
                                        <option value="">-- Religion --</option>
                                        @foreach (var item in religious)
                                        {
                                            <option value="@item.Id">@item.RelgionName</option>
                                        }
                                    </select>

                                </li>
                            </ul>
                        </div>
                        <div class="small-block">
                            <input type="submit" value="Search" onclick="searchByPostCodeApi()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- banner -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="section text-center-align">
                    <div class="container">
                        <h2 class="underline">@BurialPlots.Resources.HomeTexts.Atneed</h2>
                        <div class="padding-left">
                            <p>BurialPlots.co.uk is a new and innovative way to source a burial plot in the UK. Whether you are considering the purchase of a plot for somebody who has just passed or you are future proofing your own plans by purchasing a pre-need burial plot for you and your family, our interactive guide will help you make the important choice of finding the perfect resting place.</p>
                            <p>Whether it be a grandiose family size mausoleum, a burial at sea, a natural burial or even a tribute to the remembrance of cremated remains, we will help guide you through the process with the minimum of fuss and help you to personalise your wishes.</p>
                            <p>Working independantly, we are able to offer an unbiased opinion on all of the cemetries and the ancillary bereavement services that we have researched to bring to you an information led approach to the right choices.</p>
                        </div>
                        <br />
                        <br />
                        <p class="col-md-10 col-md-offset-1" style="margin-bottom:45px;">
                            <a href="@Url.Action("SearchbyPostCodeApi", "Home")">
                                <img src="~/images/Banners/burialplot.jpg" />
                            </a>
                        </p>

                        <ul class="burial-blocks">

                            <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                <a href="@Url.Action("Burialplots","Home")">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Burial Plots</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>

                            </li>
                            <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="HELPFUL ADVICE" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Helpful Advice</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="LEGAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Legal</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- section -->
                <div class="section text-center-align purple-bg" style="margin-bottom: 48px;">
                    <div class="container">
                        <ul class="serivce-blocks">

                            <li style="background-image: url('/images/service-block1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="WHERE TO START" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Where to start</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block2.jpg');">
                                <a href="@Url.Action("PageView","Page",new {id="A Checklist",Area="Admin" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Checklist</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERALS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funerals</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block4.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERAL DIRECTORS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funeral Directors</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block5.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="AFTER FUNERAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">After funeral</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block6.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="MEMORIALS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Memorial</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block7.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="STONEMASONS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Stonemasons</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block8.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="SERVICES" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Services</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--  Blogs-->
                <div class="text-center-align">
                    <h2 class="underline">LATEST BLOGS</h2>
                </div>
                <div id="loadBlogSection">

                </div>
                <!-- enquiry-block -->
    </main>
    <!-- .site-main -->
    </div>
    <!-- .content-area -->
    </div>
    <input type="hidden" id="hIdLoadBlogSection" value="@Url.Action("LoadBlogSection","NewsArticals")" />
</body>