
@{
    ViewBag.Title = "Burial Plots";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@section Scripts{
    <script src="~/js/Home/BlogArticles.js"></script>
}
<style>
    .shortTexts {
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body id="top" class="home">
    <div id="page" class="site">
        <div class="site-inner">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-header-main">

                    <div class="banner" style="background-image: url('/images/banner-burial.jpg');">
                        <div class="caption-inner">
                            <div class="container">
                                <h2>Burial Plots</h2>
                            </div>
                        </div>

                    </div><!-- banner -->
                    <!-- .site-header-menu -->
                </div>
                <!-- .site-header-main -->
            </header>
        </div>
    </div>

    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="section text-center-align">
                    <div class="container">
                        <h2 class="underline">Burial Plots</h2>
                        <div class="padding-left">
                            <p>For many years people may have taken it for granted that, when the time came, there would be a space available for them to either be buried or to bury a loved one. Despite the other options available, such as cremation, burial is still the choice which many people opt for when someone close to them dies or when they are planning their own funeral arrangements in advance. Several religions and cultures insist on burial, and many more people opt for it as their preferred option. This is often because it enables them to select a final resting place of their choice, one which, in many cases, will be close to loved ones or people of the same religions.</p>
                        </div>
                        <br /><br />
                        <h2 class="underline">Shortage of Burial Plots</h2>
                        <div class="padding-left">
                            <p>The reality, however, is that the UK is facing a desperate shortage of burial plots, making finding the right plot either extremely difficult or prohibitively expensive. According to a BBC survey carried out in 2013, for example, more than 180 local authorities around the country reported that they would be running out of space in less than a decade. In some of the larger UK cities the problem is even more acute than this, and with official figures predicting that there will be as many as 680,000 burials in the years leading up to 2020, the search for a solution has become urgent.</p>
                            <p>Offering a solution to this problem is what Burialpolots.co.uk is all about. We don’t want to see the situation faced by people in cities like New York and Hong Kong – where burial plots can cost tens of thousands of dollars – becoming the norm in the UK, and that’s why we offer a service which places the burial plot of choice within the reach of all of our clients.</p>
                        </div>
                        <br /><br />
                        <h2 class="underline">Increased Supply </h2>
                        <div class="padding-left">
                            <p>We begin that process by offering existing burial plots in cities around the UK, and will be expanding our offer by creating our own cemeteries in the near future. The traditional view of the purchase of a burial plot may be that it is something which happens after a death has taken place. If this is the case, then our website and easily navigated process will help to reduce stress at this difficult time. Increasingly, however, people are buying plots in advance, providing the security of knowing that the plot will be available when the time comes, and that the loved ones they leave behind won’t face the task of finding a plot.</p>
                        </div>
                        <br /><br />
                        <h2 class="underline">A Simple Process </h2>
                        <div class="padding-left">
                            <p>We’ve made finding the perfect burial plot quick and easy. Simply search by location across the UK and then within a specific cemetery, taking note of the burial plots which are available and making the selection which suits your needs. There is none of the hard sell which sometimes accompanies a visit to a cemetery, and all the information needed to make the right choice is readily available. We offer different types of burial plots, including the following:</p> <br /> <br />

                            <ul>
                                <li><strong>Single plots</strong> – plots which contain a coffin with the remains of just one person are the type most frequently provided</li>
                                <li><strong>Companion Plots</strong> – many couples take great comfort in the knowledge that they’ll be buried together, either side by side or in a double depth plot with the coffins placed one on top of the other</li>
                                <li><strong>Family Plots</strong> – some cemeteries offer the option of purchasing a slightly larger area which can then be used to position several individual plots for members of the same family</li>
                                <li><strong>Cremation Plots</strong> – some people opt to combine cremation with burial by purchasing a plot in which urns containing cremated remains can be buried and commemorated.</li>
                            </ul>
                            <p>By offering payment options which include advance payment in full and flexible payment plans, we make burial plots affordable to the widest possible range of people, bringing peace of mind and long term security within easy reach.</p>
                            <p>We realise that finding the right burial plot is only one part of the bereavement process, and that’s why we combine our offer with a wealth of help, advice and information. From planning in advance to dealing with a sudden loss, our site offers everything needed to deal with the practical and emotional issues involved. If you have a question or would like to learn more about purchasing a burial plot, then contact us today, on email at (Email) or by calling <a href="tel:0100 000 000">0100 000 000</a>.</p>
                        </div>
                        <div class="container">
                            <div class="col-md-12">
                                <ul class="burial-blocks">
                                    <li style="background-image: url('/images/block-pic1.jpg');">
                                        <a href="@Url.Action("PreNeedPlot","Home")">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Future burial plot purchase</h4>
                                                <h4 class="work-block-grid-description">
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>

                                    </li>
                                    <li style="background-image: url('/images/block-pic2.jpg');">
                                        <a href="@Url.Action("AtNeedPlot","Home")">
                                            <div class="overlay"></div>
                                            <div class="work-block-grid-content">
                                                <h4 class="work-block-grid-name">Purchase a burial plot now</h4>
                                                <h4 class="work-block-grid-description">
                                                    <br /> <br />
                                                    [Click for more]
                                                </h4>
                                            </div>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="burial-blocks">

                            <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                <a href="@Url.Action("Burialplots","Home")">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Burial Plots</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>

                            </li>

                            <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="HELPFUL ADVICE" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Helpful Advice</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="LEGAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Legal</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- section -->
                <div class="text-center-align">
                        <h2 class="underline">LATEST BLOGS</h2>
                    </div>
                <!--  Blogs-->
                <div id="loadBlogSection">

                    </div>
            </main>
        </div>
    </div>
</body>
<input type="hidden" id="hIdLoadBlogSection" value="@Url.Action("LoadBlogSection","NewsArticals")" />