
@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@section Scripts{
    <script src="~/js/jquery-ui.js"></script>
    <script>
        jQuery(function ($) {
            $("#accordion").accordion({
                collapsible: true
            });
        });
    </script>
}
<body id="top" class="home" >
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main" style="margin-top:160px;" >
                <div class="section">
                    <div class="container">
                        <div id="accordion">
                            <h3>@BurialPlots.Resources.HomeTexts.BurialPlotsFAQS</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.HereAtBurialPlotsFAQS</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.DoIhavetowear</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Itstraditional</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Whoisallowed</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Thiswill</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Wheredoes</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Itstraditional</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Wheredo</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Thosewhowere </p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Whatusually</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.AfterthefuneralFaq</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Canamourner</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Friendsorfamily</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Canthefuneral</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Thepersonresponsible</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Canamourner</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.FriendsorfamilycanPart</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.CanIput</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Yesitperfectly </p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Shouldchildren</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Ifyoufeel</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Whathappens</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Thedecision</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.Whatifthewill</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Manywillsoften</p>
                            </div>
                            <h3>@BurialPlots.Resources.HomeTexts.DoIneed</h3>
                            <div>
                                <p>@BurialPlots.Resources.HomeTexts.Publishinganobituary </p>
                            </div>
                        </div>

                    </div>
                </div><!-- section -->
            </main>
            <!-- .site-main -->
        </div>
        <!-- .content-area -->
    </div>
</body>
