
@{
    ViewBag.Title = "Funeral Plans";
    Layout = "~/Views/Shared/_Header.cshtml";
    Decimal Fid = Convert.ToDecimal(ViewBag.Id);
}
@section Scripts{
    <script src="~/js/Home/BlogArticles.js"></script>
}
<style>
    .shortTexts {
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body id="top" class="home" style="margin-bottom:150px" >
   
        <div class="banner" style="background-image: url('../../images/banner-about.jpg');">
            <div class="caption-inner">
                <div class="container">
                    <h2>@BurialPlots.Resources.HomeTexts.FUNERALPLANS</h2>
                </div>
            </div>

        </div><!-- banner -->
        <!-- .site-header-menu -->
    
    <!-- .site-header-main -->
    <!-- .site-header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="section text-center-align">
                    <div class="container">
                        <p class="col-md-10 col-md-offset-1" style="margin-top:-43px; margin-bottom:45px;">
                            <a href="@Url.Action("Index", "Search", new { id = Fid })">
                                <img src="~/images/Banners/burial-banner-funeral-plan.jpg" />
                            </a>
                        </p>
                        <br />
                        <h2 class="underline">Burial Plots Funeral Plans</h2>

                        <div class="padding-left">
                            <p>Arranging a funeral in advance is something which many people have traditionally been hesitant to think about. The reasons are obvious; like writing a will or purchasing life insurance, buying a funeral plan is an acceptance of the fact that you’re one day going to be leaving your loved ones behind. Just like writing a will, however, purchasing a funeral plan is one way of making sure that the pain of your loss will be lessened to a degree. Coping with the death of a loved one is a complex mix of emotional responses and practical matters. By planning in advance as much as possible, you’ll be able to relieve your loved ones of the duty of dealing with those practical matters, leaving them free to concentrate on mourning your passing and celebrating your life. The fact that a plan will also ensure that your family isn’t impacted by a number of expensive bills in the wake of your passing will also offer great peace of mind. </p>
                            <p>Here at Burialplots.co.uk we’ve created a site which makes pre planning a funeral easier than it’s ever been. By pulling together all of the help, information and services you’ll need when making your arrangements, we’ve created an accessible and useful one stop portal. Rather than having to cope with a range of different agencies and businesses, you’ll be able to find all of the information you need right here, from purchasing a burial plot in the location of your choice to accessing a range of funeral plans.</p>
                        </div>
                        <br />
                        <h2 class="underline">What is a Funeral Plan?</h2>
                        <div class="padding-left">
                            <p>In simple terms a funeral plan is a financial arrangement which allows you to decide upon the arrangements for your funeral in advance and put aside the money to pay for those arrangements. The key to the security offered by a funeral plan is that it will keep the money you pay into it securely ring-fenced, and will, when the time comes, use that money to carry out your wishes precisely. The cost of funerals has risen by more than the rate of inflation in recent years and seems set to continue doing so in the future. By investing in a funeral plan, you ensure that no matter how much prices rise, the funds to carry out your wishes will be available. </p>
                        </div>
                        <br />
                        <h2 class="underline">How Will I Pay?</h2>
                        <div class="padding-left">
                            <p>Most funeral plans offer flexible options when it comes to payment. If you wish, you can pay for the plan in full up front, or else pay a deposit and then make monthly payments over a period of years, usually running from one year to ten. Having set up a simple standing order you can relax in the knowledge that the costs of your funeral will all be taken care of. If you should pass away before a payment plan is complete, many providers offer the service paid for if your relatives cover the remaining balance.</p>
                        </div>
                        <br />

                        <p class="col-md-10 col-md-offset-1" style="margin-bottom:30px;">
                            <a href="@Url.Action("Index", "Search", new { id = Fid })">
                                <img src="~/images/Banners/burial-banner-funeral-plan.jpg" width="1023" height="128" />
                            </a>
                        </p>
                        <h2 class="underline">Types of Plan </h2>
                        <div class="padding-left">
                            <p>Most providers of funeral plans offer a range of plans at various prices. Each plan will feature differing options and services depending upon the price. Even the most basic plan, for example, will include the fees for the Funeral Director’s services, whilst aspects such as the number of limousines provided for the funeral, the type of coffin, and whether floral tributes are included will vary from plan to plan. You can also include as much detail as you wish in terms of personal wishes, selecting aspects such as which flowers you’d like, where you want the service to be held and the music and readings you’d like to include. By adding these details you spare your family the stress of worrying if they’ve made all of the right choices, and many plans allow you to amend the details as the years go by.</p>
                            <p>A funeral plan differs from either life insurance or a savings account in two ways; it guarantees to cover the cost of the funeral you’ve chosen, paid for at current prices, no matter how much those prices rise in the future. It also allows you to save your loved ones the stress and upset of having to worry about making arrangements. When you do pass away, all they will need to do is make one simple phone call to the funeral plan provider. If you’re interested in purchasing a funeral plan, or have any further questions, don’t hesitate to contact us. You can email us at (Email) or call us on 0100 000 0000.</p>
                        </div>

                        <ul class="burial-blocks">

                            <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="BURIAL PLOTS NOW" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Burial Plots</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>

                            </li>
                            <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="HELPFUL ADVICE" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Helpful Advice</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="LEGAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Legal</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="section text-center-align purple-bg" style="margin-bottom: 48px;">
                    <div class="container">
                        <ul class="serivce-blocks">

                            <li style="background-image: url('/images/service-block1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="WHERE TO START" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Where to start</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="Aboutus" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Checklist</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERALS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funerals</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block4.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERAL DIRECTORS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funeral Directors</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block5.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="AFTER FUNERAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">After funeral</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block6.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="MEMORIAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Memorial</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block7.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="STONEMASONS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Stonemasons</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block8.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="SERVICES" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Services</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- section -->

                <div class="text-center-align">
                    <h2 class="underline">LATEST BLOGS</h2>
                </div>
                <!--  Blogs-->
                <div id="loadBlogSection">

                </div>
            </main>
        </div>>
    </div>
    <input type="hidden" id="hIdLoadBlogSection" value="@Url.Action("LoadBlogSection","NewsArticals")" />
</body>

