@using BurialPlots.DAL
@{
    ViewBag.Title = "Get Listed";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<link href="~/Areas/Admin/JS/MultiSelectDropdown/jquery.multiselect.css" rel="stylesheet" />
@section Scripts{
<script src="~/Areas/Admin/JS/MultiSelectDropdown/jquery.multiselect.js"></script>
<script src="~/Scripts/underscore.min.js"></script>
<script src="~/js/Home/getListed.js"></script>
    }
<div class="site-info" style="padding-top: 200px; padding-bottom: 200px; background-image: url('/images/Services_Illustration_art_work.png'); background-repeat-y:no-repeat; background-position-y:704px; background-position-x:center">

    <div class="row text-center">
        <h3>Add your free business listing to BurialPlots.com</h3>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Grow your customers </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>
                        Join the 2.7 million businesses listed on BurialPlots.com - the UK's leading online business directory1.
                        BurialPlots.com gets over 17.8m visitors a month2.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Enhance your listing </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>
                        Update your FREE business profile page with photos, contact details, opening times, payment methods, customer reviews and more.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Be visible online </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>
                        Be seen in local Google searches. 84% of BurialPlots customers say BurialPlots.com helps their business to be found on Google3.
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Get listed in Burial Plots Pages</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>
                        Adding your business to burialplots.com is the first step to appearing in your local Yellow Pages - the UK's leading print directory found in over 76% of UK homes4.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row text-center">
                <label>Let's get your business listed on burialPlots.com...</label>
            </div>
            <br />
            <div class="row" id="businessDiv">
                <div class="col-md-12">
                    <label>Business Name</label>
                    <input type="text" style="font-size:small" onkeypress="changeProgress()" class="form-control mytext-field" id="txtBusinessName" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Description</label>
                    <textarea style="font-size:small" class="form-control" id="txtDescription"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Payment Methods</label>
                    <select class="activePaymentMethods select-class mytext-field" multiple="multiple" id="paymentGateways">
                        <option value="Visa">Visa</option>
                        <option value="Maestro">Maestro</option>
                        <option value="Electron">Master</option>
                        <option value="Solo">Solo</option>
                        <option value="Electron">Visa Electron</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="javascript:void(0)" onclick="showProductServiceDiv()">Add Products and Services</a>
                </div>
            </div>
            <br />
            <div id="divProductServices" style="display:none">
                <div class="row" >
                    <div class="col-md-12">
                        <label>Product and Services</label>
                        <textarea style="font-size:small" placeholder="Add break after each service" class="form-control select-class" id="txtProductServices"></textarea>
                        <br />
                    </div>
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Post Code</label>
                    <input type="text" style="font-size:small" onkeypress="changeProgress()" class="form-control mytext-field" id="txtPostCode" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Continue" onclick="ContinueFromBusinessDetail()" class="btn btn-default right" />
                </div>
            </div>
            <br />
            <div id="divAllSections" style="display: none">
                <div class="row" style="margin-top: 470px">
                    <div class="col-md-12 text-center">
                        <label>Where is your business?</label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label>Select an Address</label>
                        <select id="drpAddress" class="form-control" onchange="changeProgress()">
                            <option value="">-Select Address-</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="button" value="Continue" onclick="continueFromAddressClick()" class="btn btn-default right" />
                    </div>
                    <div class="col-md-3 col-lg-offset-3">
                        <input type="button" value="Enter Manually" style="background-color:white; color:#8795b0;" id="showLocationForm" onclick="showLocation()" />
                    </div>
                </div>
                <br />
                <br />
                <div id="hlocationId">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter Number/Name</label>
                            <input type="text" style="font-size:small" class="form-control mytext-field" onkeypress="changeProgress()" id="txtNumber" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Address Line 1</label>
                            <input type="text" style="font-size:small" class="form-control mytext-field" onkeypress="changeProgress()" id="txtAddress1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Address Line 2</label>
                            <input type="text" style="font-size:small" class="form-control" title="Optional" onkeypress="changeProgress()" id="txtAddess2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Town/City</label>
                            <input type="text" style="font-size:small" class="form-control mytext-field" onkeypress="changeProgress()" id="txtTown" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>County</label>
                            <input type="text" style="font-size:small" class="form-control mytext-field" onkeypress="changeProgress()" id="txtCounty" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Country</label>
                            <input type="text" style="font-size:small" class="form-control mytext-field" onkeypress="changeProgress()" id="txtCountry" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Postcode</label>
                            <input type="text" style="font-size:small" class="form-control" onkeypress="changeProgress()" id="txtPostCode1" />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="button" value="Continue" onclick="continueFromLocationClick()" class="btn btn-default right" />
                        </div>
                   </div>
               </div>
             
                <div id="divContactSection" style="padding-top:80px">
                    <div class="row" style="margin-top: 250px">
                        <div class="col-md-12 text-center">
                            <label>How can customers contact your business?</label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>Phone Number</label>
                            <input type="text" style="font-size:small" class="form-control mytext-field" onkeypress="changeProgress()" id="txtPhoneNumber" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>Website</label>&nbsp;<span>Optional</span>
                            <input type="text" style="font-size:small" class="form-control" onkeypress="changeProgress()" id="txtWebsite" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" onclick="showSocialMediaDiv()">Add Social Media Links</a>
                        </div>
                    </div>
                    <br />
                    <div id="divSocialMedia" style="display:none">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Facebook Social Link</label>&nbsp;<span>Optional</span>
                                <input type="text" style="font-size:small" class="form-control" id="txtFacebook" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label>Twitter Social Link</label>&nbsp;<span>Optional</span>
                                <input type="text" style="font-size:small" class="form-control" id="txtTwitter" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label>Google+ Social Link</label>&nbsp;<span>Optional</span>
                                <input type="text" style="font-size:small" class="form-control" id="txtGoogle" />
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="button" value="Continue" onclick="continueFromCustomerContact()" class="btn btn-default right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divYourBusinessSection" style="padding-top:80px;display:none" class="row">
        <br />
        <div class="col-md-10 col-md-offset-1">
            <div >
                <div class="row" style="margin-top: 250px">
                    <div class="col-md-12 text-center">
                        <label>Where do you want to advertise?</label>
                    </div>
                </div>
                <br />
                <div id="divBusinessPlans">
                    <div class="row divPlanRow" id="divPlanRow_0">
                        <div class="col-md-3">
                            <label class="control-label">Select County </label>
                            <select class="form-control drpCounties" id="drpCounties_0" onchange="checkConflictPlan()">
                                @foreach (var item in ViewBag.Counties as List<County>)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Business Classification</label>
                            <select class="form-control mytext-field txtBusinessClass" onchange="checkConflictPlan()" id="txtBusinessClass_0">
                                <option value="">--Select Business--</option>
                                @foreach (var item in ViewBag.FuneralServices as List<FuneralService>)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Plans</label>
                            <select class="form-control mytext-field txtPlans" onchange="checkConflictPlan()" id="txtPlans_0">
                                <option value="">--Select Plan--</option>
                                @foreach (var item in ViewBag.Plans as List<PartnerPlan>)
                                {
                                    if (item.Price != 0)
                                    {
                                        <option value="@item.Id|@item.Position">@item.Title</option>
                                    }
                                }
                            </select>
                            <span style="color:red" class="spnPlanError"></span>
                        </div>
                        <div class="col-md-2">
                            <br />
                            <input type="button" value="Add More" onclick="addBusinessPlanRow()" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <b class="pull-right"><span id="spnTotal"></span></b>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input type="button" value="Continue" onclick="saveServiceListing()" class="btn btn-default pull-right" />
                    </div>
                </div>
                <br />
                <div class="row" id="divErrorMessage" style="display:none">
                    <div class="col-md-12 text-center" >
                        <h4 style="color:red">Some fields are missing.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="tmplBusinessClassification">
    <div class="row divPlanRow" id="divPlanRow_<%= Id %>">
        <div class="col-md-3">
            <label class="control-label">Select County </label>
            <select class="form-control drpCounties" id="drpCounties_<%= Id %>" onchange="checkConflictPlan()">
                @foreach (var item in ViewBag.Counties as List<County>)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Business Classification</label>
            <select class="form-control mytext-field txtBusinessClass" onchange="checkConflictPlan()" id="txtBusinessClass_<%= Id %>">
                <option value="">--Select Business--</option>
                @foreach (var item in ViewBag.FuneralServices as List<FuneralService>)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label>Plans</label>
            <select class="form-control mytext-field txtPlans" onchange="checkConflictPlan()" id="txtPlans_<%= Id %>">
                <option value="">--Select Plan--</option>
                @foreach (var item in ViewBag.Plans as List<PartnerPlan>)
                {
                    if (item.Price != 0)
                    {
                        <option value="@item.Id|@item.Position">@item.Title</option>
                    }
                }
            </select>
            <span style="color:red" class="spnPlanError"></span>
        </div>
        <div class="col-md-2">
            <br /><br />
            <span class="fa fa-trash-o" onclick="removeBusinessPlanRow('<%= Id %>')" style="cursor:pointer;font-size:20px;color:red"></span>
        </div>
    </div>
</script>
<input type="hidden" id="hidSaveServiceListUrl" value="@Url.Action("SaveServiceListing", "Home")" />
<input type="hidden" id="hidGetPostCodeServicesUrl" value="@Url.Action("GetAddress", "Home")" />
<input type="hidden" id="hIdLatitudeVal" value="" />
<input type="hidden" id="hIdLongitudeVAl" value="" />