
@{
    ViewBag.Title = "Signup as Partner";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/js/Home/loginSignup.js"></script>
}


<div class="site-info" style="padding-top: 240px; padding-bottom: 200px;">
   
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>@BurialPlots.Resources.HomeTexts.SignUpAsPartner</h2>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>@BurialPlots.Resources.HomeTexts.FirstName</label>
                            <input type="text" id="txtFname" class="form-control txt-required" />
                        </div>
                        <div class="col-md-6">
                            <label>@BurialPlots.Resources.HomeTexts.LastName</label>
                            <input type="text" id="txtLname" class="form-control txt-required" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>@BurialPlots.Resources.HomeTexts.Email</label>
                            <input type="text" id="txtEmail" class="form-control txt-required" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>@BurialPlots.Resources.HomeTexts.Password</label>
                            <input type="password" id="txtPassword" class="form-control txt-required" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>@BurialPlots.Resources.HomeTexts.ConfirmPassword</label>
                            <input type="password" id="txtRePassword" class="form-control txt-required" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>@BurialPlots.Resources.HomeTexts.TelephoneNumber</label>
                            <input type="text" id="txtCellNo" class="form-control txt-required" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="g-recaptcha" data-sitekey="6LcSUDMUAAAAAGOCgIzk9GTQCt9L9f6Ybz8_VQkE" data-callback="correctCaptcha()"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary" value="@BurialPlots.Resources.HomeTexts.Signup" onclick="signUp()" />
                            <br />
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>@BurialPlots.Resources.HomeTexts.Login</h2>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>@BurialPlots.Resources.HomeTexts.Email</label>
                            <input type="text" id="txtEmailLogin" class="form-control txt-required-login" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>@BurialPlots.Resources.HomeTexts.Password</label>
                            <input type="password" id="txtPasswordLogin" class="form-control txt-required-login" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="button" value="@BurialPlots.Resources.HomeTexts.Login" onclick="login()" class="btn btn-success pull-right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidSignupUrl" value="@Url.Action("SignupPartner", "Home")" />
<input type="hidden" id="hidLoginUrl" value="@Url.Action("Login", "Home")" />
<input type="hidden" id="hidmsgeurl" value="@Url.Action("Message", "Home")" />
<input type="hidden" id="hidrole" value="Partner" />