
@{
    ViewBag.Title = "Perfumes";
    Layout = "~/Views/Shared/_Header.cshtml";
    Decimal Fid = Convert.ToDecimal(ViewBag.Id);
}
@section Scripts{
    <script src="~/js/Home/BlogArticles.js"></script>
}
<style>
    .shortTexts {
        width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body id="top" class="home">
    <div class="site-header-main">
        <div class="banner" style="background-image: url('/images/banner-about.jpg');">
            <div class="caption-inner">
                <div class="container">
                    <h2>Perfumes</h2>
                </div>
            </div>
        </div><!-- banner -->
        <!-- .site-header-menu -->
    </div>
    <!-- .site-header-main -->
    <!-- .site-header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="section text-center-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="@Url.Action("Index", "Search" ,new {id=Fid})" class="btn btn-primary">Search for perfumes</a>
                                <br />
                                <br />
                            </div>
                        </div>
                        <h2 class="underline">Perfumes</h2>


                        <ul class="burial-blocks">

                            <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="BURIAL PLOTS NOW" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Burial Plots</h4>
                                        <h4 class="work-block-grid-description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>

                            </li>
                            <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="HELPFUL ADVICE" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Helpful Advice</h4>
                                        <h4 class="work-block-grid-description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="LEGAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Legal</h4>
                                        <h4 class="work-block-grid-description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum.
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="section text-center-align purple-bg">
                    <div class="container">
                        <ul class="serivce-blocks">

                            <li style="background-image: url('/images/service-block1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="WHERE TO START" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Where to start</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="Aboutus" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Checklist</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERALS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funerals</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block4.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERAL DIRECTORS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funeral Directors</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block5.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="AFTER FUNERAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">After funeral</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block6.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="MEMORIAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Memorial</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block7.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="STONEMASONS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Stonemasons</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block8.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="SERVICES" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Services</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- section -->
                <!--  Blogs-->
                <div id="loadBlogSection">

                </div>
            </main>
        </div>>
    </div>
    <input type="hidden" id="hIdLoadBlogSection" value="@Url.Action("LoadBlogSection","NewsArticals")" />
</body>

