
@{
    ViewBag.Title = "Stonemasons";
    Layout = "~/Views/Shared/_Header.cshtml";
    Decimal Fid = Convert.ToDecimal(ViewBag.Id);
}
@section Scripts{
    <script src="~/js/Home/BlogArticles.js"></script>
}

<body id="top" class="home">
    <header id="masthead" class="site-header" role="banner">
        <div class="site-header-main">
            <div class="banner" style="background-image: url('/images/banner-about.jpg');">
                <div class="caption-inner">
                    <div class="container">
                        <h2>@BurialPlots.Resources.HomeTexts.STONEMASONS</h2>
                    </div>
                </div>
            </div><!-- banner -->
            <!-- .site-header-menu -->
        </div>
        <!-- .site-header-main -->
    </header>
    <!-- .site-header -->
    
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="section text-center-align">
                    <div class="container">
                        <p class="col-md-10 col-md-offset-1" style="margin-top:-43px;">
                            <a href="@Url.Action("Index", "Search" ,new {id=Fid})">
                                <img src="~/images/Banners/stonemason.jpg" />
                            </a>
                        </p>
                        <h2 class="underline">@BurialPlots.Resources.HomeTexts.BurialPlotsStonemasons</h2>
                        <div class="column-block">
                            <div class="column">
                                <p>@BurialPlots.Resources.HomeTexts.Therole</p>
                                <p>@BurialPlots.Resources.HomeTexts.Hereat </p>
                            </div>
                            <div class="column">
                                <img src="/Areas/Admin/Image/video514jpg252490.jpg" />
                            </div>
                        </div>
                        <div class="padding-left">
                            <p>Any death of a loved one is a traumatic and painful experience, but a sudden or violent death presents a unique set of challenges. When someone close to you dies at the end of a long illness the sense of sadness, grief and shock is completely genuine, but some consolation may be felt by the fact that, for example, you might have had a chance to say goodbye to the person in question. Those who have lost someone in this manner often speak of the comfort they draw from knowing that they were able to tell the deceased that they loved them, for example, and that the deceased was able to put there affairs in order and experience a degree of peace of mind before dying.</p>
                            <p>In the event of a sudden or violent death, on the other hand, none of this applies. The initial feeling of numbness, shock and despair will be joined by a searing sense of anger and unfairness. Even if nobody was directly responsible for the death, you will naturally begin to look around, desperate for someone or something to blame. This is perfectly natural, as are feelings of guilt that you are still alive while your loved one has been taken.</p>
                        </div>
                        <br />
                        <h2 class="underline">@BurialPlots.Resources.HomeTexts.TypesofMemorial</h2>
                        <div class="padding-left">
                            <p>@BurialPlots.Resources.HomeTexts.Theroleofastonemason</p>
                            <ul>
                                <li><strong>@BurialPlots.Resources.HomeTexts.Fullmemorials</strong> – @BurialPlots.Resources.HomeTexts.alsoknown</li>
                                <li><strong>@BurialPlots.Resources.HomeTexts.Lawnmemorials</strong> – @BurialPlots.Resources.HomeTexts.thisis</li>
                            </ul>
                        </div>
                        <br />
                        <p class="col-md-10 col-md-offset-1" style="margin-bottom:30px;">
                            <a href="@Url.Action("Index", "Search" ,new {id=Fid})">
                                <img src="~/images/Banners/stonemason.jpg" />
                            </a>
                        </p>
                        <h2 class="underline">@BurialPlots.Resources.HomeTexts.TypesofMaterial</h2>
                        <div class="padding-left">
                            <p>@BurialPlots.Resources.HomeTexts.Thematerial</p>
                        </div>
                        <br />
                       
                        <h2 class="underline">@BurialPlots.Resources.HomeTexts.Engraving</h2>
                        <div class="padding-left">
                            <p>@BurialPlots.Resources.HomeTexts.Yourstone</p>
                        </div>
                        <br />
                        <h2 class="underline">@BurialPlots.Resources.HomeTexts.Aftercare</h2>
                        <div class="padding-left">
                            <p>@BurialPlots.Resources.HomeTexts.Onceinplace</p>
                            <p>@BurialPlots.Resources.HomeTexts.Designed</p>
                        </div>

                        <ul class="burial-blocks">

                            <li style="background-image: url('/images/burial-block-pic1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="BURIAL PLOTS NOW" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Burial Plots</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>

                            </li>
                            <li style="background-image: url('/images/burial-block-pic2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="HELPFUL ADVICE" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Helpful Advice</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/burial-block-pic3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="LEGAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Legal</h4>
                                        <h4 class="work-block-grid-description">
                                            <br /> <br />
                                            [Click for more]
                                        </h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="section text-center-align purple-bg" style="margin-bottom: 48px;">
                    <div class="container">
                        <ul class="serivce-blocks">

                            <li style="background-image: url('/images/service-block1.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="WHERE TO START" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Where to start</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block2.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="Aboutus" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Checklist</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block3.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERALS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funerals</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block4.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="FUNERAL DIRECTORS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Funeral Directors</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block5.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="AFTER FUNERAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">After funeral</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block6.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="MEMORIAL" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Memorial</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block7.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="STONEMASONS" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Stonemasons</h4>
                                    </div>
                                </a>
                            </li>
                            <li style="background-image: url('/images/service-block8.jpg');">
                                <a href="@Url.Action("PageView","Admin/Page",new {id="SERVICES" })">
                                    <div class="overlay"></div>
                                    <div class="work-block-grid-content">
                                        <h4 class="work-block-grid-name">Services</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- section -->
                <div class="text-center-align">
                    <h2 class="underline">LATEST BLOGS</h2>
                </div>
                <!--  Blogs-->
                <div id="loadBlogSection">

                </div>
            </main>
        </div>>
    </div>
    <input type="hidden" id="hIdLoadBlogSection" value="@Url.Action("LoadBlogSection","NewsArticals")" />
</body>

