@model IEnumerable<BurialPlots.DAL.OrderPlan>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-responsive table-striped" id="tblLoadOrders">
                    <thead>
                        <tr>
                            <th>
                                Cart ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Business Name
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Total Price
                            </th>
                            <th>
                                Status
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CartId
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.SeviceListing.BusinessName
                                </td>
                                <td>
                                    @item.OrderDate.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                </td>
                                <td>
                                    @item.OrderPlanItems.Sum(c => c.Price)
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    <a href="@Url.Action("PlanOrderDetails", "Users", new { id=item.Id,Area="Admin" })"><i class="fa fa-edit" title="Details"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

