@using BurialPlots.DAL
@using System.Collections.Generic
@{
    ViewBag.Title = "Add Service";
    Layout = "~/Areas/Admin/Views/Shared/_UsersLayout.cshtml";
    var funeralServices = new FuneralServicesRepository().GetAll();
    var counties = new CountyRepository().GetAll().OrderBy(x=>x.Name.Trim()).ToList();
    var towns = new TownsRepositoy().GetAll().Take(20);
}
<link href="~/css/AddService.css" rel="stylesheet" />
<link href="~/Areas/Admin/JS/MultiSelectDropdown/jquery.multiselect.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Areas/Admin/JS/MultiSelectDropdown/jquery.multiselect.js"></script>
    <script src="~/Areas/Admin/JS/Users/AddServiceList.js"></script>
}
<input type="hidden" id="hidId" />
<div>
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("MyListings", "Users")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2>Add Service</h2>
        </div>
    </div>
    <br>
    <form>
        <div class="row">
            <div class="col-md-5">
                <label>Business Name:</label>
                <input type="text" style="font-size:small" class="form-control mytext-field" id="txtBusinessName" />
            </div>
            <div class="col-md-5">
                <label>Post Code:</label>
                <input type="text" style="font-size:small" class="form-control mytext-field" id="txtPostCode" />
            </div>
            <div class="col-md-2">
                <div></div>
                <p>
                    <a style="margin-top:2px" href="#" onclick="ContinueFromBusinessDetail()" class="glyphicon glyphicon-search btn btn-default customcontinue"></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label">Select an Address</label>
                    <select id="drpAddress" class="form-control">
                        <option value="">-Select Address-</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <label></label>
                <div class="form-group">
                    <div><input type="button" style="margin-top:2px" class="btn btn-default form-control customcontinue" onclick="showLocation()" id="ManualButton" value="Enter Manually" /></div>
                </div>
            </div>
        </div>
        <div id="hlocationId">
            <div class="row">
                <div class="col-md-6">
                    <label>Address Line 1</label>
                    <input type="text" style="font-size:small" class="form-control mytext-field" id="txtAddress1" />
                </div>
                <div class="col-md-6">
                    <label>Address Line 2</label>
                    <input type="text" style="font-size:small" class="form-control" title="Optional" id="txtAddress2" />
                </div>
            </div>
            <br />
            <div class="form-group row ">
                <div class="col-md-3">
                    <label>Town/City</label>
                    <input type="text" style="font-size:small" class="form-control mytext-field" id="txtTown" />
                </div>
                <div class="col-md-3">
                    <label>County</label>
                    <input type="text" style="font-size:small" class="form-control mytext-field" id="txtCounty" />
                </div>
                <div class="col-md-3">
                    <label>Country</label>
                    <input type="text" style="font-size:small" value="UK" class="form-control mytext-field" id="txtCountry" />
                </div>
                <div class="col-md-3">
                    <label>Postcode</label>
                    <input type="text" style="font-size:small" class="form-control" id="txtPostCode1" />
                </div>
            </div>
        </div>
        <div id="divContactSection">
            <div class="row">
                <div class="col-md-4">
                    <label>Phone Number</label>
                    <input type="text" style="font-size:small" class="form-control mytext-field" id="txtPhoneNumber" />
                </div>
                <div class="col-md-4">
                    <label>Website</label>&nbsp;<span>Optional</span>
                    <input type="text" style="font-size:small" class="form-control" id="txtWebsite" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Facebook Social Link</label>
                <input type="text" class="form-control" id="facebookLink" />
            </div>
            <div class="col-md-3">
                <label>Twitter Social Link</label>
                <input type="text" class="form-control" id="twitterLink" />
            </div>
            <div class="col-md-3">
                <label>Google + Social Link</label>
                <input type="text" class="form-control" id="googleLink" />
            </div>
            <div class="col-md-3">
                <label>LinkedIn</label>
                <input type="text" class="form-control" id="txtLinkedIn" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label>Payment Methods </label>
                <select class="activePaymentMethods form-control" multiple="multiple" id="paymentGateways">
                    <option value="Visa">Visa</option>
                    <option value="Maestro">Maestro</option>
                    <option value="Electron">Master</option>
                    <option value="Solo">Solo</option>
                    <option value="Electron">Visa Electron</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Product And Services</label>
                    <textarea id="productsAndServices" placeholder="Add break after each service" rows="4" class="form-control textAreaMultiligne" ></textarea>
                    </div>

                <div class="col-md-6">
                    <label>Business Description</label>
                    <textarea id="BusinessDescription" placeholder="Write Business Description" rows="4" class="form-control"></textarea>
               </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label>Select Image</label>
                <input type="file" accept="image/*" class="clear" onchange="showMyImage(this)" id="ImgUpload" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img id="thumbnil" class="img-thumbnail clear form-control" style="width:220px; height:220px; margin-top:10px;" src="" alt="Image Preview" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <label>Where do you want to Advertise?</label>
            </div>
        </div>
        <div id="hideCounty">
            <div class="form-group" id="divBusinessPlans">
                <div class="row divPlanRow" id="divPlanRow_0">
                    <div class="col-md-3">
                        <label class="control-label">Select County </label>
                        <select class="form-control drpCounties" id="drpCounties_0" onchange="checkConflictPlan()">
                            @foreach (var item in counties)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Business Classification</label>
                        <select class="form-control mytext-field txtBusinessClass" onchange="checkConflictPlan()" id="txtBusinessClass_0">
                            <option value="">--Select Business--</option>
                            @foreach (var item in funeralServices)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Plans</label>
                        <select class="form-control mytext-field txtPlans" onchange="checkConflictPlan()" id="txtPlans_0">
                            <option value="">--Select Plan--</option>
                            @foreach (var item in ViewBag.Plans as List<PartnerPlan>)
                            {
                                <option value="@item.Id|@item.Position">@item.Title</option>
                            }
                        </select>
                        <span style="color:red" class="spnPlanError"></span>
                    </div>
                    <div class="col-md-2">
                        <br /><br />
                        <span class="fa fa-plus-square" onclick="addBusinessPlanRow()" style="cursor:pointer;font-size:20px"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-10">
                    <b class="pull-right"><span id="spnTotal"></span></b>
                </div>
            </div>
        </div>
        <br />
        <div id="divYourBusinessSection">
            <div class="row">
                <div class="col-md-2 pull-right">
                    <input type="button" onclick="saveServiceListing()" value="Next" class="btn btn-default right form-control customcontinue" />
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/template" id="tmplBusinessClassification">
    <div class="row divPlanRow" id="divPlanRow_<%= Id %>">
        <div class="col-md-3">
            <label class="control-label">Select County </label>
            <select class="form-control drpCounties" id="drpCounties_<%= Id %>" onchange="checkConflictPlan()">
                @foreach (var item in counties)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Business Classification</label>
            <select class="form-control mytext-field txtBusinessClass" onchange="checkConflictPlan()" id="txtBusinessClass_<%= Id %>">
                <option value="">--Select Business--</option>
                @foreach (var item in funeralServices)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label>Plans</label>
            <select class="form-control mytext-field txtPlans" onchange="checkConflictPlan()" id="txtPlans_<%= Id %>">
                <option value="">--Select Plan--</option>
                @foreach (var item in ViewBag.Plans as List<PartnerPlan>)
                {
                    <option value="@item.Id|@item.Position">@item.Title</option>
                }
            </select>
            <span style="color:red" class="spnPlanError"></span>
        </div>
        <div class="col-md-2">
            <br /><br />
            <span class="fa fa-trash-o" onclick="removeBusinessPlanRow('<%= Id %>')" style="cursor:pointer;font-size:20px;color:red"></span>
        </div>
    </div>

</script>
<input type="hidden" id="hidGetPostCodeServicesUrl" value="@Url.Action("GetAddress", "Home",new { Area=""})" />
<input type="hidden" id="hIdLatitudeVal" value="" />
<input type="hidden" id="hIdLongitudeVAl" value="" />
<input type="hidden" id="Imghiden" value="@Url.Action("Upload","Users")" />
<input type="hidden" id="hidSaveServiceLnk" value="@Url.Action("SaveService", "Users")" />