@model IEnumerable<BurialPlots.DAL.PartnerPlan>
@{
    ViewBag.Title = "My Plan";
    Layout = "~/Areas/Admin/Views/Shared/_UsersLayout.cshtml";
    var patnerPlan = ViewBag.Plan;
}

@section Scripts{
    <script src="~/Areas/Admin/JS/Users/MyPlan.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <h2>My Plan</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="radio">
                @if (patnerPlan != null)
                {
                    <label><input type="radio" name="plan" id="NoPlan" class="plan" value="NoPlan"><span style="margin-left:21px;">No Plan</span></label>
                }
                else
                {
                    <label><input type="radio" id="NoPlan" name="plan" class="plan" value="NoPlan" checked><span style="margin-left:21px;">No Plan</span></label>
                }
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    foreach (var item in Model)
    {
       
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <div class="radio">
                            <label class="control-label col-md-1">
                                @if (patnerPlan != null)
                                {

                                    if (item.Title==patnerPlan.PartnerPlan.Title)
                                    {
                                        <input type="radio" id="plan" name="plan" class="plan" value="@item.Id" checked>
                                    }
                                    else
                                    {
                                        <input type="radio" id="plan" name="plan" class="plan" value="@item.Id">
                                    }
                                }
                                else
                                {
                                    <input type="radio" id="plan" name="plan" class="plan" value="@item.Id">
                                }


                            </label>
                            <div class="col-md-11" style="border:1px solid lightgrey; height:230px;">
                                <h4><b>@item.Title</b></h4>
                                <p style="text-align:justify;">
                                   @item.Description
                                </p>
                                <strong style="font-size:15px;">Price: &#8356<span style="color:red;">@item.Price</span> </strong>
                                @*<button id="" onclick="Myplan('plan1')" style="float:right; margin-bottom:5px; background-color:#6e7888; color:white; border:none; font-size:15px; height:30px; width:70px;">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
            <button id="" class="btn btn-danger" onclick="Myplan()" style="float:right; margin-bottom:5px; background-color:#6e7888; color:white; border:none; font-size:15px; height:30px;">Submit</button>
    </div>
</div>

<input type="hidden" id="hPartnerPlanId" value="@ViewBag.Id" />




