@model BurialPlots.DAL.OrderPlan
@{
    ViewBag.Title = "Plan Order Detail";
    Layout = "~/Areas/Admin/Views/Shared/_UsersLayout.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#li-Dashboard").removeClass("start active");
            $("#li-Order").addClass("start active");
        });
    </script>
}
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("MyOrders", "Users")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Plan Order Detail</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <label><b>Cart ID:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.CartId</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Name:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.FirstName</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Business Name:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.SeviceListing.BusinessName</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Address:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.Address</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Country:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.Country</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Contact No.:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.CellNo</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Status:</b></label>
            </div>
            <div class="col-md-10">
                @if (Model.Status == "Pending")
                {
                    <select id="drpStatus" disabled>
                        <option value="Pending" selected="selected">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Cancelled">Refunded</option>
                    </select>
                }
                else if (Model.Status == "Confirmed")
                {
                    <select id="drpStatus" disabled>
                        <option value="Pending">Pending</option>
                        <option value="Confirmed" selected="selected">Confirmed</option>
                        <option value="Cancelled">Refunded</option>
                    </select>
                }
                else if (Model.Status == "Cancelled")
                {
                    <select id="drpStatus" disabled>
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Cancelled" selected="selected">Refunded</option>
                    </select>
                }
                else
                {
                    <select id="drpStatus" disabled>
                        <option value="Pending" selected="selected">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Cancelled">Refunded</option>
                    </select>
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Order Plan:</b></label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <table class="table table-bordered table-hover table-responsive">
                        <tr>
                            <th>
                                Plan Title
                            </th>
                            <th>
                                County
                            </th>
                            <th>
                                Business Class
                            </th>
                            <th>
                                Plan Price
                            </th>
                        </tr>
                        @foreach (var item in Model.OrderPlanItems)
                        {
                            <tr>
                                <td>@item.ServiceListingPlan.PartnerPlan.Title</td>
                                <td>@item.ServiceListingPlan.County.Name</td>
                                <td>@item.ServiceListingPlan.FuneralService.Name</td>
                                <td>
                                    @{
                                        var price = String.Format("{0:0.00}", item.Price);
                                    }
                                    <span>@price</span>
                                </td>
                            </tr>
                                        }
                    </table>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                @{
                    var Totalprice = String.Format("{0:0.00}", Model.OrderPlanItems.Sum(c => c.Price));
                }
                <b class="pull-right"><span>Total Amount: @Totalprice</span></b>
            </div>
        </div>
    </div>
</div>
