@model BurialPlots.DAL.Partner
@using BurialPlots.Models
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Areas/Admin/Views/Shared/_UsersLayout.cshtml";
}

@section Scripts{

    <script src="~/Areas/Admin/JS/Users/userProfile.js"></script>

}
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("MyListings", "Users")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>My Profile</h2>
    </div>
</div>

@if (Model != null)
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label class="control-label col-md-2">First Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                    @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Last Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", id = "LName" } })
                    @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    @{
                        var email = "";
                        if (Model.Email != null)
                        {
                            email = new DataEncryptor().Decrypt(Model.Email);
                        }
                        <input type="text" class="form-control" value="@email" id="email" />
                    }
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
           @*<input type="hidden" value="@Model.Picture" name="Picture" id="imgProfile" />*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Phone Number</label>
                <div class="col-md-10">
                    @{
                        var number = "";
                        if (Model.CellNo != null)
                        {
                            number = new DataEncryptor().Decrypt(Model.CellNo);
                        }
                        <input type="text" class="form-control" value="@number" id = "PNumber" />
                    }
                    @*@Html.EditorFor(model => model.CellNo, new { htmlAttributes = new { @class = "form-control", id = "PNumber" } })*@
                    @Html.ValidationMessageFor(model => model.CellNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </div>
        <br />
                            }
                        }

<input type="hidden" id="Imghiden" value="@Url.Action("Upload","Users")" />
<input type="hidden" value="@Url.Action("UpdateProfile","Users")" id="hProfileId" />
<input type="hidden" id="hId" value="@Model.Id" />
