@model IEnumerable<BurialPlots.DAL.FuneralService>
    
<table class="table table-responsive table-bordered table-hover table-striped" id="tblLoadFuneralServices">
    <thead>
        <tr>
            <th class="hide"></th>
            <th>
                Service Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="hide">@item.Id</td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <span class="fa fa-edit" style="color: green; cursor: pointer" title="Edit the service" onclick="editFuneralServices('@item.Id', '@item.Name', '@item.Description','@item.Picture')"></span>
                    <span class="fa fa-trash" style="color: red; cursor: pointer" title="Delete the service" onclick="deleteFuneralService('@item.Id')"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
