@model IEnumerable<BurialPlots.DAL.Grave>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("GravesInventoryExport", "Order")" class="pull-right" title="Export to Excel"><i style="font-size:25px" class="fa fa-file-excel-o"></i></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3 pull-right">
        <select class="form-control" onchange="toggleGravesDiv()" id="drpViewType">
            <option value="internement">Show Internements</option>
            <option selected="selected" value="grave">Show Plots</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped" id="tblLoadGraves">
            <thead>
                <tr>
                    <th width="10%">
                        Plot No
                    </th>
                    <th width="20%">
                        Plot Name
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th width="10%">Total</th>
                    <th width="10%">
                        Available
                    </th>
                    <th width="10%">
                        Sold
                    </th>
                    <th>
                        Pending
                    </th>
                    <th width="20%">Tiers</th>

                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlotNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlotName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @item.CemeteryLayers.Count()
                        </td>
                        <td>
                            @item.CemeteryLayers.Where(c => c.IsBooking != true).Count()
                        </td>
                        <td>
                            @item.CemeteryLayers.Where(c => c.IsBooking == true && c.Grave.OrderCemeteries.FirstOrDefault() != null && c.Grave.OrderCemeteries.FirstOrDefault().Order.Status.ToLower() == "confirmed").Count()
                        </td>
                        <td>
                            @item.CemeteryLayers.Where(c => c.IsBooking == true && c.Grave.OrderCemeteries.FirstOrDefault() != null && c.Grave.OrderCemeteries.FirstOrDefault().Order.Status.ToLower() == "pending").Count()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tier.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("ShowInventryDetails", "Order", new { id= item.Id })"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
