@model IEnumerable<BurialPlots.DAL.Order>
@using BurialPlots.Models
<div class="row">
    <div class="col-md-6">
        <h3>Cemetery Sales</h3>
    </div>
    <div class="col-md-6">
        <a class="pull-right" href="@Url.Action("ExportExcelReport", "Order", new { dtFrom=ViewBag.DateFrom, dtTo=ViewBag.DateTo, status = ViewBag.Status, reportTitle= ViewBag.ReportTitle })" title="Export to Excel"><span class="fa fa-file-excel-o" style="font-size:25px"></span></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                <span>Total Sale: </span><span><b style="color:blue">@ViewBag.TotalSale</b></span>&nbsp;
            </div>
            <div class="col-md-4">
                <span>Total Refunded: </span><span><b style="color:red">@ViewBag.TotalRefund</b></span>&nbsp;
            </div>
            <div class="col-md-4">
                <span>Total Revenue: </span><span><b style="color:green">@ViewBag.Revenue</b></span>&nbsp;
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-responsive table-striped" id="tblLoadOrdersReport">
            <thead>
                <tr>
                    <th>
                        Order ID
                    </th>
                    <th>
                        Order by
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Price
                    </th>
                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CartId
                        </td>
                        <td>
                            @item.Member.Fname @item.Member.Lname
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.OrderDate.Value.ToString("dd-MMM-yyyy hh:mm tt")
                        </td>
                        <td style="text-align:right">
                            @Math.Round(Convert.ToDecimal(item.OrderCemeteries.Sum(c => c.Price)), 2)
                        </td>
                        @*<td>
                            <span class="fa fa-edit" style="color:green; cursor:pointer" onclick="editOrder('@item.Id')" title="Edit the order"></span>
                            <span class="fa fa-trash-o" style="color:red; cursor:pointer" title="Delete the order" onclick="deleteOrder('@item.Id')"></span>
                        </td>*@
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

