@model BurialPlots.DAL.Order
@using BurialPlots.DAL
@{
    ViewBag.Title = "Edit Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Areas/Admin/JS/Order/editOrder.js"></script>
}
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Order",new {type="SuperAdmin" })" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back to Orders </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Order Detail</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <label><b>Cart ID:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.CartId</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>First Name:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.FirstName</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Last Name:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.LastName</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Address:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.Address</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Country:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.Country</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Contact No.:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.CellNo</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Layers:</b></label>
            </div>
            <div class="col-md-10">
                <span>@Model.OrderCemeteries.Count()</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Status:</b></label>
            </div>
            <div class="col-md-10">

                @if (Model.Status == "pending")
                {
                    <select id="drpStatus">
                        <option value="Pending" selected="selected">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Cancelled">Refunded</option>
                    </select>
                }
                else if (Model.Status == "cancelled")
                {
                    <select id="drpStatus" disabled>
                        <option value="Cancelled" selected="selected">Refunded</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Pending">Pending</option>
                    </select>
                }
                else
                {
                    <select id="drpStatus">
                        <option value="Confirmed" selected="selected">Confirmed</option>
                        <option value="Pending">Pending</option>
                        <option value="Cancelled">Refunded</option>
                    </select>
                }

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label><b>Order Cemetries:</b></label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <table class="table table-bordered table-hover table-responsive">
                        <tr>
                            <th>
                                Plot Name
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Religion
                            </th>
                            <th>
                                Layer Name
                            </th>
                            <th>Pre Need</th>
                            <th>At Need</th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>

                        @foreach (var item in Model.OrderCemeteries)
                        {
                            <tr>
                                <td>@item.Grave.PlotName</td>
                                <td>
                                    <span>@item.Grave.Location</span>
                                </td>
                                <td>
                                    @if (item != null && item.Grave.MainSection != null && item.Grave.Relgion != null)
                                    {
                                        <span>@item.Grave.Relgion.RelgionName</span>
                                    }
                                </td>

                                <td>@item.Grave.CemeteryLayers.FirstOrDefault(c => c.Id == item.Quantity).Name</td>
                                <td>
                                    @if (item.PreNeed == true)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                                <td>
                                    @if (item.AtNeed == true)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                                @{
                                    var price = Math.Round(Convert.ToDecimal(item.Price), 2);
                                }
                                <td>£@price</td>
                                <td>£@price</td>
                            </tr>


                                    }
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <label><b>Total: £@Math.Round(Convert.ToDecimal(Model.OrderCemeteries.Sum(x => x.Price)), 2)</b></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 text-center">
        <input type="button" value="Update Status" class="btn btn-primary" onclick="updateOrderStatus('@Model.Id')" />
    </div>
</div>

<input type="hidden" id="hidUpdateOrderStatusUrl" value="@Url.Action("UpdateOrderStatus", "Order")" />