
@{
    ViewBag.Title = "Plots Inventory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/Areas/Admin/JS/Order/graveInventory.js"></script>
    }
<h2>Plots Inventory</h2><br />
<div class="row">
    <div class="col-md-7">
        <span>Total Internements: </span><b>@ViewBag.TotalGraves</b>  |  
        <span>Available: </span><b>@ViewBag.TotalAvailable</b>  |  
        <span>Sold: </span><b>@ViewBag.TotalSold</b>  |  
        <span>Pending: </span><b>@ViewBag.TotalPending</b>  |  
        <span>Refunded: </span><b>@ViewBag.TotalRefunded</b>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12" id="divLoadGraves"></div>
</div>
<br />

