
@{
    ViewBag.Title = "Reports";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Areas/Admin/JS/Order/reports.js"></script>

}

<h2> Reports</h2>
<br />
<div>
    <div class="row">
        <div class="col-md-3">
            <select id="drpReportTitle" class="form-control">
                <option value="cemetery">Cemetery Report</option>
                <option value="plan">Plan Report</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="date" onkeypress="return false" placeholder="From Date" id="dateFrom" value="" class="form-control datepicker"/>
        </div>
        <div class="col-md-1" style="padding-left:33px;padding-top:5px;">
            To
        </div>
        <div class="col-md-3">
            <input type="date" onkeypress="return false" placeholder="To Date" id="dateTo" value="" class="form-control datepicker"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <select id="drpStatus" class="form-control condition">
                <option value="">-- Select Status -- </option>
                <option value="Pending">Pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Cancelled">Refunded</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <input type="button" value="Search" class="btn btn-primary" onclick="loadReports()" />
        </div>
    </div>
</div>

<br />
<div id="divLoadReports">

</div>

<input type="hidden" id="hIdLaodReportsLnk" value="@Url.Action("LoadReports","Order")" />
<input type="hidden" id="hidDeleteOrderUrl" value="@Url.Action("DeleteOrder", "Order")" />
<input type="hidden" id="hidEditOrderUrl" value="@Url.Action("EditOrder", "Order")" />
<input type="hidden" id="hidDeletePlanOrderUrl" value="@Url.Action("DeletePlanOrder", "Order")" />
<input type="hidden" id="hidEditPlanOrderUrl" value="@Url.Action("EditPlanOrder", "Order")" />
