@model IEnumerable<BurialPlots.DAL.Category>


<table id="tblcategory" class="table table-bordered table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>
              Category Code
            </th>
            <th>
                Category Name
            </th>
            <th>
                Category Image
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Active)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatPic)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>*@
                <td>
                   <a> <i class="fa fa-trash" aria-hidden="true" onclick="Delete(@item.Id)"></i></a>
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true" title="Click here To Edit" id="edit" onclick="edit('@item.Id','@item.Code','@item.CateName','@item.CatPic')"></i></a>
                         <input type="hidden" id="del" value="@Url.Action("Delete","Categories")" />
                </td>
            </tr>
        }
    </tbody>
</table>
