@model IEnumerable<BurialPlots.DAL.Slide>
<table class="table table-responsive table-hover table-bordered table-striped" id="tblLoadSlides">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Caption
            </th>
            <th>
                Image
            </th>
            <th>
                Slider Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.Raw(item.Caption)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img style="width:120px; height:70px; margin-top:10px;" src="~/images/Blog/@item.Image" alt="Slide Image" />

                    }
                </td>
                <td>
                    @item.Slider.Name
                </td>
                <td>
                    @{

                        string res = "";
                    }
                    @if (item.Caption != null)
                    {
                         res = item.Caption.Replace("\n", String.Empty);

                    }

                    <span class="fa fa-pencil fa-lg" style="color: green; cursor: pointer" onclick="editSlides('@item.Id','@item.Name','@item.Slider.Name','@res', '@item.Image')"></span>&nbsp;
                    <span class="fa fa-trash fa-lg" style="color: red; cursor: pointer" onclick="deleteSlide('@item.Id')"></span>
                </td>
            </tr>
                        }

    </tbody>
</table>
