
@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
@*@section Scripts{

    <script src="~/js/Admin/AdminLogin.js"></script>
        }*@

<!DOCTYPE html>
<html lang="en">
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@
    <meta charset="utf-8" />
    @*<link href="~/style.css" rel="stylesheet" type="text/css" media="all" />*@

    @*<script src="~/js/Plots/AddMember.js"></script>
    <script src="~/js/megamenu.js"></script>
    <script src="~/js/jquery.js"></script>*@

    @*<link rel="stylesheet" href="style.css" type="text/css" media="all">*@
    @*<script type="text/javascript" src="js/jquery.js"></script>*@
    @*<script src="~/js/jquery.js"></script>*@

    <!-- fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">*@

    <!-- fixed header -->
    
    <!-- Owl Carousel Assets -->
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />



    @*<script src="~/js/megamenu.js"></script>*@
    <title>Login</title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/Content/Global")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

</head>
<body class="login" id="logigPage">
  
    <div class="site-info" style="padding-top:200px; padding-bottom:100px; background-color:white ">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-6">
                <strong style="font-size:40px; text-align:center;color:#8090ab">Login</strong>
            </div>
        </div>

        @*<div class="section overlay-purple">*@
        <div class="container">
            @*<h2 class="underline text-left-align">Member Registration</h2>*@
            <div class="contact-info">
                @*<div class="contact-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac risus lobortis, vehicula arcu hendrerit, semper turpis. Proin efficitur id massa at maximus. Maecenas et augue convallis, feugiat orci id, ullamcorper lectus. Proin ut purus eget nibh maximus bibendum. </p>
                        <p>
                            Address here <br />
                            Telephone number here <br />
                            Email address here
                        </p>
                    </div>*@

                <div class="row">
                    <div class="col-md-4">
                        </div>
                        <div class="col-md-4">

                            <label style="font-size:20px;color:#8090ab; ">Email </label>
                            <input type="email" id="email" style="border-color:#8090ab;background-color:white;color:black; font-size:medium;"  />

                        </div>
                    <div class="col-md-4">
                        </div>
                       
                    </div>
                <div class="row">
                    <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <label style="font-size:20px;color:#8090ab;">Password</label>
                            <input type="password" id="password" style="border-color:#8090ab;background-color:white;color:black; font-size:medium" />
                        </div>
                    <div class="col-md-4">
                        </div>
                    </div>
               
               
                <div class="row" style="padding-top:50px;">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="button" value="Login" onclick="login()" style="background-color:#8090ab;width:100%;height:70px;"/>
                        </div>
                    <div class="col-md-4"></div>
                    </div>

            </div>
        </div>
    </div>
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/assets/pages/scripts/login.min.js" type="text/javascript"></script>

   


    <!-- END PAGE LEVEL SCRIPTS -->

    @*<input type="hidden" id="hidLoginUrl" value="@Url.Action("Login","Account")" />
    <input type="hidden" id="hidDashboardUrl" value="@Url.Action("ViewUser","CallCentersOwner")" />
    <input type="hidden" id="hidloginUrl" value="@Url.Action("LoginAccount", "Account")" />*@
</body>
</html>
