
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<link href="~/css/TermsAndCondtions.css" rel="stylesheet" />

<div style="padding-top:200px;">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="container">
                    <h2 class="underline">General Terms and Conditions of Sale</h2>
                    @*<div class="padding-left">*@
                    <ul class="customeUnderline">
                        <li><a href="@Url.Action("","")">General Terms and Conditions of Sale</a></li>
                        <li><a href="@Url.Action("","")">Return Policy</a></li>
                        <li><a href="@Url.Action("","")">General Terms and Conditions of Use</a></li>
                        <li><a href="@Url.Action("","")">Privacy Policy</a></li>
                        <li><a href="@Url.Action("","")">Cookie Policy</a></li>

                    </ul>

                    <br/ >
                    <p>
                        The following General Terms and Conditions of Sale together with the documents referred to below, including the Privacy Policy and General Terms and Conditions of Use govern the offer and sale of services on our website,  “burialplots.com”.  Please read these terms and conditions carefully before ordering any products.  You should understand that by ordering any of our services, you agree to be bound by these terms and conditions.
                    </p>
                    <p>
                        The services purchased on burialplots.com are sold directly by Burial Plots Limited, a company registered in England and Wales with company number 10523557 and whose registered office is situated at 11 Caroline Street, Birmingham B3 1TR
                    </p>
                    <h3>1. Our Business Policy</h3>
                    <p>1.1 Burial Plots Limited offers services for sale on burialplots.com and its e-commerce services are available exclusively to its end users, ie the “Consumers”.</p>
                    <p>1.2 These General Terms and Conditions of Sale (together with the documents referred to herein) regulate the offer, transmission and acceptance of purchase relating to services on burialplots.com</p>
                    <p>1.3 The General Terms and Conditions of Sale do not regulate the supply of services or the sale of services performed by third parties that are on burialplots.com through links, banners or other hypertext links.  Before sending orders and purchasing services from those third parties, we recommend that you verify the third party’s terms and conditions.  Under no circumstances shall Burial Plots be deemed liable for the supply of services provided by third parties or for the execution of e-commerce transactions between users of burialplots.com and third parties.</p>

                    <h3>2. How to Execute a Contract with Burial Plots</h3>
                    <p>2.1	To place an order for the purchase of one or more services on    burialplots.com you must fill out the online order form and send it electronically to Burial Plots following the relevant instructions.</p>
                    <p>2.2	The order form contains a link to these General Terms and Conditions of Sale and also contains information on the main characteristics of each service ordered and the relevant unit price (including all applicable fees and taxes) the type of payment that you may use in order to purchase each service.</p>
                    <p>2.3	An order shall be deemed submitted when Burial Plots receives your order form electronically and the order information has been verified as correct.</p>
                    <p>2.4	Before submitting your order form for the purchase of services, you will be asked to carefully read the General Terms and Conditions of Sale, to print a copy using the print option and to save or reproduce a copy thereof for your own personal use.</p>
                    <p>2.5	The order form will be filed in our database for the time required to process your order and as provided by law.  You may access your order form by clicking on the section called My Order in the Customer Care area.</p>
                    <p>2.6	Before submitting the order form, you will be asked to identify and correct possible input errors.</p>
                    <p>2.7	The submission of orders to Burial Plots must be in English.</p>
                    <p>2.8	After your order form has been submitted, Burial Plots will process your order.</p>
                    <p>2.9	Burial Plots may not process purchases when there are not sufficient guarantees of solvency, when orders are incomplete or incorrect, or the services are no longer available.  In the above cases, we shall inform you by e-mail that the contract has not been executed and that Burial Plots has not carried out your purchase order specifying the reasons thereof.  If the services displayed on burialplots.com are no longer available at the time of your last access or once Burial Plots has received your order form, Burial Plots shall inform you of the unavailability of the ordered services within thirty (30) days from the day after Burial Plots has received your order.</p>
                    <p>2.10	By submitting an order form to Burial Plots, you unconditionally accept and undertake to observe the provisions of these General Terms and Conditions of Sale in your contract with Burial Plots.  Should you not agree with certain provisions of these General Terms and Conditions of Sale, please do not submit your order form for the purchase of services on burialplots.com</p>
                    <p>2.11	By submitting an order form, you agree and accept these General Terms and Conditions of Sale as well as further conditions contained on burialplots.com, through links, including the General Terms and Conditions of Use and Privacy Policy</p>
                    <p>2.12	Upon submission of an order form, Burial Plots shall send you a purchase order receipt e-mail, containing a summary of the information related to the order form (General Terms and Conditions of Sale, the main characteristics, detailed information on price, terms of payment</p>

                    <h3>3. Guarantees and Service Price Indication</h3>
                    <p>3.1	The main characteristics of services are shown on burialplots.com on each relevant page and any associated plan and imaging.</p>
                    <p>3.2	Prices are subject to change and will be as quoted on our site from time to time, except in cases of obvious error.  Check the final price of sale before sending the relevant order form.</p>
                    <p>3.3	As a Consumer, you are entitled to various statutory warranties including a warranty that the services supplied to you conform with your contract with us.</p>

                    <h3>4. Payments</h3>
                    <p>4.1	Payment of the services prices must be made by using one of the procedures indicated on the order form.</p>
                    <p>4.2	In the case of payment by credit/debit card, all details (for example, card number or expiration date) will be sent by encrypted protocol to the Vendor’s bank which provides remote electronic payment services without third parties having any access thereto whatsoever.  Such details will not be used by Burial Plots for performing the procedure relevant to your purchase or issuing refunds as applicable or for reporting cases of fraud to the police.  The price for the purchase of services as indicated in the order form, will be charged to your current account.</p>

                    <h3>5. Consumer Rights, the Cooling Off Period and Cancellation of services in accordance with consumer protection legislation</h3>
                    <p>5.1	In accordance with consumer protection legislation, you have the right to cancel your contract with Burial Plots in relation to services purchased from burialplots.com without any penalty and for any reason, by notifying Burial Plots in writing within fourteen (14) calendar days, beginning on the day your order is confirmed to you.  In this case you will receive a full refund of the price of the services in accordance with this Clause 5 and Clause 6 below.</p>
                    <p>5.2	To cancel services you may choose one of the following methods, in accordance with consumer protection legislation, within fourteen (14) calendar days (beginning on the day your order is accepted).</p>
                    <p>i)	use of the Return Form (in conformity with the standard form in accordance with the consumer protection legislation, to be duly compiled and submitted directly online through the site burialplots.com</p>
                    <p>ii)	use of the Form (in conformity with the standard form in accordance with consumer protection legislation), duly compiled and submitted to the Vendor</p>
                    <p>iii)	sending the Vendor another declaration explicitly stating your decision to withdraw from the contract.  You should keep a record of your cancellation notice.</p>
                    <p>5.3	If you cancel the contract within the fourteen (14) calendar days cooling off period pursuant to this Clause 5, we will process the refund due to you in accordance with consumer protection legislation as soon as possible and, in any event within 14 days of receiving your notice of cancellation.  Other than as set out herein, you will not incur any fees as a result of your request for reimbursement Nothing in this section 5 affects your applicable statutory rights under any other applicable law.</p>

                    <h3>6.	Refund Procedures and Money</h3>
                    <p>6.1	If the recipient of the services indicated in the order form is different from the individual who made the payment for such services, the amount paid for cancelled contracts shall be refunded by Burial Plots to the individual who made the payment.</p>
                    <p>6.2	The value date for the credit shall be the same as the value date of the original debit and consequently you shall not suffer interest losses.</p>
                    <p>6.3	We will usually refund any money received from you using the same method originally used by you to pay for the purchase, unless you have expressly agreed otherwise.</p>
                    <p>6.4	Burial Plots will refund the price of the services in accordance with the applicable time frame as specified in clause 5 above.  To the extent permitted by applicable law Burial Plots shall not be responsible for any delay that is beyond its control including for delays caused by the method of purchase or refund, including by way of example:</p>
                    <p>
                        •	Delay caused by credit card/debit card companies refund policies
                        •	Payment by PayPal:  refunds will be credited to your PayPal account and will be visible immediately.  The actual reimbursement to the credit card associated with your PayPal account depends on the company that issued the card
                    </p>

                    <h3>7. Privacy</h3>
                    <p>7.1	You will find information on how we process your personal data by clicking on Privacy Policy</p>
                    <p>7.2	You are advised to read, if you haven’t already done so, our General Terms and Conditions of Use which also contain important information on how we process the personal data of our users and on the security systems of burialplots.com</p>
                    <h3>8.	Governing Law and Jurisdiction</h3>
                    <p>8.1	These General Terms and Conditions of Sale are governed by the laws of England and Wales </p>
                    <h3>9.	Amendments and updates</h3>
                    <p>9.1	The General Terms and Conditions of Sale may be amended from time to time due to new laws and regulations or other reasons.  The new General Terms and Conditions of Sale shall be effective as of the date of publication on burialplots.com.</p>
                    <br />
                    <br />
                </div>
            </main>
        </div>
    </div>
</div>
