@using BurialPlots.DAL
@{
    Layout = null;
    var services = new FuneralServicesRepository().GetAll().ToList();
    var objFooter = new FooterRepository().FirstOrDefault();
    var locations = new TownsRepositoy().GetAll().ToList().Take(22).ToList();
}

<!DOCTYPE html>

<html style="" dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <!-- jQuery library -->





    <link href="~/style.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/LoderStyle.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
   
    <style>
        .setdrop ul li {
            color: green;
        }

        .customColorA li a {
            color: black;
        }

        .changeWidth {
            min-width: 73px;
            margin: 10px 0 0;
        }
        .chgWidth{
            min-width: 73px;
            margin: 10px 0 0;
        }
        .changeWidth li a:hover{
           background-color:#8795b0;
        }
        .chgWidth li a:hover{
            background-color:#8795b0;
        }
       body{
           font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
       }
    </style>

</head>
<body>
    <div id="static-loader" class="static-loader">
        Loding...
    </div>
    <!-- END TODO DROPDOWN -->
    <!-- BEGIN USER LOGIN DROPDOWN -->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <div id="page">
        <div>
            <div class="header-top">
                <div class="container">
                    <ul class="header-top-menu pull-left">
                        <li class="pull-left"><a data-toggle="tooltip" title="0800 193 1003" href="tel:08001931003" style="font-weight:normal;"><i class="fa fa-phone" aria-hidden="true"></i> TEL: 0800 193 1003</a></li>
                    </ul>
                    <ul class="header-top-menu">
                        @if (Session["cmemId"] != null)
                        {
                            <li>
                                <div id="customMobilemenu">
                                    <div class="dropdown" id="deropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span style="font-weight:normal;">@Session["cmemFirstName"] <i class="fa fa-angle-down"></i></span>
                                        </button>
                                        <ul class="dropdown-menu changeBackground customColorA chgWidth">
                                            <li><a href="@Url.Action("MyOrders", "Orders",new { Area="Customer"})">Dashboard</a></li>
                                            <li><a href="@Url.Action("Checkout", "Market",new {Area="" })">My Cart</a></li>
                                            <li><a href="@Url.Action("Logout", "Home",new { Area=""})">Logout</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <a href="#">@Session["cmemFirstName"]</a>

                            </li>

                        }
                        else if (Session["memId"] != null)
                        {
                            <li>
                                <div id="customMobilemenu">
                                    <div class="dropdown" id="deropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span style="font-weight:normal;">@Session["memFirstName"] <i class="fa fa-angle-down"></i></span>
                                        </button>
                                        <ul class="dropdown-menu changeBackground customColorA chgWidth">
                                            <li><a href="@Url.Action("Dashboard", "Users",new { Area="Admin"})">Dashboard</a></li>
                                            <li><a href="@Url.Action("MyListings", "Users", new { Area="Admin"})">My Listings</a></li>
                                            <li><a href="@Url.Action("Logout", "Home",new {Area="" })">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                                @*<a href="#">@Session["memFirstName"]</a>*@

                            </li>

                        }

                        else
                        {
                            <li><a data-toggle="tooltip" title="LOGIN SIGNUP!" href="@Url.Action("LoginSignup", "Home",new {Area="" })" style="font-weight:normal;">Sign in<i class="fa fa-user" aria-hidden="true"></i></a></li>
                        }
                    </ul>
                </div><!-- container -->
            </div>

            <header id="masthead" class="site-header" role="banner">
                <div class="site-header-main">


                    <div class="header-menu">
                        <div class="container">

                            <div class="site-branding" style="width:180px;">
                                <a href="@Url.Action("PageView","Page",new {id="Index", Area="Admin" })"><img src="~/images/logo.png" alt="Burial Plots" style="margin-top:6px;"></a>
                            </div>
                            <div id="site-header-menu" class="menu-container site-header-menu">
                                <div class="menu" id="divLoadCategoriesLayout" style="display:none">
                                </div>
                            </div>

                            <div class="progress set-bar" id="divProgress-bar">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:2%">
                                </div>
                            </div>
                        </div>
                    </div><!-- header-menu -->
                    <!-- .site-header-menu -->
                </div>
                <!-- .site-header-main -->
            </header>
        </div>
    </div>

    @RenderBody()


    <div id="cotactfoter" class="section overlay-purple" style="background-image:url('/images/footer-form-bg.jpg');">
        <div id="cotactfoter" class="container">
            <h2 class="underline text-left-align">@BurialPlots.Resources.HomeTexts.Wedidhear</h2>
            <div id="cotactfoter" class="contact-info">
                <div class="row">
                    <div class="col-md-4" style="padding-top:12px;">
                        <label>@BurialPlots.Resources.HomeTexts.FullName</label>
                        <input type="text" style="color:black" class="form-control" id="txtname" placeholder="John Jones" />
                    </div>
                    <div class="col-md-4" style="padding-top:12px;">
                        <label>@BurialPlots.Resources.HomeTexts.Email</label>
                        <input type="text" style="color:black" class="form-control" id="txtemail" placeholder="John@mail.com" />
                    </div>
                    <div class="col-md-4" style="padding-top:12px;">
                        <label>@BurialPlots.Resources.HomeTexts.Telephone</label>
                        <input type="text" class="form-control" style="color:black" id="txtphone" placeholder="123456" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                    </div>
                </div>
                <div class="row" style="padding-top:12px;">
                    <div class="col-md-8">
                        <label>@BurialPlots.Resources.HomeTexts.Message</label>
                        <input type="text" class="form-control" id="txtmessage" style="color:black" placeholder="John Jones's" onkeypress="loginByEnter(event)" />
                    </div>
                    <div class="col-md-4">
                        <input type="button" onclick="ContactUs()" style="margin-top: 28px; width:100%; height:33px; border:2px solid;line-height: 0.44;" class="btn" value="@BurialPlots.Resources.HomeTexts.Submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="colophon" class="site-footer" role="contentinfo">
        </div>

        <div class="section light-purple-bg">
            <div class="container">
                <div class="row">
                    <div class="footer-block row">
                        <a href="#"><img src="~/images/footer-logo.png" alt=""></a>
                        <p>Keep up to date with BurialPlots.co.uk</p>
                    </div><!-- footer-block -->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3 class="white-color">Services</h3>
                        </div>
                        <div class="row black-color">
                            <div class="col-md-6 footer-block">
                                <ul>
                                    @{
                                        var count1 = 0;
                                        if (services.Count() > 5)
                                        {
                                            count1 = services.Count() / 2;
                                        }
                                        else
                                        {
                                            count1 = services.Count();
                                        }
                                        int i = 0;
                                    }
                                    @for (i = 0; i < count1; i++)
                                    {
                                        if (services[i].Name == "Solicitors")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("Solicitors").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Will Writers")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("WILL-WRITING").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Funeral Directors")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("FUNERAL-DIRECTORS").ToLower(),Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Funeral Cars")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("CARS").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Florists")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("FLORISTS").ToLower(),Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Insurance")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("LIFE-INSURANCE").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="col-md-6 footer-block">
                                <ul>
                                    @while (i < services.Count())
                                    {
                                        if (services[i].Name == "Funeral Plans")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("FUNERAL-PLANS").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Memorials")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("MEMORIALS").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Headstones")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("Headstones").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Stonemasons")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("STONEMASONS").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Coffins")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("Coffins").ToLower(),Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else if (services[i].Name == "Probate")
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("PROBATE").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("PageView", "Page",new {id=("MEMORIALS").ToLower(), Area="Admin"})" class="black-color">@services[i].Name</a></li>
                                        }
                                        i++;
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 footer-block">
                        <h3>Helpful Advice</h3>
                        <ul>
                            <li><a href="@Url.Action("PageView","Page",new {id=("HEALING-PROCESS").ToLower(),Area="Admin" })" class="black-color">Healing Process</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("PARENTAL-GRIEF").ToLower(),Area="Admin" })" class="black-color">Parental Grief</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("SUICIDE").ToLower(),Area="Admin" })" class="black-color">Suicide</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("HELPFUL-ORGS").ToLower(),Area="Admin" })" class="black-color">Helpful Orgs</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("DEALING-WITH-LOSS-OF-A-CHILD").ToLower(),Area="Admin" })" class="black-color">Dealing with Children</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("SHOCK-OF-SUDDEN-DEATH").ToLower(),Area="Admin" })" class="black-color">Shock of Sudden Death</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("WRITING-EULAGIES").ToLower(),Area="Admin" })" class="black-color">Writing Eulogies</a></li>
                            <li><a href="/Home/FAQS" class="black-color">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-block">
                        <h3>Main Menu</h3>
                        <ul>
                            <li><a href="@Url.Action("PageView","Page",new {id=("BURIAL-PLOTS").ToLower(),Area="Admin" })" class="black-color">Burial Plots</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("Bereavement").ToLower(),Area="Admin" })" class="black-color">Bereavement</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("ABOUT-US").ToLower(),Area="Admin" })" class="black-color">About Us</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("HELPFUL-ADVICE").ToLower(),Area="Admin" })" class="black-color">Helpful Advice</a></li>
                            <li><a href="@Url.Action("PageView","Page",new {id=("LEGAL").ToLower(),Area="Admin" })" class="black-color">Legal</a></li>
                            <li><a href="@Url.Action("PageView","Page",new { id=("Contact-Us").ToLower(),Area="Admin"})" class="black-color">Contact</a></li>
                            <li><a href="/Home/TermsAndConditions" class="black-color">Terms And Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="border-top:solid 1px white; border-bottom:solid 1px white">

                    <div class="col-md-3">
                        <img src="~/images/map.png" style="height:275px" class="img-responsive" />
                    </div>
                    <div class="col-md-9">
                        <br />
                        <div class="row">
                            @{
                                List<string> popularlocList = new List<string>();
                                popularlocList.Add("Newcastle Upon Tyne");
                                popularlocList.Add("Sheffield");
                                popularlocList.Add("Nottingham");
                                popularlocList.Add("Aberdeen");
                                popularlocList.Add("Norwich");
                                popularlocList.Add("Peterborough");
                                popularlocList.Add("London");
                                popularlocList.Add("Birmingham");
                                popularlocList.Add("Liverpool");
                                popularlocList.Add("Belfast");
                                popularlocList.Add("Cardiff");
                                popularlocList.Add("Coventry");
                                popularlocList.Add("Swansea");
                                popularlocList.Add("Reading");
                                popularlocList.Add("Manchester");
                                popularlocList.Add("Glasgow");
                                popularlocList.Add("Bristol");
                                popularlocList.Add("Edinburgh");
                                popularlocList.Add("Leicester");
                                popularlocList.Add("Southampton");
                                popularlocList.Add("Northampton");
                                popularlocList.Add("Leeds");

                                var m = 0;
                            }
                            <div class="col-md-4 footer-block">
                                <h3>Popular Locations</h3>
                                <ul>
                                    @while (m < popularlocList.Count())
                                    {

                                        <li><a href="@popularlocList[m].ToLower().Split(' ')[0]" class="black-color">@popularlocList[m]</a></li>
                                        m++;
                                        if (m == 6)
                                        {
                                            break;
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="col-md-4 footer-block">
                                <ul>
                                    @while (m < popularlocList.Count())
                                    {
                                        <li><a href="@popularlocList[m].ToLower().Split(' ')[0]" class="black-color">@popularlocList[m]</a></li>
                                        m++;
                                        if (m == 14)
                                        {
                                            break;
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="col-md-4 footer-block">
                                <ul>
                                    @while (m < locations.Count())
                                    {
                                        <li><a href="@popularlocList[m].ToLower().Split(' ')[0]" class="black-color">@popularlocList[m]</a></li>
                                        m++;
                                        if (m == 22)
                                        {
                                            break;
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row social-strip margin-top-20">
                    <div class="col-md-3" style="margin-top:8px">
                        <span class="white-color font-md">Get Connected with Burial Plots</span>&nbsp;&nbsp;

                    </div>
                    <div class="col-md-8" style="margin-top:14px">
                        <span>
                            <a target="_blank" href="https://www.facebook.com/burialplots/" class="fa fa-facebook social-icon-style" data-toggle="tooltip" title="" data-original-title="Facebook"></a>
                        </span>&nbsp;&nbsp;
                        <span>
                            <a target="_blank" href="https://www.twitter.com/Burial_plots/" class="fa fa-twitter social-icon-style" data-toggle="tooltip" title="" data-original-title="Twitter"></a>
                        </span>&nbsp;&nbsp;
                        <span>
                            <a target="_blank" href="https://www.youtube.com/channel/UCwrv7Fru2eXDB6ZeOkb1KaQ" class="fa fa-youtube social-icon-style" data-toggle="tooltip" title="" data-original-title="Youtube"></a>
                        </span>&nbsp;&nbsp;
                        <span>
                            <a target="_blank" href="http://www.instagram.com/burialplotsonline" class="fa fa-instagram social-icon-style" data-toggle="tooltip" title="" data-original-title="Instagram"></a>
                        </span>&nbsp;&nbsp;
                        <span>
                            <a target="_blank" href="#" class="fa fa-google social-icon-style" data-toggle="tooltip" title="" data-original-title="Pinterest"></a>
                        </span>&nbsp;&nbsp;
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-9 disclaimer">
                        Disclaimer: The opinions expressed within Reviews are those of the author and not the views or opinions of Burial Plots Limited. Registered Office: Suite 5 Curdworth House, Kingsbury Road, Sutton Coldfield B76 9EE. Registered in England and Wales No. 10523557 © Burial PLots Limited 2017. All rights reserved. Burial Plots™ are trademarks of Burial Plots Limited. Privacy policy, Cookie policy & Conditions of use.
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <span class="white-color pull-right">
                                @if (objFooter != null)
                                {
                                    <span>@Html.Raw(objFooter.CopyRight)</span>
                                }
                                else
                                {
                                    <span>&copy; @DateTime.Now.Year, Burial Plots</span>
                                }
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row social-strip" style="margin-top:4px;">
                    <div class="col-md-12" style="margin-top:9px;">
                        <span>
                            <a href="http://www.mastercard.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_ECMC.gif" border="0" alt="MasterCard" style="height:25px;" /></a>
                        </span>&nbsp;&nbsp;
                        <span style="margin-left:-7px;">
                            <a href="http://www.jcbusa.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_JCB.gif" border="0" alt="JCB" style="height:25px;" /></a>
                        </span>&nbsp;&nbsp;
                        <span style="margin-left:-7px;">
                            <a href="http://www.maestrocard.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_MAESTRO.gif" border="0" alt="Maestro" style="height:25px;" /></a>
                        </span>&nbsp;&nbsp;
                        <span style="margin-left:-7px;">
                            <a href="http://www.visa.com" target="_blank"><img src="https://secure.worldpay.com/jsp/shopper/icons/WP_VISA_DELTA.gif" border="0" alt="Visa Debit" style="height:25px;" /></a>
                        </span>&nbsp;&nbsp;
                        <span style="margin-left:-7px;">
                            <a href="http://www.worldpay.com/support/index.php?CMP=BA22713" target="_blank"><img class="img-worldpay" src="https://secure.worldpay.com/jsp/shopper/icons/../pictures/poweredByWorldPay.gif" border="0" alt="Powered by WorldPay" style="height:25px;" /></a>
                        </span>&nbsp;&nbsp;&nbsp;<span style="color:white">We Accept GBP</span>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </footer>

    <input type="hidden" id="hidLoadCategories" value="@Url.Action("loadmenu","Home")" />
    <input type="hidden" id="hidLoadContactus" value="@Url.Action("ContactUs","Home",new {Area=""})" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/sweetalert.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39178878-24"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-39178878-24');

        $(document).ready(function () {
            var isPopularLocation = @ViewBag.IsComingFromPopularLocation;
            if (isPopularLocation === 1) {
                $("#cotactfoter").hide();
                //$("#colophon").hide();
            }

        });
    </script>
    <script src="~/js/common.min.js">
    </script>

    <script src="~/js/Menu/dynmicmenu.js"></script>
    <script src="~/js/megamenu.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 1) {
                jQuery('.header-menu').addClass("sticky");
                $("#deropdown").css("visibility", "hidden");
            }
            else {
                jQuery('.header-menu').removeClass("sticky");
                $("#deropdown").css("visibility", "visible");
            }

        });
    </script>
    <script>
        $(function () {
            $("#enquiryPopup").click(function () {
                $('#imagemodal').modal('show');
            });

            $("#btnEnquiry").click(function () {
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

                if ($("#enName").val() == "") {
                    alert("Name is required");
                    return false;
                } else if ($("#enEmail").val() == "") {
                    alert("Email is required");
                    return false;
                } else if (!emailReg.test($("#enEmail").val())) {
                    alert("Please enter a valid email address");
                    return false;
                } else if ($("#enPhone").val() == "") {
                    alert("Phone is required");
                    return false;
                } else if ($("#enMessage").val() == "") {
                    alert("Message is required");
                    return false;
                }


                var enquiry = { "Name": $("#enName").val(), "Email": $("#enEmail").val(), "Phone": $("#enPhone").val(), "Message": $("#enMessage").val() };
                $.ajax({
                    url: "Home/Enquiry",
                    type: "POST",
                    data: "application/json",
                    contentType: "application/json",
                    data: JSON.stringify(enquiry),
                    success: function (result) {

                    }
                });

                var isPopup = $("#btnEnquiry").attr("class");
                if (isPopup.indexOf("btn") > -1) {
                    $('#imagemodal').modal('toggle');
                    
                } else {
                    alert("Enquiry Sent Successfully");
                }
            });

        });
        var ChangeLanguage = function (lang) {

            var LanguageAbbrevation = lang;
            $.ajax({
                url: "/Home/Change",
                type: "post",
                data: { LanguageAbbrevation: LanguageAbbrevation },
                success: function (res) {
                    if (res == "true") {
                        window.location.reload();
                    }
                },
                error: function (res) {

                    AutoLoader("Error", "error");
                }
            });
        }
    </script>
    <script src="~/js/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function ($) {
            $('.owl-carousel.latest-news').owlCarousel({
                loop: true,
                margin: 10,
                dots: true,
                items: 1,
            });
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#menu-nav').hover(function () {
                $(this).toggleClass('highlighted');
            });

            $('#menu-nav').hover(
                function () { $('#mask').addClass('active') },
                function () { $('#mask').removeClass('active') }
            )

        });
    </script>
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="top: 13%;left: 10%;width: 455px;">
            <div class="modal-content">
                
                <div class="modal-body">
                    
                        <h2>enquire now</h2>
                        <form>
                            <ul class="enquiry-form-header">
                                <li>
                                    <input type="text" placeholder="Name" id="enName">
                                </li>
                                <li>
                                    <input type="text" placeholder="Email" id="enEmail">
                                </li>
                                <li>
                                    <input type="text" placeholder="Telephone" id="enPhone">
                                </li>
                                <li>
                                    <textarea name="" placeholder="Message" id="enMessage"></textarea>
                                </li>
                            </ul>

                        </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnEnquiry">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>