@model BurialPlots.DAL.Grave
@using BurialPlots.Controllers;
@{
    var cartList = new List<tempCartItem>();
    cartList = ViewBag.CartList;
}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@Model.PlotName</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 margin-mob45" style="height:225px">
                <img style="height:225px;width: 100%" src="~/images/@ViewBag.DefaultImage" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                @if (Model.Relgion != null)
                {
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Religion:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.Relgion.RelgionName
                    </div>
                </div>
                }
                @if (Model.SubRelgion != null)
                {
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Sect:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.SubRelgion.SubRelgionName
                    </div>
                </div>
                }

                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Plot No.:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.PlotNo
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Plot Type:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.PlotType
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Location:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.Location
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Tier Type:</strong>
                    </div>
                    <div class="col-md-7">
                        @if (Model.TierId != null)
                        { <span>@Model.Tier.Name</span> }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">No. of Burials:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.CemeteryLayers.Where(c => c.IsBooking != true).Count()
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Write of Internment:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.Internement
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Internment Fee:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.InternementFee
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Lease:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.Lease
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Maintenance:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.Maintenance
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Size:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.Size m<sup>2</sup>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <strong style="color:#6e7a92">Available Layers:</strong>
                    </div>
                    <div class="col-md-7">
                        @Model.CemeteryLayers.Where(c => c.IsBooking != true).Count()
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="width:197px;padding-left:29px">
                <strong style="color:#6e7a92">Short Description:</strong>
            </div>
            <div class="col-md-9">
                @Model.ShortDescription
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="width:197px;padding-left:29px">
                <strong style="color:#6e7a92">Full Description:</strong>
            </div>
            <div class="col-md-9">
                @Model.FullDescription
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <select id="drpLayerModal" onchange="addtoCartModal('@Model.Id')">
                    <option value="">--Select Number of Burials--</option>
                    @foreach (var item in Model.CemeteryLayers)
                    {
                        if (item.IsBooking != true && cartList.FirstOrDefault(c => c.LayerId == item.Id.ToString()) == null)
                        {
                            <option value="@item.Id">@item.Name  |  £ @Math.Round(Convert.ToDecimal(item.Price), 2)</option>
                        }
                    }
                </select>
            </div>
            @if (cartList.Count() > 0)
            {
                decimal? sum = 0;
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="color:#6e7a92">Your selected Internement</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive table-bordered table-hover table-striped" style="font-size:12px">
                                <tr>
                                    <td>Name</td>
                                    <td>Price</td>
                                    <td width="10%"></td>
                                </tr>

                                @foreach (var item in Model.CemeteryLayers)
                                {
                                    if (cartList.FirstOrDefault(c => c.LayerId == item.Id.ToString()) != null)
                                    {
                                        sum = sum + item.Price;
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>£ @Math.Round(Convert.ToDecimal(item.Price), 2)</td>
                                            <td>
                                                <span class="fa fa-trash-o" onclick="removeFromCart('@item.Id')" title="Remove from Cart" style="cursor:pointer; color:red"></span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="pull-right" style="color:#6e7a92">Total: £ @Math.Round(Convert.ToDecimal(sum), 2)</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            @*<div class="col-md-3">
                    <button type="button" onclick="addtoCartModal('@Model.Id')" class="btn btn-default pull-left"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Purchase Today</button>
                </div>*@
            <div class="col-md-6">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#enquiry-form" onclick="closeGraveDetailModal()" class="enquiry-btn pull-left">Enquire Now</a>
            </div>
            <div class="col-md-6">
                <a id="close-modal-btn" style="margin-top:20px; margin-left:10px" class="pull-right" href="#" data-dismiss="modal">Close</a>
                <a href="#" onclick="gotoCheckout()" class="btn btn-default pull-right btn-proceed-mob" id="proceed">PROCEED <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>