@model BurialPlots.DAL.Cemetery

@{
    ViewBag.Title = "Cemetery Details | " + Model.Name;
    Layout = "~/Views/Shared/_Header.cshtml";
}
<link href="~/Content/CemeteryDetails.css" rel="stylesheet" />
<link href="~/css/lightbox.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/lightbox-plus-jquery.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZHjnUsunhjjA4aRg-AAndGf8dTyJwYJ4&libraries=places&callback=initialize" async defer></script>
    <script src="~/js/Market/cemeteryDetails.js"></script>
}
<div class="margin-top-20"></div>
<div class="site-info padding-by-header margin-top-20">
    <div class="container margin-top-20" style="margin-bottom: -150px;">
        <div class="row">
            <div class="col-md-12">
                <h3>@Model.Name</h3>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div style="min-height:600px !important">
                    <span class="cememtery-image-block alignleft">
                        <div id="sync1" class="owl-carousel product-image-gallery owl-theme">
                            @if (Model.CemeteryImages.Count() > 0)
                            {
                                foreach (var item in Model.CemeteryImages)
                                {
                                    <div class="item"><a href="~/images/CemeteryPlots/CemeteryImages/@item.Image" data-lightbox="roadtrip"><img src="~/images/CemeteryPlots/CemeteryImages/@item.Image" alt=""></a></div>
                                }
                            }
                            else
                            {
                                <div class="item"><a href="~/images/CemeteryPlots/@Model.Image" data-lightbox="roadtrip"><img src="~/images/CemeteryPlots/@Model.Image" alt=""></a></div>
                            }
                        </div>
                        <div id="sync2" style="cursor:pointer" class="owl-carousel more-views owl-theme">
                            @if (Model.CemeteryImages.Count() > 0)
                            {
                                foreach (var item in Model.CemeteryImages)
                                {
                                    <div class="item"><img src="~/images/CemeteryPlots/CemeteryImages/@item.Image" alt=""></div>
                                }
                            }
                            else
                            {
                                <div class="item"><img src="~/images/CemeteryPlots/@Model.Image" alt=""></div>
                            }
                        </div>
                    </span>
                    <p class="btn-group">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#enquiry-form" class="enquiry-btn">Enquire Today</a>
                        <a href="@Url.Action("Index", "Market", new { id=Model.Id })" class="add-to-cart-btn">See Available Plots</a>
                    </p>
                    @Html.Raw(Model.Description)
                </div>
                <div class="btn-group">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#enquiry-form" class="enquiry-btn">Enquire Today</a>
                    <a href="@Url.Action("Index", "Market", new { id=Model.Id })" class="add-to-cart-btn">See Available Plots</a>
                </div>
                <div class="cememtery-map">
                    <a href="javascript:void(0)" class="add-to-cart-btn map-btn">Burial Plots From £4500</a><div style="height:400px" id="map"></div>
                </div>
                <div id="information-tab">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#1a" data-toggle="tab">key information</a>
                        </li>
                        <li>
                            <a href="#2a" data-toggle="tab">Location</a>
                        </li>
                        <li>
                            <a href="#3a" data-toggle="tab">Why choose @Model.Name</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            @Html.Raw(Model.KeyInformation)
                        </div>
                        <div class="tab-pane" id="2a">
                            <p>@Model.LocationDescription</p>
                        </div>
                        <div class="tab-pane" id="3a">
                            <p>@Html.Raw(Model.WhyChoose)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</div>
<input type="hidden" value="@Model.MapLocation" id="hidLocation" />
<!--enquiry Modal -->


<div class="modal fade" id="enquiry-form" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center-align">Enquiry Form</h3>
                <a href="#" class="js-modal-close close" data-dismiss="modal" style="margin-top:-40px;">×</a>

                <ul class="enquiry-form">
                    <li class="col-sm-12 col-md-4">
                        <label>First Name <span class="red">*</span>: </label>
                        <input type="text" name="" id="fName" placeholder="" class="radio1" required="">
                    </li>
                    <li class="col-sm-12 col-md-4">
                        <label>Last Name <span class="red">*</span>: </label>
                        <input type="text" name="" id="lName" class="radio1" placeholder="" required="">
                    </li>
                    <li class="col-sm-12 col-md-4">
                        <label>Date of Birth <span class="red">*</span>: </label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='date' class="form-control radio1" id="DOB" />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </li>
                    <li class="col-md-12">
                        <div class="checkbox-block">
                            <span class="labels">Religion :</span>
                            <label>
                                <input type="checkbox" class="radio" value="Muslim" name="" id="Muslim" />Muslim
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Christian" name="" id="Christian" />Christian
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Catholic" name="" id="Catholic" />Catholic
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Jewish" name="" id="Jewish" />Jewish
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Buddhism" name="" id="Buddhism" />Buddhism
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Hinduism" name="" id="Hinduism" />Hinduism
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Gnosticism" name="" id="Gnosticism" />Gnosticism
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Other" name="" id="Other" />Other
                            </label>
                        </div>
                    </li>
                    <li class="col-sm-12 col-md-6">
                        <label>Email <span class="red">*</span>: </label>
                        <input type="email" name="" placeholder="" class="radio1" required="" id="Email">
                    </li>
                    <li class="col-sm-12 col-md-6">
                        <label>Telephone <span class="red">*</span>: </label>
                        <input type="tel" name="" placeholder="" class="radio1" required="" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="Telephone">
                    </li>
                    <li class="col-md-12">
                        <label>Address : </label>
                        <textarea name="" id="Address" class="radio1"></textarea>
                    </li>
                    <li class="col-md-12">
                        <div class="checkbox-block">
                            <span class="labels">Current Funeral Plan Provider :</span>
                            <label>
                                <input type="checkbox" class="radio" name="" value="Avalon" id="Avalon" />Avalon
                            </label>
                            <label>
                                <input type="checkbox" class="radio" name="" value="Dignity" id="Dignity" />Dignity
                            </label>
                            <label>
                                <input type="checkbox" class="radio" name="" value="Golden Charter" id="Golden" />Golden Charter
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="from 50" name="" id="from" />from 50
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="Golden Leaves" name="" id="gLeaves" />Golden Leaves
                            </label>
                            <label>
                                <input type="checkbox" class="radio" name="" value="Co-operative" id="CoOperative" />Co-operative
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="None" name="" id="None" />None
                            </label>
                        </div>
                    </li>
                    <li class="col-md-12">
                        <label>Cemetery interested : </label>
                        <textarea name="" id="cemeteryInterested" class="radio1"></textarea>
                    </li>
                    <li class="col-md-12">
                        <div class="checkbox-block">
                            <span class="labels">Number of plots :</span>
                            <label>
                                <input type="checkbox" class="radio" value="1-2" name="" id="plot2" />1-2
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="2-4" name="" id="plot4" />2-4
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="4-6" name="" id="plot6" />4-6
                            </label>
                            <label>
                                <input type="checkbox" class="radio" value="6+" name="" id="plotMore" />6+
                            </label>
                        </div>
                    </li>
                    <li class="col-md-12">
                        <button class="add-to-cart-btn" style="width: 100% ; margin-left: 0; border-width: 0;" onclick="FormEnquiry();">Submit</button>
                        @*<input type="button" value="Submit" class="add-to-cart-btn" style="width: 100% ; margin-left: 0; border-width: 0;" onchange="SubmitEnquiry()">*@
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>